@import '../../responsive-utils';
@import '../../variables';

.descriptionContainer {
  padding: 5rem;

  border-top: 1px solid $grey;
}

.description {
  position: relative;
  max-width: 86rem;
  margin: 0 auto;

  text-align: center;

  @include responsive(sm) {
    text-align: left;
  }
}

.hiddenText {
  max-height: 20rem;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-shadow: inset 0 -7rem 5.5rem -1.5rem $body-bg;
  }
}

.title {
  margin: 0;

  font-size: 3rem;
  font-weight: 400;
}

.descriptionText {
  margin: 0;
  margin-top: 2.5rem;

  font-size: 1.6rem;
  line-height: 2.7rem;
  text-align: left;
}
