@import '../../responsive-utils';
@import '../../variables';

.mainContainer {
  padding-top: .5rem;
  padding-bottom: 4.5rem;
}

.infoContainer {
  padding: 0 3rem;
  margin-top: 3rem;

  text-align: center;

  @include responsive(sm) {
    padding: 0 5rem;
  }
}

.title {
  margin: 0;

  font-size: 2.4rem;

  @include responsive(sm) {
    font-size: 3rem;
  }
}

.fontSizeMd {
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: center;

  padding: 1rem 0;
}

.item {
  padding: 1rem 0;
}

.divider {
  border-bottom: 1px solid $grey;
}
