@import '../responsive-utils';
@import '../variables';

.title {
  margin-bottom: 0;

  font-weight: 300;
  line-height: 2.4rem;
  text-align: center;
}

.text {
  margin-bottom: 0;

  font-size: 1.6rem;
  font-weight: 300;
}

.textGrey {
  margin-bottom: 0;

  color: $boulder;
  font-size: $font-size-md;
  font-weight: 300;

  @include responsive(sm) {
    padding: 0 3rem;
  }
}

.modalBtn {
  position: relative;

  vertical-align: top;
}

.modalContent {
  top: 0;

  background: $brand-white;
  border-radius: 0;

  @include responsive(sm) {
    top: 10rem;

    border-radius: .4rem;
  }
}

.container {
  padding: 1.5rem 3rem 8rem;
}

.containerSuccess {
  padding: 6rem 1.5rem 8rem;
}

.iconLogo {
  width: 4rem;
  height: 3.5rem;

  fill: $brand-primary;
}
