@import '../responsive-utils';
@import '../variables';
.modalContainer {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  @include responsive(sm) {
    width: auto;
    vertical-align: baseline;
  }
}

.modalContainerLg {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  -webkit-overflow-scrolling: touch;
  @include responsive(sm) {
    vertical-align: baseline;
  }
}

.modalContent {
  top: 0;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* TODO: remove horizontal scroll by another way */
  -webkit-overflow-scrolling: touch;
  background: $brand-white;
  @include responsive(sm) {
    top: 6rem;
  }
}

.modalContentLanding {
  top: 0;
  max-height: 100vh;
  overflow-y: scroll;
  background: $brand-white;
  max-width: 40rem;
  @include responsive(sm) {
    top: 6rem;
  }
}

.callbackModal {
  max-height: 100vh;
  max-width: 100%;
  @include responsive(sm) {
    max-width: 48rem;
    top: 6rem;
    border-radius: .8rem;
  }
}

.modal {
  top: 0;
  z-index: 9999;
  -webkit-overflow-scrolling: touch;
}

.ranged {
  display: inline-block;
  width: 50%;
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.container {
  margin: 6rem 0 7.5rem;
}

.title {
  margin: 0;
  font-weight: 300;
  text-align: center;
}

.text {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
}

.textSm {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 300;
  @include responsive(sm) {
    padding: 0 3rem;
  }
}

.textGrey {
  color: #848484;
}

.select {
  width: 100%;
}

.btnGroup {
  width: 100%;
  margin-bottom: 1.7rem;
}

.btnLg {
  width: 50%;
  padding: 1.6rem 2.4rem;
  font-size: 1.4rem;
  &:hover,
  &:focus {
    background: $body-bg;
  }
  &.disabled {
    background: $body-bg;
    opacity: 1;
  }
  &:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    &:hover {
      z-index: 3;
    }
  }
}

.btn {
  padding: 1.7rem 0 .2rem;
  color: $brand-black;
  font-size: 1.4rem;
  background: transparent;
  border: none;
  border-bottom: 1px dashed $brand-black;
  border-radius: 0;
  &:hover,
  &:focus {
    background: transparent;
  }
}

.btnModal {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 15;
  font-size: 1.5rem;
  border-radius: 0;
  @include responsive(sm) {
    position: relative;
    border-radius: .4rem;
  }
}

.iconLogo {
  width: 4rem;
  height: 3.5rem;
  fill: $brand-primary;
}

.requestMore {
  display: none;
  &.isOpen {
    display: block;
  }
}

/* utils */

.pushedTop1_5 {
  margin-top: 1.5rem;
}

.pushedTop3_3 {
  margin-top: 3.3rem;
}

.pushedTop3 {
  margin-top: 3rem;
}

.pushedTop4 {
  margin-top: 4rem;
}

.paddingBottom_5 {
  padding-bottom: 1rem;
}

.zIndex4 {
  position: relative;
  z-index: 12;
}

.zIndex3 {
  position: relative;
  z-index: 11;
}
