@import '../responsive-utils';
@import '../variables';
.container {
  background: url('https://s3.eu-central-1.amazonaws.com/dt-marketing/assets/subscribe-bg.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
}

.content {
  padding: 6rem 2rem;
  color: $brand-white;
  text-align: center;
  @include responsive(md) {
    padding: 8rem 0;
  }
  @include responsive(lg) {
    padding: 10rem 0;
  }
}

.title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 300;
  @include responsive(md) {
    font-size: 2.8rem;
  }
}

.description {
  margin: 0;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  font-weight: 300;
  @include responsive(sm) {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.6rem;
    line-height: 1.8;
  }
}

.input {
  background: rgba(255, 255, 255, 0.1);
  color: $brand-white;
  margin-bottom: 2.2rem;
  border-radius: 10rem;
  &:focus {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $brand-white;
  }
  @include responsive(sm) {
    margin-bottom: 0;
  }
}

.input:invalid {
  background: rgba(232, 77, 77, 0.1);
  border-color: $brand-primary;
}

.btnDisabled {
  opacity: 0.7;
}