@import '../../responsive-utils';
@import '../../variables';

.brokerCard {
  align-items: center;
  margin: 0 -3rem 4rem;
  padding: 4.3rem 1.5rem 4.5rem;

  text-align: left;

  background: $brand-white;
  border-radius: .4rem;

  @include responsive(sm) {
    margin: 0;
    margin-bottom: 6rem;
    padding: 3rem 1.5rem;
  }
}

.brokerCardSettlement {
  align-items: center;
  padding: 3rem 0 2rem;
  padding-top: 0;

  text-align: left;

  border: none;

  @include responsive(sm) {
    padding-bottom: 3rem;
  }
}

.image {
  width: 12rem;
  height: 12rem;

  @include responsive(sm) {
    width: 9.6rem;
    height: 9.6rem;
  }

  @include responsive(lg) {
    width: 12rem;
    height: 12rem;
  }
}

.divider {
  display: none;

  @include responsive(sm) {
    display: block;
    margin: 0;
    margin-bottom: 2.5rem;

    border-color: $grey;
  }
}

.name {
  margin: 0;

  font-weight: 400;
}

.phone {
  composes: title from '../typography.css';

  display: inline-block;
  margin: 0;
  margin-top: .5rem;

  text-decoration: none;

  &:hover,
  &:focus {
    color: $brand-black;
    text-decoration: none;
  }
}

.description {
  margin: 0;

  color: #7d8487;
  line-height: 1;
}

/* utils */

.pushedTop1_5 {
  margin-top: 1.5rem;
}

.pushedBottom1_5 {
  margin-bottom: 1.5rem;
}

.pushedTopXs2_5 {
  margin-top: 2.5rem;

  @include responsive(sm) {
    margin-top: 0;
  }
}

.pushedBottom {
  margin-bottom: 3rem;

  @include responsive(sm) {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}
