@import '../variables';
@import '../responsive-utils';

.container {
  padding: 5.5rem 0 6.7rem;

  @include responsive(sm) {
    padding-top: 6.7rem;
  }

  @include responsive(md) {
    padding-top: 9.5rem;
  }
}

.title {
  margin: 0;

  font-size: 3rem;
  line-height: 3.6rem;

  @include responsive(sm) {
    font-size: 4rem;
    line-height: 3.9rem;
  }

  @include responsive(md) {
    font-size: 4.8rem;
  }
}

.textMd {
  margin: 0;
  margin-top: 2.5rem;

  color: $boulder;
  font-size: 1.8rem;

  @include responsive(sm) {
    margin-top: 2.8rem;
  }

  @include responsive(md) {
    font-size: 2rem;
  }
}

.text {
  margin: 0;

  color: $boulder;
  font-size: 1.6rem;
}

.textGrey {
  margin: 0;
  margin-top: 3rem;

  color: $star-dust;
  font-size: 1.4rem;
}

.textBlack {
  color: $brand-black;
}

.textGreySm {
  margin-bottom: 0;

  color: $boulder;
  font-size: 1.4rem;
  font-weight: 300;
}

.link {
  color: $brand-black;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4.5rem;
  text-transform: none;

  @include responsive(sm) {
    display: inline-block;
    margin-top: .5rem;
    font-size: 3rem;
  }
}

.input {
  padding: 1.6rem 1.5rem;
}

.iconLogo {
  width: 4rem;
  height: 3.5rem;

  fill: $brand-primary;
}

.dividerTop {
  position: relative;
  padding-top: 3.5rem;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.5rem;
    left: -1.5rem;

    height: 1px;

    background: $grey;
  }

  @include responsive(sm) {
    padding-top: 4rem;

    &:after {
      left: 3rem;
      right: 3rem;
    }
  }

  @include responsive(sm) {
    &:after {
      left: 0;
      right: 0;
    }
  }
}

.image {
  transform: scaleX(-1);
}

.textCenter {
  text-align: center;

  @include responsive(sm) {
    text-align: left;
  }
}
