@font-face {
  font-family: 'Geometria';
  src:
  url('landing/styles/fonts/Geometria-Thin.woff') format('woff'),
  url('landing/styles/fonts/geometria-thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src:
  url('landing/styles/fonts/Geometria-ExtraLight.woff') format('woff'),
  url('landing/styles/fonts/geometria-extralight-webfont.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src:
  url('landing/styles/fonts/Geometria-light.woff') format('woff'),
  url('landing/styles/fonts/geometria-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src:
  url('landing/styles/fonts/Geometria.woff') format('woff'),
  url('landing/styles/fonts/geometria-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src:
  url('landing/styles/fonts/Geometria-Medium.woff') format('woff'),
  url('landing/styles/fonts/geometria-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src:
  url('landing/styles/fonts/Geometria-Bold.woff') format('woff'),
  url('landing/styles/fonts/geometria-bold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src:
  url('landing/styles/fonts/Geometria-ExtaBlack.woff') format('woff'),
  url('landing/styles/fonts/geometria-extablack-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src:
  url('landing/styles/fonts/Geometria-Heavy.woff') format('woff'),
  url('landing/styles/fonts/geometria-heavy-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
