/* colors */

$brand-primary: #ff4c4e;
$brand-danger:  #fe5254;
$brand-default: #cccccc;
$brand-success: #00c853;
$brand-warning: #ff9800;
$brand-info:    #5bc0de;
$brand-white:   #ffffff;
$brand-black:   #252525;

$brand-primary-hover: #f24345;
$brand-primary-focus: #e53e40;
$brand-success-hover: #00b44b;
$brand-success-focus: #00a745;

$body-bg:   #f5f5f5;
$footer-bg: #252525;

$light-red:       #fff8f8;
$boulder:         #7c7c7c;
$masala:          #3e3e3e;
$nobel:           #b5b5b5;
$dove-gray:       #636363;
$star-dust:       #9b9b9b;
$silver:          #aaaaaa;
$grey:            #e8e8e8;
$grey-extra:      #c2c2c2;
$grey-light:      #e3e3e3;
$grey-lighter:    #e2e2e2;
$gallery:         #edecec;
$alto:            #dddddd;
$grey-darker:     #d8d8d8;
$grey-dark:       #4a4a4a;
$grey-extra-dark: #8b8b8b;
$black:           #000000;
$scorpion:        #5a5a5a;
$silver-chalice : #afafaf;
$grey-blue:       #687981;
$hollow:          #424242;

/* sizes */

$font-size-md: 1.4rem;
$font-color: #3a3a3a;
