@import '../responsive-utils';
@import '../variables';

.container {
  padding: 0;

  @include responsive(md) {
    padding: 1.5rem;
  }

  transition: .1s;

  &:hover {
    opacity: .9;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;

  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    box-shadow: 0 -120px 40px rgba(11, 11, 11, .5) inset;
  }
}

.background {
  background-size: cover;
  background-position: center;

  min-height: 24rem;
}

.badge {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 2;

  color: $brand-white;
  font-size: 1.4rem;
  padding: 1.1rem 1.2rem .9rem;

  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.content {
  position: absolute;
  bottom: 3rem;
  z-index: 2;

  padding: 0 3rem;

  color: $brand-white;
  text-align: left;
}

.price {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;

  margin: 0;
}

.text {
  font-size: 1.6rem;
  font-weight: 500;

  margin: 0;
  margin-top: 1rem;
}

.area {
  margin-left: 2rem;

  font-family: 'Helvetica Neue';
}
