@import '../responsive-utils';
@import '../variables';

.filterContainer {
  text-align: center;

  padding: 0;
  padding-bottom: 2rem;

  @include responsive(sm) {
    padding-bottom: 1rem;
  }
}

.titleNotFound {
  composes: resetIndent from 'site/styles/utils.css';

  margin-top: 4rem;
  margin-bottom: 4rem;

  color: $grey-extra-dark;
  font-size: 1.6rem;
  text-align: center;

  @include responsive(sm) {
    font-size: 2rem;
  }

  @include responsive(md) {
    font-size: 1.6rem;
  }
}

.textMd {
  composes: titleNotFound;

  width: 100%;

  font-size: 1.8rem;
  text-align: center;
}

.inputFilterContainer {
  font-family: 'Helvetica Neue';
  color: $brand-black;
  text-align: center;
  white-space: nowrap;

  padding: 0 .7rem;

  @include responsive(sm) {
    display: inline-block;
    vertical-align: top;
    text-align: left;

    margin-right: 3.5rem;
  }
}

.input {
  position: relative;
  width: 45%;
  max-width: 14rem;

  padding: .7rem 1.2rem;
}

.dash {
  display: inline-block;
  vertical-align: top;

  font-size: 1.6rem;
  color: $dove-gray;

  margin: .6rem .3rem;

  @include responsive(sm) {
    margin: .6rem 1rem;
  }
}

.hollowBtnContainer {
  width: 100%;

  padding: 0 .5rem;
  text-align: center;

  @include responsive(sm) {
    margin-top: 2rem;
  }
}

.hollowBtn {
  display: inline-block;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1.1rem 2rem .9rem;

  color: $hollow;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;

  border-radius: 10rem;
  border: none;

  background: #f5f5f5;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: $hollow;
    background: rgba(0, 0, 0, .08);
  }

  &.active {
    color: $brand-white;
    background: $hollow;
  }

  @include responsive(sm) {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  @include responsive(md) {
    margin-bottom: 1rem;

    font-size: 1.6rem;
  }
}

.btnClearAll {
  display: inline-block;
  margin-right: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 2.5rem;

  font-size: 1.6rem;
  color: $brand-white;
  vertical-align: top;

  background: $brand-primary;
  border-radius: 10rem;
  cursor: default;

  @include responsive(sm) {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &:hover,
  &:focus {
    background: $brand-primary;
    color: $brand-white;
    cursor: pointer;
  }
}

.notFoundContainer {
  background: $body-bg;

  padding: 6rem 3rem;
  margin-bottom: 2rem;

  font-size: 1.6rem;
  text-align: center;

  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
}

.notFoundBtn {
  display: block;
  margin: 0 auto;

  border: none;
  padding: 1rem 1.5rem .3rem;

  font-size: 1.6rem;
  color: $brand-primary;

  &:hover,
  &:focus {
    background: transparent;
    color: $brand-primary;
  }
}

.select {
  width: 45%;
  min-width: 14rem;
  padding: 1rem 1.5rem;

  font-size: 1.4rem;
  color: $dove-gray;

  background: $brand-white;
  border: 1px solid $grey-darker;
  box-shadow: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

.select option[disabled] {
  display: none;
}
