@import '../responsive-utils';
@import '../variables';

.container {
  padding-top: 6rem;
  text-align: center;
}

.title {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 2.4rem;

  @include responsive(sm) {
    font-size: 4rem;
  }

  @include responsive(md) {
    font-size: 4.8rem;
  }
}

.btnContainer {
  margin-bottom: 4.5rem;

  .btn:first-child {
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
  }

  .btn:last-child {
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
  }
}

.btn {
  color: $brand-primary;
  background: transparent;

  border: 1px solid $brand-primary;

  padding: 1.9rem 2.5rem 1.7rem;

  &:hover,
  &:focus {
    color: $brand-primary;
    background: transparent;
  }
}

.btnActive {
  background: $brand-primary;
  color: $brand-white;

  &:hover,
  &:focus {
    color: $brand-white;
    background: $brand-primary;
  }
}

.tabsContainer {
  margin: 2rem 0 3rem;

  border-bottom: 1px solid $grey;

  @include responsive(sm) {
    margin-bottom: 0;
  }
}

.tabBtn {
  color: $star-dust;
  font-size: 1.4rem;

  border: none;
  border-radius: 0;

  padding: 1.5rem 1rem;
  margin-bottom: -1px;

  &:hover,
  &:focus {
    color: $star-dust;
    background: transparent;
  }
}

.tabBtnActive {
  color: $brand-primary;
  border-bottom: 2px solid $brand-primary;

  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

.loadMoreBtn {
  padding: 1.1rem 2.2rem 1rem;
  margin-top: 2rem;

  border-radius: 10rem;
  border: none;

  background: $brand-primary;
  color: $brand-white;

  font-family: 'Helvetica Neue';

  &:hover,
  &:focus {
    color: $brand-white;
    background: $brand-primary-hover;
  }
}
