{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreStrings": true,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true
      }
    ]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "google": true,
    "uploadcare": true,
    "NODE_ENV": true,
    "APP_ENV": true,
    "Bugsnag": true,
    "mapboxgl": true,
    "Raven": true,
    "analytics": true,
    "yaCounter": true
  }
}
