{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreStrings": true,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true
      }
    ]
  },
  "env": {
    "browser": true
  }
}
