version: '3'
services:
    myapp:
        build: .
        restart: always
        env_file:
            - local.env
        container_name: "rest_api"
        volumes:
            - .:/home/app
        ports:
            - 5000:5000
        depends_on:
            - postgres
    postgres:
        image: postgres:11.1
        container_name: "postgres"
