@import '../variables';

.title {
  margin: 0;
  margin-bottom: 2rem;

  font-size: 1.4rem;
  font-weight: 400;
}

.description {
  margin: 0;
  margin-bottom: .5rem;

  font-size: 1.4rem;
}

.row {
  padding-top: .3rem;
  padding-bottom: 1.2rem;

  border-bottom: 1px solid #e0e0e0;
}

.column {
  min-height: 100vh;

  border-right: 1px solid #e0e0e0;
}

/* kind */

.primary {
  color: $brand-primary;
}

.success {
  color: $brand-success;
}

.warning {
  color: $brand-warning;
}
