@import "../responsive-utils";
@import "../variables";

.card {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 -1.5rem;
  padding: 0;
  color: $brand-black;
  text-decoration: none;
  white-space: nowrap;
  background: $brand-white;
  border: 0;
  overflow: hidden;
  transition: all 0.3s;

  &:hover,
  &:focus {
    z-index: 2;
    color: $brand-black;
    text-decoration: none;
    border-color: $silver-chalice;
  }

  @include responsive(sm) {
    margin: -1px -1.5rem 0 -1.6rem;
    padding: 3rem;
    padding-bottom: 1rem;
    border: 1px solid $grey;
  }
}

.settlementCard {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 -1.5rem;
  padding: 3rem;
  padding-bottom: 2rem;
  color: $brand-black;
  text-decoration: none;
  white-space: nowrap;
  background: $brand-white;
  border: 1px solid $grey;
  transition: all 0.3s;

  &:hover .imageOverlay {
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: $brand-black;
    text-decoration: none;
  }

  @include responsive(sm) {
    margin: -1px -1.5rem 0 -1.6rem;
  }

  @include responsive(md) {

    &:hover,
    &:focus {
      z-index: 2;
      border-color: $silver-chalice;
    }
  }
}

.cardRequest {
  display: block;
  min-height: 34.4rem;
  margin: 0 -1.5rem;
  color: $brand-black;
  text-align: center;
  text-decoration: none;
  background: $body-bg;
  border: 1px solid $grey;

  @include responsive(sm) {
    margin: -1px -1.5rem 0 -1.6rem;
    padding: 7rem 3rem 0;
  }
}

.descriptionContainer {
  position: absolute;
  right: 0;
  bottom: 1.3rem;
  left: 0;
  z-index: 2;
  padding-left: 1.5rem;
  text-align: left;

  @include responsive(sm) {
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;
    padding-left: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -3rem;
      bottom: 0;
      width: 6rem;
      height: 2rem;
      box-shadow: inset -3rem 0 2rem 0 rgba(255, 255, 255, 1);
      z-index: 2;
    }
  }
}

.imageContainer {
  position: relative;
  margin: 0;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
  }

  @include responsive(sm) {
    margin-bottom: 2.5rem;

    &:after {
      box-shadow: none;
    }
  }
}

.imageOverlay {
  width: 100%;
  height: 100%;
  min-height: 25rem;
  padding: 4rem 0 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: $brand-white;
  font-size: 1.6rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlayText {
  margin: 0;
  line-height: 1;
  font-size: 1.6rem;
}

.image {
  width: 100%;
  min-height: 25rem;
  max-height: 25rem;
  fill: $gallery;

  @include responsive(xs) {
    min-height: 40rem;
    max-height: 40rem;
  }

  @include responsive(sm) {
    min-height: 24.5rem;
    max-height: 24.5rem;
  }
}

.images {
  position: relative;
  width: 100%;
  min-height: 25rem;
  background: transparent center center no-repeat;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include responsive(xs) {
    min-height: 40rem;
  }

  @include responsive(sm) {
    min-height: 20rem;

    &:after {
      box-shadow: none;
    }
  }

  @include responsive(lg) {
    min-height: 25rem;
    max-height: 25rem;
  }
}

.list {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-right: 1.5rem;
  padding: 0;
  padding-right: 1.5rem;

  &:after {
    content: "";
    position: absolute;
    top: 1.8rem;
    right: 0;
    display: block;
    width: 1px;
    height: 1.3rem;
    background: $grey;
    opacity: 0.5;

    @include responsive(sm) {
      opacity: 1;
    }
  }

  &:last-child {
    margin: 0;
    padding: 0;

    &:after {
      display: none;
    }
  }

  @include responsive(sm) {
    &:after {
      top: 100%;
    }
  }
}

.listTitle {
  margin: 0;
  margin-bottom: 0.8rem;
  color: $grey-dark;
  font-weight: 400;
  line-height: 1;
}

.listItem {
  margin: 0;
  color: $brand-white;
  font-size: 1.5rem;
  line-height: 1;

  @include responsive(sm) {
    color: $brand-black;
    font-size: 1.4rem;
  }
}

/* TODO: maybe need to remove other
* new styles for list in card
*/

.cardList {
  composes: resetIndent from "site/styles/utils.css";
  list-style: none;
}

.cardListItem {
  display: inline-block;
  color: $brand-white;
  font-size: 1.6rem;
  line-height: 1;

  &:first-child {
    margin-right: 3.5rem;
  }

  @include responsive(sm) {
    color: $brand-black;
  }
}

.cardListIcon {
  position: relative;
  top: 0.1rem;
  margin-right: 1rem;
  fill: $brand-white;

  @include responsive(sm) {
    fill: $nobel;
  }
}

.badge {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 2;
  color: $brand-white;
  font-size: 1.4rem;
  padding: 1.1rem 1.2rem 0.9rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;

  @include responsive(sm) {
    top: 3rem;
    left: 0;
    right: unset;
    z-index: 2;
    color: $brand-white;
    font-size: 1.4rem;
    padding: 1.1rem 1.2rem 0.9rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* end */

.price {
  color: $brand-white;
  font-weight: 500;

  @include responsive(sm) {
    color: $brand-black;
    font-weight: 700;
  }
}

.location {
  position: absolute;
  width: 100%;
  top: 2rem;
  left: 1rem;
  z-index: 2;
  padding-right: 1.5rem;
  color: $brand-black;
  line-height: 1;
  overflow: hidden;
  white-space: normal;

  @include responsive(sm) {
    position: relative;
    top: 0;
    left: 0;
    padding-right: 0;
    white-space: nowrap;
  }
}

.subLocality {
  margin: 0;
  margin-bottom: 0.5rem;
  color: $brand-white;
  font-size: 1.8rem;

  @include responsive(sm) {
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    color: $dove-gray;
    line-height: 1;
  }
}

.settlementName {
  font-size: 2.6rem;
  margin: 0 0 1.5rem;

  @include responsive(sm) {
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

.locationSettlement {
  padding-right: 1.5rem;
  color: $brand-black;
  line-height: 1;
  overflow: hidden;
  white-space: normal;

  @include responsive(sm) {
    padding-right: 0;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: 10rem;
      box-shadow: inset -7.5rem 0 5rem -2rem rgba(255, 255, 255, 1);
    }
  }
}

.subLocalitySettlement {
  margin: 0;
  color: $dove-gray;
  font-size: 1.6rem;
  display: inline-block;

  @include responsive(sm) {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    line-height: 1.5;
  }
}

.locality {
  margin: 0;
  margin-top: 1rem;
  color: $brand-white;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.1;
  white-space: nowrap;

  @include responsive(sm) {
    color: $brand-black;
    font-size: 2rem;
    font-weight: 400;
  }
}

.btn {
  min-width: 22.6rem;
  font-size: 1.6rem;
  border-radius: 2.5rem;
}

.textTruncate {
  display: inline-block;
  max-width: 75%;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  text-overflow: ellipsis;
}

.cardRequestTitle {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 400;
}

.titleMd {
  line-height: 2.6rem;
}

.titleLg {
  composes: resetIndent from "site/styles/utils.css";
  margin-top: 0.7rem;
  color: $brand-white;
  font-size: 2.2rem;
  font-weight: 600;

  @include responsive(sm) {
    color: $brand-black;
  }
}

.titleSettlement {
  color: $brand-black;
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.textSm {
  margin: 0;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.textLg {
  margin: 0;
  margin-top: 0.7rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: inherit;

  @include responsive(lg) {
    font-size: 3.1rem;
  }
}

.textGrey {
  color: $brand-white;

  @include responsive(sm) {
    color: $star-dust;
  }
}

.iconHouse {
  width: 1.48rem;
  height: 1.43rem;
}

.iconLand {
  width: 1.34rem;
  height: 1.33rem;
}

.divider {
  position: relative;
  margin-top: 4rem;
  padding-top: 3.5rem;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: $grey;
  }
}

.totalProperties {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: $brand-white;

  @include responsive(sm) {
    color: $brand-black;
  }
}

/* TODO: move it to utils */

.paddingBottomSm2 {
  @include responsive(sm) {
    padding-bottom: 2rem;
  }
}

.bottom1_8 {
  bottom: 1.8rem;

  @include responsive(sm) {
    bottom: auto;
  }
}

.alignCenter {
  text-align: left;

  @include responsive(sm) {
    text-align: center;
  }
}

.pushedTopXs1_7_Sm2_5 {
  margin-top: 1.7rem;

  @include responsive(sm) {
    margin-top: 2.5rem;
  }
}

.pushedTopXs1Sm1_7 {
  margin-top: 1rem;

  @include responsive(sm) {
    margin-top: 1.7rem;
  }
}

.percentageWidth {
  display: inline-block;
  width: 25%;
  white-space: nowrap;
}
