@font-face {
  font-family: 'FSElliotPro';
  src: url('fonts/FSElliotPro.eot');
  src: url('fonts/FSElliotPro.woff2') format('woff2'),
    url('fonts/FSElliotPro.woff') format('woff'),
    url('fonts/FSElliotPro.ttf') format('truetype'),
    url('fonts/FSElliotPro.svg#FSElliotPro-Bold') format('svg'),
    url('fonts/FSElliotPro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FSElliotPro';
  src: url('fonts/FSElliotPro-Bold.eot');
  src: url('fonts/FSElliotPro-Bold.woff2') format('woff2'),
    url('fonts/FSElliotPro-Bold.woff') format('woff'),
    url('fonts/FSElliotPro-Bold.ttf') format('truetype'),
    url('fonts/FSElliotPro-Bold.svg#FSElliotPro-Bold') format('svg'),
    url('fonts/FSElliotPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}