@import '../../responsive-utils';
@import './variables';

.text {
  max-width: 86.5rem;
  padding-left: 4.7rem;

  font-weight: 300;

  border-left: 3px solid $brand-primary;

  @include responsive(sm) {
    padding-right: 0;
    font-size: 2rem;
    line-height: 4.2rem;
  }

  @include responsive(md) {
    padding-right: 12rem;
    font-size: 2.2rem;
    line-height: 4.4rem;
  }

  @include responsive(lg) {
    padding-right: 0;
  }
}

.tab {
  position: relative;
  z-index: 2;

  display: inline-block;
  margin-right: 3.5rem;
  padding-bottom: 2.2rem;

  font-size: 1.6rem;
  vertical-align: top;
  white-space: nowrap;

  border-bottom: 3px solid transparent;
  cursor: pointer;

  transition: border .2s ease-in;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.tabActive {
    border-color: $brand-primary;
  }

  @include responsive(sm) {
    margin-right: 4.5rem;
    padding-bottom: 1.4rem;

    font-size: 2.2rem;

    &:last-child {
      display: none;
    }
  }

  @include responsive(md) {
    margin-right: 7rem;

    &:last-child {
      display: inline-block;
      margin-right: 0;
    }
  }
}
