@import '../responsive-utils';
@import '../variables';

.card {
  position: relative;

  display: block;
  margin: 0 -3rem 2rem;

  color: inherit;
  text-decoration: none;

  background: $brand-white;
  border-bottom: 1px solid $grey;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  @include responsive(sm) {
    margin: 0 0 2rem;

    border: none;
  }
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  min-width: 29rem;
  padding: 2.5rem 1.5rem;

  @include responsive(md) {
    min-height: 35rem;
    padding: 2.5rem 3rem;
  }
}

.image {
  width: 100%;
  height: auto;

  @include responsive(md) {
    min-width: 50%;
    min-height: 36rem;
    max-height: 35rem;
  }
}

.imagePlaceholder {
  fill: $gallery;
  min-width: auto;
  max-height: 29rem;

  @include responsive(md) {
    min-width: 51.2rem;
    max-height: 35rem;
  }
}

.title {
  composes: title from '../typography.css';

  margin: 0;

  font-weight: 400;
}

.description {
  display: block;
  margin-top: 2rem;
}

.placeAbout {
  align-self: flex-end;
  width: 100%;
}

.list {
  margin: 0;
  margin-top: 2rem;

  border: none;

  @include responsive(sm) {
    border-right: 1px solid $grey;
  }
}

.listTitle {
  color: $grey-extra;
  font-weight: 400;
  line-height: 1.5;
}

.listItem {
  composes: title from '../typography.css';

  padding: 0;
}

/* utils */

.pushedTop {
  margin-top: 3rem;
}

.resetBorder {
  border: none;
}
