@import '../responsive-utils';
@import '../variables';

.modalContainer {
  min-height: 100%;
  padding: 3rem 0 4rem;

  @include responsive(md) {
    padding-top: 4.8rem;
  }
}

.filterContainer {
  text-align: left;

  padding: 0;
  padding-bottom: 2rem;

  @include responsive(sm) {
    padding-bottom: 1rem;
  }
}

.tabsContainer {
  margin-top: 2rem;
  width: 100%;
  padding: 0 3rem;

  border-bottom: 1px solid rgba(105, 121, 129, 0.5);

  @include responsive(md) {
    margin-top: 0;
  }
}

.tabButton {
  padding: 1.5rem 2rem;

  color: rgba(105, 121, 129, 0.5);
  font-size: 1.6rem;

  border: none;

  &:hover,
  &:focus {
    background: transparent;
    color: rgba(105, 121, 129, 0.5);
  }
}

.btnActive {
  margin-bottom: -1px;

  color: rgba(105, 121, 129, 1);

  border-radius: 0;
  border-bottom: 2px solid rgba(105, 121, 129, 1);

  &:hover,
  &:focus {
    color: rgba(105, 121, 129, 1);
  }
}

.title {
  margin: 0;
  margin-bottom: 2rem;

  font-size: 2.2rem;
  font-weight: 500;
}

.titleLg {
  margin-top: 1rem;
  margin-bottom: 0;

  font-size: 2.7rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-transform: uppercase;

  @include responsive(sm) {
    margin-top: 1.7rem;
    margin-bottom: 0.5rem;

    font-size: 3.6rem;
    line-height: 1.5;
  }

  @include responsive(md) {
    font-size: 3.6rem;
  }
}

.subTitle {
  margin: 0;
  margin-top: 0.5rem;

  font-size: 1.8rem;
  font-weight: 300;

  @include responsive(md) {
    margin: 0;
    margin-top: 0.3rem;

    font-size: 2rem;
  }
}

.titleNotFound {
  composes: resetIndent from 'styles/utils.css';

  margin-top: 4rem;
  margin-bottom: 4rem;

  color: $grey-extra-dark;
  font-size: 1.6rem;
  text-align: center;

  @include responsive(sm) {
    font-size: 2rem;
  }

  @include responsive(md) {
    font-size: 1.6rem;
  }
}

.textMd {
  composes: titleNotFound;

  width: 100%;

  font-size: 1.8rem;
  text-align: center;
}

.avatar {
  vertical-align: top;

  border-radius: 50%;
}

.label {
  display: inline-block;
  margin-bottom: 0.3rem;

  font-size: 1.5rem;
  font-weight: 500;
}

.labelPrimary {
  composes: label;

  color: rgba(105, 121, 129, 0.5);

  margin-bottom: 1.2rem;
}

.checkbox {
  font-size: 1.5rem;

  background: transparent;

  user-select: none;
}

.checkboxControl {
  width: 2.5rem;
  height: 2.5rem;

  background: $brand-white;
  border-color: $grey;
  cursor: pointer;

  &:checked {
    background: $brand-white
      url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTIgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+U2hhcGU8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSJjb21wbGV4ZXMvc2VhcmNoL3ZlcjItY29weS0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTgxLjAwMDAwMCwgLTg1Ny4wMDAwMDApIiBmaWxsPSIjRkY0QzRFIj4gICAgICAgICAgICA8cGF0aCBkPSJNNTkyLjU2MDA4NSw4NTguMjgzMDA4IEM1OTIuNjI2NDMxLDg1OC4zNDE3NzEgNTg1LjcwNDQwNSw4NjcuMDY0NzU0IDU4NS42NTUyMTgsODY3LjA1OTk0MSBDNTg1LjYyMzY2OCw4NjcuMDU3Mjc2IDU4MC45NDUxNjQsODYyLjkxOTY2IDU4MS4wMDA0ODcsODYyLjg1MDA2NiBMNTgyLjIzMDU1LDg2MS40Mzc2MiBDNTgyLjI4NjIyLDg2MS4zNjc1ODggNTg1LjUwMjE4MSw4NjQuMjc3NzEyIDU4NS41MDIxODEsODY0LjI3NzcxMiBDNTg1LjUwMjE4MSw4NjQuMjc3NzEyIDU5MS4wNjYzNzcsODU2Ljk0MTk1MSA1OTEuMTMyMzA4LDg1Ny4wMDAzNDcgTDU5Mi41NjAwODUsODU4LjI4MzAwOCBaIiBpZD0iU2hhcGUiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==')
      center center no-repeat;
    border-color: $grey;
    outline: none;
  }
}

.inputFilterContainer {
  color: $brand-black;
  text-align: center;
  white-space: nowrap;

  padding: 0 0.7rem;

  @include responsive(sm) {
    display: inline-block;
    vertical-align: top;
    text-align: left;

    margin-right: 2rem;
  }
}

.inputRoutes {
  padding: 1.5rem 2rem;
  width: 94%;

  font-size: 1.6rem;

  &::-webkit-input-placeholder {
    color: #a9a9a9;
  }

  &:-moz-placeholder {
    color: #a9a9a9;
  }

  &::-moz-placeholder {
    color: #a9a9a9;
  }

  &:-ms-input-placeholder {
    color: #a9a9a9;
  }

  &::-ms-input-placeholder {
    color: #a9a9a9;
  }

  &:hover,
  &:focus {
    border-color: $star-dust;
  }

  @include responsive(md) {
    max-width: 34rem;
    margin-bottom: 2rem;
  }
}

.btnContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  display: block;
}

/* btn */

.btnGroup {
  position: relative;
  z-index: 1;

  width: 25%;
  padding: 1.5rem 2rem;

  background: $brand-white;

  &:hover,
  &:focus {
    color: $brand-black;

    background: $body-bg;
  }

  &.active {
    z-index: 2;

    color: $brand-black;

    background: $brand-white;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 2px;

      background: $brand-primary;
    }

    &:first-child {
      &:after {
        border-bottom-left-radius: 0.4rem;
      }
    }

    &:last-child {
      &:after {
        border-bottom-right-radius: 0.4rem;
      }
    }
  }
}

.btnMd {
  position: absolute;
  top: 0;
  right: 8%;

  width: auto;
  margin-top: 0;
  padding: 2rem;
  padding-left: 2rem;

  border: none;
  border-radius: 0;

  &:hover,
  &:focus {
    background: transparent;
  }

  @include responsive(sm) {
    color: $brand-black;
    font-size: 1.6rem;

    &:after {
      content: '';
      position: absolute;
      top: 1.3rem;
      bottom: 1.3rem;
      left: 0;

      width: 1px;

      background: #d4d4d4;
    }

    &:hover,
    &:focus {
      background: transparent;
    }
  }

  @include responsive(md) {
    right: 3rem;
  }
}

.btnReset {
  position: relative;

  display: none;
  margin-left: 2rem;
  padding: 0.5rem;

  color: $brand-white;
  font-size: 1.6rem;

  background: transparent;
  border: none;

  &:after {
    content: '';
    position: absolute;
    top: -2rem;
    bottom: -2rem;
    left: -1.5rem;

    width: 1px;

    background: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    color: $brand-white;

    background: transparent;
  }

  @include responsive(md) {
    display: inline-block;
  }
}

.sliderContainer {
  position: relative;

  padding-top: 0.5rem;

  @include responsive(sm) {
    padding-top: 1rem;
  }

  @include responsive(md) {
    padding-top: 1.5rem;
  }
}

/* icon */

.iconTimes {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: -5px;
  margin-bottom: -3px;
  margin-left: 0.4rem;

  vertical-align: bottom;

  fill: $brand-primary;

  transition: fill 0.3s;
}

/* utils */

.flex {
  display: flex;
}

.extraPadding {
  padding: 0 1.5rem;

  @include responsive(md) {
    padding: 0 4.5rem;

    &:first-child {
      padding-left: 1.5rem;
    }

    &:last-child {
      padding-right: 1.5rem;
    }
  }
}

.extraPadding0_3 {
  @include responsive(sm) {
    padding: 0 3rem;
  }
}

.extraPaddingXs0_3Sm0 {
  padding: 0 3rem;

  @include responsive(sm) {
    padding: 0;
  }
}

.textGrey {
  color: $star-dust;
}

.textSm {
  margin: 2rem 0;

  font-size: 1.5rem;
}

.grid {
  margin: 0;
  margin-top: 1rem;
  padding: 0;

  list-style: none;

  @include responsive(sm) {
    margin-bottom: 2rem;
  }
}

.column {
  width: 100%;
  margin-top: 2rem;
}

.indent {
  margin-top: -2rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

.fixHeight {
  @include responsive(md) {
    min-height: 27rem;
    max-height: 27rem;
    overflow-y: scroll;
  }
}

.paddingTop2_3Bottom2_3 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;

  @include responsive(md) {
    padding-bottom: 0;
  }
}

.textPrimary {
  @include responsive(md) {
    color: rgba(255, 255, 255, 0.5);
  }
}

.textWhite {
  @include responsive(md) {
    color: rgba(255, 255, 255, 1);
  }
}

.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  margin: auto;

  @include responsive(sm) {
    max-width: 70rem;
  }

  @include responsive(md) {
    max-width: 80rem;
  }
}

.input {
  width: 100%;
  height: 100%;
  padding: 1.6rem 6.5rem;

  min-height: 5.8rem;

  font-size: 1.6rem;

  border-radius: 0;
  border-left: none;
  border-right: none;

  @include responsive(sm) {
    max-width: 57rem;

    border: 1px solid $grey;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  @include responsive(md) {
    max-width: 67rem;
  }
}

.inputFilter {
  width: 45%;
  max-width: 14rem;

  padding: 0.7rem 1.2rem;

  @include responsive(sm) {
    margin-bottom: 2rem;
  }
}

.distanceTitle {
  display: none;

  @include responsive(sm) {
    display: inline-block;
    vertical-align: top;

    font-size: 1.6rem;
    color: $dove-gray;

    margin: 0.6rem 1rem;
  }
}

.hollowBtnContainer {
  white-space: nowrap;
  text-align: center;
  margin-top: 2rem;

  width: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include responsive(sm) {
    white-space: normal;
  }
}

.filterBtnContainer {
  white-space: nowrap;
  text-align: center;

  width: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include responsive(sm) {
    display: inline-block;
    white-space: normal;
    text-align: left;
  }
}

.inputTips {
  position: absolute;
  top: 6rem;
  left: 0;
  z-index: 3;

  width: 100%;

  padding: 0.5rem 3rem 1rem;

  background: $brand-white;

  border: 1px solid $grey;
  border-radius: 0.4rem;

  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);

  @include responsive(sm) {
    max-width: 56.5rem;
  }

  @include responsive(md) {
    max-width: 66.5rem;
  }
}

.tipsTitle {
  font-size: 1.6rem;
  line-height: 1;
  color: rgba(86, 105, 115, 1);
}

.tipsText {
  display: block;

  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(86, 105, 115, 1);
  line-height: 1;

  margin-bottom: 1.2rem;

  cursor: pointer;

  &:hover {
    color: $brand-primary;
    transition: 0.2s;
  }
}
