@import '../../variables';
@import '../../responsive-utils';

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;

  list-style: none;
  text-align: center;

  @include responsive(sm) {
    flex-wrap: nowrap;
  }
}

.listItem {
  position: relative;

  width: 100%;
  margin-bottom: 3.2rem;
  padding-bottom: 2.8rem;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 50%;

    width: 11.8rem;
    height: 1px;

    background: $grey;
    transform: translateX(-50%);

    @include responsive(sm) {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;

      width: 1px;
      height: auto;
    }
  }

  @include responsive(sm) {
    margin-bottom: 4rem;
    padding-bottom: 0;

    &:last-child {
      margin-bottom: 4rem;
      padding-bottom: 0;
    }
  }
}

.text {
  margin: 0;

  color: $brand-primary;
  line-height: 3rem;
  text-transform: uppercase;
}

.title {
  margin: 0;

  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;

  @include responsive(md) {
    margin-bottom: 1rem;

    font-size: 2.4rem;
  }
}

.flex {
  display: flex;
}

.about {
  margin: 0;
  margin-left: 6.5rem;

  color: $scorpion;
  font-size: 1.6rem;
  line-height: 4rem;
}

.flexImageContainer {
  min-width: 12.8rem;
  margin-top: 1.4rem;
}
