@import '../../variables';
@import '../../responsive-utils';

.container {
  position: relative;

  min-width: 100%;
  margin-bottom: 7.2rem;
  padding-bottom: 2.3rem;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: $grey;

    @include responsive(md) {
      right: -3.9rem;
      left: -3.9rem;
    }
  }

  @include responsive(sm) {
    min-width: auto;
  }
}

.title {
  margin: 0;
}

.titleSm {
  margin: 0;

  font-size: 2rem;

  @include responsive(sm) {
    font-size: 1.6rem;
  }
}

.titleMd {
  margin: 0;

  font-size: 1.8rem;
  font-weight: 500;

  @include responsive(sm) {
    font-size: 2rem;
  }
}

.textMd {
  font-size: 1.4rem;

  @include responsive(md) {
    font-size: 1.6rem;
  }
}

.card {
  position: relative;

  margin-bottom: 2.5rem;
  padding: 1.4rem 2rem;

  background: #f9f9f9;
  cursor: pointer;

  transition: background 0.2s;

  user-select: none;

  &:hover,
  &:focus {
    background: $body-bg;
  }

  @include responsive(sm) {
    padding: 2.7rem 0;
  }

  @include responsive(md) {
    padding: 2.7rem 1.5rem;
  }
}

.flexList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.listItem {
  position: relative;

  width: 100%;

  @include responsive(sm) {
    padding-left: 1.5rem;

    &:last-child {
      padding-right: 1.5rem;
      padding-left: 0;
    }
  }
}

.descriptionContainer {
  margin: 0 -1.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;

  @include responsive(sm) {
    margin: 0 1.5rem;
    padding-top: 1.7rem;
    padding-bottom: 6rem;
  }
}

.descriptionList {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.descriptionListTitle {
  display: inline-block;
  margin: 0;

  color: $scorpion;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.5rem;

  @include responsive(sm) {
    line-height: 3rem;
  }
}

.descriptionListItem {
  display: inline-block;
  margin: 0;

  font-size: 1.4rem;
  line-height: 3rem;
}

.btnPrimary {
  padding: 0.8rem;

  border-radius: 50%;

  &.active {
    color: $brand-black;

    background: #e6e6e6;
    border-color: #e6e6e6;

    .iconArrow {
      fill: $brand-black;
      transform: rotate(180deg);
    }
  }

  @include responsive(sm) {
    position: static;

    padding: 1.3rem 1.7rem;

    font-size: 1.6rem;

    border-radius: 0.4rem;
  }
}

.icon {
  position: absolute;
  top: 0.2rem;
  left: 1.5rem;

  width: 2.4rem;
  height: 1.7rem;

  fill: $nobel;

  stroke-opacity: 0;
}

.iconArrow {
  position: relative;
  top: 0.1rem;

  width: 1.6rem;
  height: 1.2rem;

  fill: $brand-white;

  @include responsive(sm) {
    margin-left: 1rem;
  }
}

.btn {
  padding: 1.7rem 2rem;

  font-size: 1.4rem;

  &:hover,
  &:focus {
    color: $brand-black;

    background: $body-bg;
    border-color: $body-bg;
  }

  &.active {
    z-index: 2;

    color: $brand-white;

    background: $brand-primary;
    border-color: $brand-primary;
  }
}

.btnGroupTitle {
  display: inline-block;
  margin-right: 1.5rem;
  padding: 1.7rem 0;

  font-size: 1.4rem;
  line-height: 1;
}

.btnDefault {
  display: block;
  width: 100%;

  color: $brand-white;

  background: $brand-primary;
  border-color: $brand-primary;

  &:hover,
  &:focus {
    color: $brand-white;
    background: $brand-primary-hover;
    border-color: $brand-primary-hover;
  }

  @include responsive(sm) {
    display: inline-block;
    width: auto;

    color: $brand-black;

    background: transparent;
    border-color: $grey;

    &:hover,
    &:focus {
      color: $brand-black;
      background: transparent;
      border-color: $star-dust;
    }
  }
}

.dividerBottom {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 1.5rem;
    bottom: 0;
    left: 1.5rem;

    height: 1px;

    background: $grey;
  }
}

.dividerBottomSm {
  composes: dividerBottom;
  padding-bottom: 4rem;

  @include responsive(md) {
    padding-bottom: 0;

    &:after {
      display: none;
    }
  }
}

.paddingLeft3 {
  @include responsive(sm) {
    padding-left: 3rem;
  }
}

.maxWidth12 {
  max-width: none;

  @include responsive(sm) {
    max-width: 12rem;
  }

  @include responsive(md) {
    max-width: none;
  }
}

.maxWidth13 {
  max-width: none;

  @include responsive(sm) {
    max-width: 12rem;
  }

  @include responsive(md) {
    max-width: 13rem;
  }
}
