@import '../../responsive-utils';
@import '../../variables';

.panel {
  border-color: $brand-white;

  @include responsive(md) {
    background-color: $brand-white;
  }
}

.body {
  padding: 1.5rem 2rem;

  text-align: center;

  @include responsive(sm) {
    padding: 2.5rem;
  }
}

.title {
  margin-top: 0;

  color: $brand-black;
  font-size: 2.2rem;
  font-weight: 300;
  /*margin-bottom: 1rem;*/
}
