@import '../../variables';

$loading-size: 5rem;

@keyframes ball-scale-ripple-multiple {
  0% {
    transform: scale(.1);
    opacity: 1;
  }

  70% {
    transform: scale(1);
    opacity: .7;
  }

  100% {
    opacity: 0;
  }
}

@mixin ball-scale-ripple-multiple($n:3, $start:0) {
  @for $i from $start to $n {
    .item:nth-child($i) {
      /* need for resolve */
      /* stylelint-disable function-whitespace-after */
      animation-delay: resolve(resolve($i - 1 * 1) - resolve(1 * $n))s;
      /* stylelint-enable function-whitespace-after */
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  opacity: 0;

  transition: opacity .3s linear;
}

.active {
  opacity: 1;
}

.element {
  position: relative;

  height: $loading-size;

  @include ball-scale-ripple-multiple();
}

.item {
  position: absolute;
  left: 0;

  width: $loading-size;
  height: $loading-size;
  margin-left: -2.5rem;

  border: 2px solid $brand-primary;
  border-radius: 100%;

  animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);

  animation-fill-mode: both;
}
