@import '../../responsive-utils';
@import '../../variables';

$size-xlg: 100rem;
$size-lg: 90rem;
$size-md: 75rem;
$size-sm: 53rem;

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;

  background: rgba(0, 0, 0, .85);

  pointer-events: auto;
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;

  @include responsive(sm) {
    position: relative;
    top: 10rem;

    width: $size-md;
    margin: 0 auto;
    overflow: auto;

    border-radius: .4rem;
  }
}

.close {
  position: absolute;
  top: 2.2rem;
  right: 2.3rem;
  z-index: 10;

  padding: 0;

  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background: transparent;
  }
}

.icon {
  width: 3rem;
  height: 3rem;

  fill: $brand-black;

  transition: background .3s;

  &:hover {
    fill: color($brand-primary blackness(10%));
  }


}

.xlg {
  @include responsive(md) {
    width: $size-xlg;
  }
}

.lg {
  @include responsive(sm) {
    width: $size-lg;
  }
}

.md {
  @include responsive(sm) {
    width: $size-md;
  }
}

.sm {
  width: 100%;

  @include responsive(sm) {
    width: $size-sm;
  }
}

.fullWidth {
  width: 100%;
  height: 100%;

  border-radius: 0;
}
