@import '../../variables';

.navigation {
  display: inline-block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #232323;
  font-size: 18px;
  line-height: 1;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 20px;

  &:hover {
    color: #8F8F8F;
  }

  &:focus,
  &.active {
    background-color: #f5f5f5;
    outline: none;
  }

  &.active {
    cursor: default;
    pointer-events: none;
    outline: none;
    background: #F44336;
    color: #FFFFFF;
  }

  &.active {

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    &:hover,
    &:focus {
      background: transparent;
    }
  }
}

.btnNav {
  margin: 0.5rem 1rem 0;
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: 300;
  background: transparent;
  border: none;
  color: #d8d8d8;
  vertical-align: sub;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: $brand-primary;
    outline: none;
  }

  &.disabled {
    display: none;
    color: #d8d8d8;
    cursor: default;
    pointer-events: none;

    &:hover,
    &:focus {
      color: $brand-black;
      background: transparent;
    }
  }
}

.separator {
  display: none;
  font-size: 1.6rem;
  padding: 0 1rem 0 1rem;

  @include responsive(sm) {
    display: inline-block;
    padding-bottom: 3rem;
  }
}
