@import '../responsive-utils';
@import '../variables';

.selectContainer {
  display: inline-block;
  white-space: nowrap;

  width: 100%;
}

.dash {
  display: inline-block;
  vertical-align: top;

  font-size: 1.6rem;
  color: $dove-gray;

  margin: 0.6rem 0.3rem;

  @include responsive(sm) {
    margin: 0.6rem 1rem;
  }
}

.select {
  width: 45%;
  padding: 1rem 1.5rem;

  font-size: 1.4rem;
  color: $dove-gray;

  background: $brand-white;
  border: 1px solid $grey-darker;
  box-shadow: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

.select option[disabled] {
  display: none;
}
