@import '../responsive-utils';
@import '../variables';

.slider {
  position: relative;

  width: 100%;
  height: 1rem;
  margin: 3.5rem auto;

  cursor: pointer;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include responsive(md) {
    margin: 2rem auto;
  }
}

.bar {
  position: relative;
  top: 0;

  height: 2px;

  background: $grey-darker;
  border-radius: 0.4rem;

  &:first-child,
  &:last-child {
    background: $grey;
    border-color: $grey;
  }

  &:nth-child(2) {
    background: $brand-primary;
  }
}

.handle {
  top: -2.1rem;

  width: 4rem;
  height: 4rem;

  background: $brand-white;
  border: 2px solid $brand-primary;
  border-radius: 50%;
  cursor: pointer;

  @include responsive(md) {
    top: -1.2rem;

    width: 2.5rem;
    height: 2.5rem;
  }
}

.handleTitle {
  position: absolute;

  font-weight: 600;

  user-select: none;

  &:first-child {
    left: 1.5rem;

    margin-top: 3rem;
  }

  &:last-child {
    right: 1.3rem;

    margin-top: -1.5rem;
  }

  @include responsive(md) {
    &:first-child {
      left: 1.5rem;

      margin-top: 2rem;
    }

    &:last-child {
      right: 1.3rem;

      margin-top: -0.8rem;
    }
  }
}

.complexes {
  &.complexesHandle {
    top: -1.5rem;

    width: 3rem;
    height: 3rem;

    @include responsive(sm) {
      top: -1.2rem;

      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.complexesHandleTitle {
  font-size: 1.3rem;
  font-weight: 400;

  &:first-child {
    left: 0;

    margin-top: 2.5rem;
  }

  &:last-child {
    right: 0;

    margin-top: -0.3rem;
  }
}

.settlementsHandleTitle {
  font-size: 1.4rem;
  font-weight: 400;

  &:first-child {
    left: 0;

    margin-top: 2.5rem;
  }

  &:last-child {
    right: 0;

    margin-top: -2rem;
  }

  @include responsive(md) {
    &:last-child {
      right: 0;

      margin-top: -0.5rem;
    }
  }
}

.landing {
  .landingHandle {
    top: -2.1rem;

    width: 4rem;
    height: 4rem;

    border-color: $comet;

    @include responsive(md) {
      top: -1.7rem;

      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

.landingBar {
  &:nth-child(2) {
    background: $comet !important;
  }
}

.landingHandleTitle {
  color: $font-color;
  font-size: 1.6rem;
  font-weight: 400;

  &:first-child {
    top: -2rem;
    left: 0;
  }

  &:last-child {
    top: 2.4rem;
    right: 0;
  }

  @include responsive(sm) {
    font-weight: 600;

    &:first-child {
      top: auto;
      left: 0;

      margin-top: 3rem;
    }

    &:last-child {
      top: auto;
      right: 0;

      margin-top: -0.1rem;
    }
  }
}

.filterHandleTitle {
  color: $brand-black;
  font-size: 1.6rem;
  font-weight: 400;

  &:first-child {
    top: -2rem;
    left: 0;
  }

  &:last-child {
    top: 2.5rem;
    right: 0;
  }

  @include responsive(sm) {
    font-size: 2rem;

    &:first-child {
      top: -2.5rem;
      left: 0;
    }

    &:last-child {
      top: 2rem;
      right: 0;
    }
  }

  @include responsive(md) {
    color: $brand-white;
    font-size: 1.6rem;

    &:first-child {
      top: auto;

      margin-top: 2.5rem;
    }

    &:last-child {
      top: auto;

      margin-top: -0.6rem;
    }
  }
}
