@import '../variables';

.modalWrapper {
  position: relative;

  display: inline-block;

  vertical-align: top;
}

.modalContainer {
  display: inline-block;
}

.container {
  padding: 2.5rem 3rem 1rem;

  background: $brand-white;

  @include responsive(sm) {
    border-radius: .4rem;
  }
}

.text {
  margin: 0;
}

.textarea {
  padding: 1rem;

  border: 1px solid $light-grey;
  border-radius: .2rem;
}

.list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.listItem {
  display: inline;
  margin-left: 0;
  margin-right: 2rem;

  white-space: pre-line;
}

.formContainer {
  padding: 0 0 3rem;
  padding-bottom: 0;
}

.radioLabel {
  margin-bottom: 1rem;

  color: $brand-default;
  font-weight: 400;
  line-height: normal;
}

.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 30rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  overflow-y: scroll;
}

.checkboxLabel {
  flex-basis: 50%;
  width: 50%;
  margin-bottom: 1rem;

  color: $brand-default;
  font-weight: 400;

  cursor: pointer;

  @include responsive(sm) {
    flex-basis: 33.333333333%;
    width: 33.333333333%;
  }

  @include responsive(md) {
    flex-basis: 25%;
    width: 25%;
  }
}

/* icon */

.iconDelete {
  width: .8rem;
  height: .8rem;
  margin-left: .8rem;

  vertical-align: baseline;

  fill: $grey;
}

.icon {
  width: 2rem;
  height: 2rem;

  fill: $grey;
}

.iconAdd {
  width: 3.5rem;
  height: 3.5rem;

  fill: $light-grey;
}

.btnIcon {
  width: 1.8rem;
  height: 1.7rem;

  fill: $grey;
}

/* utils */

.nowrap {
  @include responsive(sm) {
    white-space: nowrap;
  }
}

.flexItem {
  width: 100%;
}
