@import '../variables';

.modalBtn {
  display: inline-block;
  width: 50%;
}

.fixWidth {
  width: 100%;
}

.modalContainer {
  overflow: hidden;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.close {
  position: absolute;
  top: 3rem;
  right: 3rem;

  padding: 0;

  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background: transparent;
  }
}

.icon {
  width: 3rem;
  height: 3rem;

  transition: fill 0.3s;

  &:hover {
    fill: $brand-primary;
  }

  fill: $brand-black;
}
