@import '../responsive-utils';
@import '../variables';

/* modal */

.modal {
  position: relative;

  display: inline-block;
  width: 100%;
  margin-right: 1rem;

  vertical-align: top;

  @include responsive(sm) {
    width: auto;
  }

  @include responsive(md) {
    margin-right: 2rem;
  }
}

.labelBold {
  font-size: 1.4rem;
  font-weight: bold;
}

.modalContent {
  top: 0;

  background: $brand-white;
  border-radius: 0;

  @include responsive(sm) {
    top: 10rem;

    border-radius: 0.4rem;
  }
}

.container {
  padding: 2.5rem 3rem 5rem;

  @include responsive(sm) {
    padding: 2.5rem 3rem;
  }
}

.title {
  margin: 0;

  font-weight: 300;
}

.titleLg {
  margin: 10rem auto;

  color: $silver;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
}

.list {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.listTitle {
  display: inline;
  margin-right: 1rem;
  margin-left: 0;

  color: $boulder;
  line-height: 2.2;
}

.listItem {
  display: inline;
  margin-right: 2rem;
  margin-left: 0;

  line-height: 2.2;
}

.input {
  padding: 0;
  padding-bottom: 1rem;

  font-size: 1.5rem;

  border: none;
  border-bottom: 1px solid $brand-default;
  border-radius: 0;

  &::-webkit-input-placeholder {
    color: #a9a9a9;
  }

  &:-moz-placeholder {
    color: #a9a9a9;
  }

  &::-moz-placeholder {
    color: #a9a9a9;
  }

  &:-ms-input-placeholder {
    color: #a9a9a9;
  }

  &::-ms-input-placeholder {
    color: #a9a9a9;
  }
}

.inputRoutes {
  padding: 1.5rem 2rem;

  font-size: 1.6rem;

  &::-webkit-input-placeholder {
    color: #a9a9a9;
  }

  &:-moz-placeholder {
    color: #a9a9a9;
  }

  &::-moz-placeholder {
    color: #a9a9a9;
  }

  &:-ms-input-placeholder {
    color: #a9a9a9;
  }

  &::-ms-input-placeholder {
    color: #a9a9a9;
  }

  &:hover,
  &:focus {
    border-color: $star-dust;
  }
}

.textGrey {
  color: $star-dust;
}

.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.checkbox {
  flex-basis: 100%;
  width: 100%;

  @include responsive(sm) {
    flex-basis: 50%;
    width: 50%;
  }

  @include responsive(md) {
    flex-basis: 25%;
    width: 25%;
  }
}

.btnGroup {
  position: relative;

  width: 100%;

  &:after {
    content: '';
    position: absolute;
    right: -3rem;
    bottom: 0;
    left: -3rem;
    z-index: 2;

    height: 1px;

    background: $grey-darker;
  }
}

.borderDashed {
  border-bottom: 1px dashed $brand-primary;
}

/* btn */

.btn {
  position: relative;
  z-index: 3;

  padding: 1rem 2.5rem 1.6rem;

  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 0;

  &:hover,
  &:focus,
  &.active {
    background: transparent;
    border-bottom-color: $brand-primary;
  }
}

.btnModal {
  position: relative;

  margin: 0;
  overflow: hidden;

  color: $star-dust;
  text-align: left;
  white-space: nowrap;

  border-radius: 0.4rem;

  &:hover {
    color: $star-dust;

    background: transparent;
  }

  &:focus,
  &:active {
    color: $star-dust;

    background: transparent;
    border-color: $brand-black;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    box-shadow: inset -10rem 0 2rem -5rem $brand-white;
  }

  @include responsive(sm) {
    min-width: 16rem;
    max-width: 16rem;
  }

  @include responsive(lg) {
    min-width: 20rem;
    max-width: 20rem;
  }
}

.btnModalActive {
  color: $brand-black;

  &:hover {
    color: $brand-black;
  }
}

.btnReset {
  composes: btnTimes from '../button.css';
}

.btnDelete {
  margin-left: 0.7rem;
  padding: 0.2rem;

  border: none;

  &:hover,
  &:focus {
    background: transparent;
  }
}

.btnDashed {
  display: block;
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  padding: 0;

  color: $brand-primary;
  font-size: 1.5rem;
  text-align: center;

  border: 0;

  &:hover,
  &:focus {
    color: $brand-primary;

    background: transparent;
  }
}

.btnModalAction {
  position: fixed;
  bottom: 0;

  border-radius: 0;

  @include responsive(sm) {
    position: static;

    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }
}

.btnClearRoutes {
  position: absolute;
  top: 1.5rem;
  right: 2rem;

  padding: 0.5rem;
  padding-left: 2rem;

  color: $star-dust;

  border: none;
  border-radius: 0;

  &:hover,
  &:focus {
    background: transparent;
  }
}

/* icon */

.iconReset {
  composes: iconTimes from '../button.css';
}

.iconDots {
  position: absolute;
  top: 2.3rem;
  right: 2rem;
  z-index: 10;

  width: 1.2rem;
  height: 0.2rem;
  margin: 0;

  fill: $brand-black;
}

.iconArrow {
  position: absolute;
  top: 1.1rem;
  right: 1.5rem;
  z-index: 10;

  width: 1.6rem;
  height: 2.5rem;
  margin: 0;

  fill: $brand-black;
  transform: rotate(-90deg);
}

.iconClearRoutes {
  position: absolute;
  top: 0.4rem;
  left: 0;

  width: 1.6rem;
  height: 1.6rem;

  fill: $star-dust;
}

/* utils */

.pushed {
  margin: 3rem 0;
}

.fixHeight {
  @include responsive(sm) {
    position: relative;

    max-height: 28rem;
    overflow-y: scroll;
  }
}

.fixHeight12 {
  @include responsive(sm) {
    position: relative;

    max-height: 12rem;
    overflow-y: scroll;
  }
}

.pushedBottom2 {
  margin-bottom: 2rem;
}

.top5 {
  @include responsive(sm) {
    top: 5rem;
  }
}
