@import '../responsive-utils';
@import '../variables';

.header {
  position: relative;
  z-index: 0;

  margin: 0;
  padding: 4rem 0;

  text-align: center;

  background: $brand-black center center no-repeat;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: block;

    background: rgba(0, 0, 0, .6);
  }

  @include responsive(sm) {
    padding: 1.5rem 0 3rem;
  }
}

.title {
  margin: 0;

  color: $brand-white;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: left;

  @include responsive(sm) {
    text-align: center;
  }
}

.navItem {
  color: rgba(255, 255, 255, .5);
  font-weight: 300;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
  }

  &:last-child {
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, .5);
    }
  }
}

.iconArrow {
  width: .9rem;
  height: .9rem;
  margin: 0 1rem;

  vertical-align: middle;

  transform: rotate(-90deg);

  fill: rgba(255, 255, 255, .5);
}

.checkboxGroup {
  margin: -1rem 0 -1.5rem;
  padding: 1.5rem 2rem;
}

.btnGroup {
  width: 100%;

  @include responsive(sm) {
    width: auto;
  }
}

.btn {
  width: 50%;

  background: $brand-white;
  border-color: $brand-white;

  &:hover,
  &:focus, {
    background: $brand-white;
    border-color: $brand-white;
  }

  &.active {
    color: $brand-white;

    background: $brand-primary;
    border-color: $brand-primary;
  }

  @include responsive(sm) {
    width: auto;
  }
}

.btnTransparent {
  width: 100%;
  margin-top: 2rem;

  color: $brand-white;
  vertical-align: top;

  border: 1px solid $brand-white;

  &:hover,
  &:focus {
    color: $brand-white;

    background: rgba(255, 255, 255, .1);
  }

  @include responsive(sm) {
    min-width: 20rem;
    max-width: 20rem;
    margin-top: 0;
  }
}

.pushedBtnsGroup {
  margin-top: 2.5rem;

  @include responsive(sm) {
    margin-top: 7.5rem;
  }
}

.pushedBtns2 {
  margin-top: 2rem;

  @include responsive(sm) {
    margin-top: 0;
    margin-right: 2rem;
  }
}

/* utils */

.positionRelative {
  position: relative;
  z-index: 3;
}

.pushedBottom1_5 {
  margin-bottom: 1.5rem;
}

.width20 {
  width: 100%;

  @include responsive(sm) {
    min-width: 20rem;
    max-width: 20rem;
  }
}

.inlineBlock {
  display: block;

  @include responsive(sm) {
    display: inline-block;
  }
}

.resetBorder {
  border-color: $brand-white;

  &:hover,
  &:focus {
    border-color: $brand-white;
  }

  &.isFocused {
    border-color: $brand-white;
  }
}
