@import '../responsive-utils';
@import '../variables';

.card {
  display: flex;
  flex-grow: 0 1 auto;
  align-items: center;
  max-width: 29rem;
  margin: 0;

  text-align: left;
}

.descriptionContainer {
  order: 2;
  padding: 0;
  padding-left: 2rem;

  @include responsive(sm) {
    order: 1;
    padding: 0;
    padding-right: 2rem;
  }
}

.avatar {
  vertical-align: middle;

  border-radius: 50%;
}

.image {
  width: 6.4rem;
  height: 6.4rem;
}

.imageContainer {
  display: inline-block;
  background: $brand-white;
  border-radius: 10rem;
  order: 1;

  @include responsive(sm) {
    order: 2;
  }
}

.divider {
  display: none;

  @include responsive(sm) {
    display: block;
    margin: 0;
    margin-bottom: 2.5rem;

    border-color: $grey;
  }
}

.title {
  margin: 0;

  font-size: 1.6rem;
  font-weight: 400;
}

.phone {
  composes: title from '../typography.css';

  display: inline-block;
  margin: 0;
  margin-top: 1rem;

  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.displayInlineBlock {
  display: inline-block;
}

.text {
  margin: 0;
  color: $star-dust;
  font-size: 1.2rem;
}
