@import '../responsive-utils';
@import '../variables';

.heading {
  margin: 3rem 0;

  font-size: 2rem;
  font-weight: 500;
}

.pattern {
  @include responsive(sm) {
    background: #ffffff top left repeat;
    background-size: 4.1rem 4.5rem;
    border: 1px solid $grey;
    margin-bottom: -1px;
  }
}

.cardContainer {
  margin: 0 -1.5rem;
}

.title {
  color: $brand-black;
  font-size: 2.2rem;
  font-weight: 300;

  margin: 0;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
}

.divider {
  margin: 1rem 0 4.5rem;
  border-color: $grey-lighter;
}
