@import '../../variables';
@import '../../responsive-utils';

.title {
  margin: 0;

  font-size: 2.2rem;
  font-weight: 500;
}

.locationContainer {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
  padding-bottom: 3.3rem;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: $grey;
  }

  @include responsive(md) {
    padding-bottom: 2.3rem;
  }
}

.locationList {
  margin: 0;
  margin-top: 1rem;
  padding: 0;

  list-style: none;
}

.locationListItem {
  display: inline-block;
  margin-right: 2rem;

  font-size: 1.4rem;

  &:first-child {
    font-weight: 500;
  }

  &:last-child {
    margin-right: 0;
  }

  @include responsive(sm) {
    font-size: 1.6rem;
  }
}

.image {
  width: 7.9rem;
  height: 7.9rem;

  background: transparent center center no-repeat;
  border-radius: 50%;
}

.list {
  margin: 0;
  margin-right: 2rem;
  padding: 0;

  @include responsive(sm) {
    margin-right: 0;
  }

  @include responsive(md) {
    min-width: 19.5rem;
  }
}

.listTitle {
  margin-bottom: .5rem;

  color: $star-dust;
  font-size: 1.6rem;
}

.listItem {
  font-size: 1.6rem;
}

.flex {
  display: flex;

  @include responsive(sm) {
    justify-content: space-between;
  }

  @include responsive(md) {
    justify-content: flex-start;
  }
}

.cardHeight {
  min-height: 18.5rem;
  padding-bottom: 1.8rem;
}
