@import '../responsive-utils';
@import '../variables';

.label {
  font-size: 1.5rem;
  font-weight: 400;
}

.dividerRight {
  @include responsive(sm) {
    position: relative;

    margin-bottom: -2rem;

    &:after {
      content: '';
      position: absolute;
      top: -2.5rem;
      right: 0;
      bottom: -0.5rem;

      display: block;
      width: 1px;

      background: $grey;
    }
  }
}

.dividerBottom {
  position: relative;

  padding-bottom: 3.5rem;

  &:after {
    content: '';
    position: absolute;
    right: -1.5rem;
    left: -1.5rem;

    display: block;
    height: 1px;

    background: $grey;
  }
}

.checkboxGroup {
  margin: 1.5rem 0 0;
  padding: 0 2rem;
}

.sliderContainer {
  position: relative;
  top: -1rem;

  display: inline-block;
  width: 22rem;
  padding: 0 1.5rem;
}

.dropdownContainer {
  top: 6.5rem;

  border-color: $grey;
  border-radius: 0.4rem;
}

.filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 6rem 0;
  overflow-y: scroll;

  background: $brand-white;

  @include responsive(sm) {
    position: relative;

    min-width: 59rem;
    padding: 0;
    /* FIXME: uncomment when subscribe will work */
    /*padding-bottom: 3.2rem;*/
    overflow: visible;

    background: transparent;
  }
}

.text {
  display: inline-block;
  padding: 1.6rem 1.5rem;
  padding-right: 0;

  color: $boulder;
  font-size: 1.5rem;
  line-height: 1;

  @include responsive(sm) {
    padding-right: 1.5rem;
  }
}

.btnsContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  margin-top: 3rem;
}

/* btn */

.btnInner {
  composes: btnInner from '../button.css';

  @include responsive(sm) {
    max-width: 15.8rem;
    overflow: hidden;

    text-overflow: ellipsis;
  }

  @include responsive(md) {
    max-width: none;
  }
}

.btnWide {
  display: inline-block;
  width: 50%;
  margin: 0;

  border-radius: 0;
}

.btnTimes {
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 2rem 2.4rem;

  background: $brand-white;
  border: none;
  border-radius: 0;

  &:hover,
  &:focus {
    background: $brand-white;
  }

  @include responsive(sm) {
    position: absolute;
    right: 1.5rem;
    bottom: -1rem;

    width: auto;
    padding: 1rem;
  }
}

.btnTimesLarge {
  margin-left: 1rem;
  padding: 0.5rem 0;

  border: none;

  &:hover,
  &:focus {
    background: transparent;
  }
}

.btnFilter {
  padding-right: 0;
  padding-left: 3rem;

  color: $brand-black;

  background: transparent;
  border: none;
}

.btnFilterWide {
  position: relative;

  padding-left: 1.5rem;

  vertical-align: middle;
  text-align: center;

  &:hover,
  &:focus {
    background: transparent;
    border-color: $brand-black;
  }

  @include responsive(sm) {
    text-align: left;
  }
}

.btnGroup {
  position: relative;
  z-index: 1;

  padding: 1.6rem 1.9rem;

  &:hover,
  &:focus {
    color: $brand-black;

    background: $body-bg;
    border-color: $body-bg;
  }

  &.active {
    z-index: 2;

    color: $brand-white;

    background: $brand-primary;
    border-color: $brand-primary;
  }

  @include responsive(sm) {
    padding: 1.6rem 2rem;
  }
}

.btnSubscribe {
  position: relative;

  margin: 2rem 0;
  padding-left: 5rem;

  color: $brand-black;

  background: $brand-white;
  border-color: $brand-primary;

  &:hover,
  &:focus {
    color: $brand-white;

    background: $brand-primary;

    .iconSubscribe {
      fill: $brand-white;
    }
  }
}

/* icon */

.iconTimesLarge {
  width: 3.5rem;
  height: 3.5rem;

  fill: $star-dust;

  transition: fill 0.3s;
}

.iconTimes {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
  margin-bottom: -1px;

  vertical-align: bottom;

  fill: $brand-primary;

  transition: fill 0.3s;
}

.iconSubscribe {
  position: absolute;
  top: 1.4rem;
  left: 3rem;

  width: 1.8rem;
  height: 1.8rem;

  fill: $brand-black;

  transition: fill 0.3s;
}

/* utils */

.width20 {
  width: 100%;

  @include responsive(sm) {
    min-width: 16rem;
    max-width: 16rem;
  }

  @include responsive(md) {
    min-width: 18rem;
    max-width: 18rem;
  }

  @include responsive(lg) {
    min-width: 20rem;
    max-width: 20rem;
  }
}

.width30 {
  min-width: 30rem;
}

.width59 {
  min-width: 59rem;
  padding: 2.5rem 0;
}

.widthSm70Md75 {
  min-width: 70rem;
  padding: 2.5rem 0;

  @include responsive(md) {
    min-width: 75rem;
  }
}

.positionRelative {
  position: relative;
}

.extraPadding1_5 {
  position: relative;

  padding: 0 1.5rem;
}

.pushedTop1_5 {
  margin-top: 1.5rem;

  @include responsive(sm) {
    margin-top: 0;
  }
}

.pushedLeft2 {
  margin-left: 2rem;
}

.pushedRightXs1Sm2 {
  margin-right: 1rem;

  @include responsive(md) {
    margin-right: 2rem;
  }
}

.pushedBottom1 {
  margin-bottom: 1rem;
}

.pushedBottom2 {
  margin-bottom: 2rem;
}

.pushedBottom2_5 {
  margin-bottom: 2.5rem;
}

.pushedBottom4 {
  margin-bottom: 4rem;
}

.pushedBottom5 {
  margin-bottom: 6rem;

  @include responsive(sm) {
    margin-bottom: 5rem;
  }
}

.alignRight {
  text-align: right;
}

.static {
  position: static;
}

.height24 {
  max-height: 24rem;
  overflow-y: scroll;
}
