@import '../responsive-utils';
@import '../variables';
.footer {
  position: relative;
  z-index: 2;
  padding: 6rem 0;
  background: #303030;
  @include responsive(sm) {
    padding: 8rem 0 0.5rem;
  }
}

.title {
  margin: 0;
  color: $brand-white;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.aboutContainer {
  display: block;
  @include responsive(sm) {
    vertical-align: top;
    display: inline-block;
  }
}

.description {
  margin: 0;
  margin-top: 1rem;
  color: #7d8487;
  line-height: 2.2rem;
  @include responsive(sm) {
    line-height: 1;
  }
}

.white {
  color: $brand-white;
}

.navColumn {
  text-align: left;
  float: left;
  margin-bottom: 6rem;
  width: 100%;
  @include responsive(lg) {
    margin-top: 0;
  }
}

.categoryLayout {
  margin-bottom: 6rem;
  margin-left: -1.5rem;
}

.navTitle {
  margin: 0;
  color: #8f9699;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

.linkTitle {
  composes: navTitle;
  color: #fff;
}

.navSubTitle {
  display: inline-block;
  margin-bottom: 0.8rem;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: $brand-white;
  &:hover,
  &:focus {
    color: $brand-primary;
  }
  @include responsive(sm) {
    margin-top: 0;
  }
}

.link {
  display: inline-block;
  margin-bottom: 0.8rem;
  <<<<<<<: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

.textLarge {
  display: block;
  color: $brand-white;
  font-size: 1.7rem;
  font-weight: 300;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $brand-white;
    text-decoration: none;
  }
  @include responsive(sm) {
    display: inline-block;
    vertical-align: middle;
  }
}

.iconLogo {
  width: 4.1rem;
  height: 3.6rem;
  margin-right: 3rem;
  fill: $brand-primary;
}

.social {
  display: block;
  @include responsive(sm) {
    display: none;
  }
  @include responsive(md) {
    display: inline-block;
  }
  @include responsive(lg) {
    display: inline-block;
  }
}

.socialLink {
  display: inline-block;
  margin-left: 2rem;
  padding: 0.9rem;
  line-height: 1;
  text-decoration: none;
  border: 1px solid $brand-white;
  border-radius: 50%;
  transition: 0.3s;
  vertical-align: text-bottom;
  &:first-child {
    margin-left: 0;
  }
  &:hover,
  &:focus {
    background: $brand-white;
    .socialIcon {
      fill: $brand-black;
    }
  }
}

.socialIcon {
  width: 1.6rem;
  height: 1.4rem;
  fill: $brand-white;
  transition: fill 0.3s;
}

.linkedin {
  &:hover,
  &:focus {
    border-color: #0083a8;
    .socialIcon {
      fill: #0083a8;
    }
  }
}

.facebook {
  &:hover,
  &:focus {
    border-color: #3b5998;
    .socialIcon {
      fill: #3b5998;
    }
  }
}

.instagram {
  &:hover,
  &:focus {
    border-color: #3f729b;
    .socialIcon {
      fill: #3f729b;
    }
  }
}

.loadBtn {
  padding: 0;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  text-decoration: underline;
  &:hover,
  &:focus {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
  }
  @include responsive(sm) {
    margin-left: 0;
  }
}

.divider {
  margin: 1.5rem 0 2rem;
  border-color: #3e4549;
}

.dividerLong {
  margin: 4rem 0 4rem;
  border-color: #3e4549;
  @include responsive(sm) {
    margin-top: 5.5rem;
  }
}

.pushedLeft3 {
  @include responsive(sm) {
    margin-left: 3rem;
  }
}

.pushedBottom2_5 {
  margin-bottom: 2.5rem;
  &:last-child {
    margin-bottom: 0;
  }
  @include responsive(md) {
    margin-bottom: 0;
  }
}

.pushedBottom3_5 {
  margin-bottom: 3.5rem;
}

.pushedBottom4 {
  margin-bottom: 4rem;
}

.displayInlineBlock {
  display: inline-block;
}

.alignRight {
  text-align: left;
  @include responsive(sm) {
    text-align: right;
  }
}
