@import '../../variables';
@import '../../responsive-utils';

.banner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  min-height: 100vh;

  background: transparent center no-repeat;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    background: rgba(0, 0, 0, .52);
  }
}

.contentContainer {
  position: relative;
  z-index: 3;

  color: $brand-white;
}

.link {
  color: $brand-white;
  font-size: 1.4rem;
}

.iconXs {
  width: 1rem;
  height: 1rem;
  margin: 0 1.8rem;

  vertical-align: baseline;

  fill: $grey-darker;
  transform: rotate(-90deg);
}

.titleLg {
  margin: 0;

  font-size: 3.6rem;
  font-weight: 500;

  @include responsive(sm) {
    font-size: 5.3rem;
  }
}

.titleMd {
  margin: 0;
  margin-top: 2.5rem;

  font-size: 2rem;
  font-weight: 500;

  @include responsive(sm) {
    margin-top: 0;

    font-size: 2.8rem;
  }
}

.text {
  margin: 0;
  margin-top: 1rem;

  font-size: 1.6rem;
  line-height: 1;

  @include responsive(sm) {
    margin-top: .5rem;

    font-size: 1.8rem;
  }
}

.label {
  display: inline-block;
  padding: 1.1rem 2.3rem;

  color: $brand-white;
  line-height: 1;
  text-transform: uppercase;
}

.primary {
  background: $brand-primary;
}

.success {
  background: $brand-success;
}
