@import '../responsive-utils';
@import '../variables';

.background {
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100vh;

  background: rgba(0, 0, 0, .5);

  text-align: center;
  color: $brand-white;

  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive(sm) {
    min-height: 75rem;
  }
}

.content {
  width: 100%;
}

.title {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: .5rem;
  margin-top: 0;

  @include responsive(sm) {
    font-size: 8rem;
  }
}

.subTitle {
  margin-top: 0;

  font-size: 1.6rem;
  font-family: 'Helvetica Neue';
  line-height: 1;
  letter-spacing: 1px;

  margin-bottom: 5.5rem;

  @include responsive(sm) {
    font-size: 3.2rem;
    margin-bottom: 12rem;
  }
}

.btn {
  padding: 1.6rem 2.5rem 1.4rem;

  border-radius: 10rem;

  background: $brand-primary;

  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;

  @include responsive(md) {
    padding: 2rem 2.5rem 1.8rem;
  }

  &:hover {
    background: $brand-primary-hover;
  }
}

.statContainer {
  margin-top: 8rem;
  font-size: 1.4rem;

  @include responsive(md) {
    margin-top: 14rem;
    font-size: 1.8rem;
  }
}

.statNum {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1;
  margin: 0;

  @include responsive(sm) {
    font-size: 5.4rem;
  }
}

.statTitle {
  margin: 0;

  font-family: 'Helvetica Neue';
}

.hideXs {
  display: none;

  @include responsive(sm) {
    display: inline-block;
  }
}
