@import '../responsive-utils';
@import '../variables';

.container {
  padding: 0 1.5rem 6rem;
}

.title {
  margin: 0;
  margin-top: 3rem;
  font-size: 2.4rem;

  @include responsive(sm) {
    font-size: 4rem;
  }

  @include responsive(md) {
    font-size: 4.8rem;
  }
}

.hiddenText {
  position: relative;

  max-height: 26rem;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-shadow: inset 0 -7rem 5.5rem -1.5rem $brand-white;
  }
}

.descriptionText {
  margin: 0;
  margin-top: 2.5rem;

  font-size: 1.6rem;
  line-height: 2.7rem;
  text-align: left;
  font-family: 'Helvetica Neue';
}

.loadMoreBtn {
  border: none;

  color: $brand-black;
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Helvetica Neue';

  margin-top: 1.5rem;

  &:hover,
  &:focus {
    background: transparent;
    text-decoration: underline;
  }
}
