@import '../responsive-utils';
@import '../variables';

.mapContainer {
  position: relative;
  width: 100%;
  height: 29rem;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    box-shadow: 0 140px 110px rgba(11, 11, 11, .35) inset;
  }

  @include responsive(sm) {
    height: 47.3rem;
  }
}

.title {
  position: absolute;
  top: 3rem;
  left: 50%;
  z-index: 2;

  transform: translateX(-50%);

  color: $brand-white;
  line-height: 1;
  font-size: 1.8rem;
  white-space: nowrap;

  @include responsive(sm) {
    font-size: 2.6rem;
  }

  @include responsive(md) {
    font-size: 3.2rem;
  }
}

.linkContainer {
  padding: 3rem 0;
  text-align: center;
}

.link {
  position: relative;

  background: $brand-primary;

  font-size: 16px;
  font-weight: 500;
  color: $brand-white;

  border-radius: 10rem;
  margin: 3rem 0;
  padding: 1.6rem 2.5rem 1.4rem;

  &:hover {
    background: $brand-primary-hover;
  }

  @include responsive(sm) {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    z-index: 10;

    transform: translateX(-50%);
  }

  @include responsive(md) {
    padding: 2rem 2.5rem 1.8rem;
  }
}
