@import '../responsive-utils';
@import '../variables';

.imageContainer {
  padding: 0;
  position: relative;

  &:first-child {
    display: none;

    @include responsive(md) {
      display: inline-block;
    }
  }

  &:nth-child(2) {
    display: none;

    @include responsive(sm) {
      display: inline-block;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  min-height: 32rem;
  max-height: 32rem;

  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $brand-white;
  text-align: center;
  background: rgba(0, 0, 0, .5);

  cursor: pointer;
}

.number {
  font-size: 5rem;
  margin: 0;
  line-height: 1;
}

.text {
  font-size: 1.8rem;
  margin: 0;
}
