@import '../../variables';
@import '../../responsive-utils';

@keyframes identifier {
  from {
    transform: translateY(30rem);
    opacity: 0.3;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.filterContainer {
  position: relative;
  z-index: 1;

  padding: 6.2rem 0 6.5rem;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    background: rgba(0, 0, 0, 0.5);
  }

  @include responsive(sm) {
    padding: 7.3rem 0 7rem;
  }
}

.mainContainer {
  padding: 2.3rem 3rem 3.5rem;

  background: $brand-white;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.modalMain {
  background: rgba(0, 0, 0, 0.23);
}

.modal {
  background: $brand-white;
}

.modalContainer {
  padding: 2rem 1.5rem;

  text-align: center;

  @include responsive(sm) {
    padding-top: 1rem;
  }
}

.formContainer {
  position: relative;
  z-index: 3;

  max-width: 83.5rem;
  margin: 0 auto;
}

.sliderContainer {
  position: relative;

  padding: 3rem 0 1rem;

  @include responsive(sm) {
    padding: 3.5rem 0;
  }
}

.title {
  composes: resetIndent from 'styles/utils.css';

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 4rem;

  @include responsive(sm) {
    line-height: 5.4rem;
  }
}

.list {
  composes: resetIndent from 'styles/utils.css';

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  text-align: center;

  @include responsive(sm) {
    flex-wrap: nowrap;

    text-align: left;
  }
}

.item {
  margin-bottom: 1rem;
  padding: 1.5rem 2.4rem;

  font-size: 1.6rem;
  line-height: 1;

  border: 1px solid $grey;
  border-radius: 10rem;
  cursor: pointer;

  transition: background 0.15s ease-in;

  user-select: none;

  &.active {
    background: $mischka;
    border-color: $mischka;

    &:hover,
    &:focus {
      background: $mischka;
      border-color: $mischka;
    }
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    margin-right: 0.5rem;
  }

  &:hover,
  &:focus {
    background: transparent;
    border-color: $grey-darker;
  }

  @include responsive(sm) {
    margin-right: 1.3rem !important;
    margin-bottom: 0;
    padding-right: 2rem;
    padding-left: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include responsive(md) {
    padding-right: 2.8rem;
    padding-left: 2.8rem;
  }
}

.tabGroup {
  display: flex;
}

.tab {
  padding-top: 2.2rem;
  padding-bottom: 1.7rem;

  color: $brand-white;
  font-size: 1.8rem;

  background: rgba(255, 255, 255, 0.27);
  border: none;
  border-radius: 0.4rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &.active {
    color: $brand-black;

    background: $brand-white;

    &:hover {
      color: $brand-black;

      background: $brand-white;
    }
  }

  &:hover {
    color: $brand-white;

    background: rgba(255, 255, 255, 0.4);
  }

  @include responsive(md) {
    font-size: 2.2rem;
  }
}

.btnGroup {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;
}

.btn {
  padding: 1.8rem 6rem;

  font-size: 1.8rem;

  background: $comet;
  border-color: $comet;
  border-radius: 10rem;

  &:hover,
  &:focus {
    background: $comet-hover;
    border-color: $comet-hover;
  }

  @include responsive(md) {
    font-size: 2rem;
  }
}

.btnXs {
  padding: 1.7rem 0;

  border-radius: 0;

  &:first-child {
    background: #efefef;
    border-color: #efefef;
  }
}

.btnOval {
  max-width: 24.1rem;
  margin: 0 auto;
  margin-bottom: 2.3rem;
  padding: 1.8rem 0;

  font-size: 1.8rem;

  border-radius: 10rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.disabled {
  background-color: #918ec8;
  border-color: #918ec8;

  transition: none;
}

.boxShadow {
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.51);
}

.dividerBottom {
  position: relative;

  margin-bottom: 2rem;
  padding-bottom: 2.5rem;

  &:after {
    content: '';
    position: absolute;
    right: -1.5rem;
    bottom: 0;
    left: -1.5rem;

    height: 1px;

    background: $grey;
  }

  @include responsive(sm) {
    margin-bottom: 2rem;
    padding-bottom: 4rem;
  }
}

.zIndex3 {
  position: relative;
  z-index: 3;
}
