@import '../../responsive-utils';
@import './variables';

.btnNav {
  position: relative;
  margin: 0 1rem;
  padding: 1rem;

  font-size: 2.1rem;

  background: transparent;
  border: none;

  &:first-child::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 10px;
    height: 20px;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxMSAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjE5MTA3IDkuNTAyODdMOC44ODY1OSAxLjIwNTk5QzkuMTQxMzUgMC45MzEzMzUgOS41NTQzMSAwLjkzMTMzNSA5LjgwODkzIDEuMjA1OTlDMTAuMDYzNyAxLjQ4MDUxIDEwLjA2MzcgMS45MjU3NCA5LjgwODkzIDIuMjAwMjZMMi41NzQ1MiAxMEw5LjgwODkzIDE3Ljc5OTdDMTAuMDYzNyAxOC4wNzQzIDEwLjA2MzcgMTguNTE5NSA5LjgwODkzIDE4Ljc5NEM5LjU1NDMxIDE5LjA2ODcgOS4xNDEzNSAxOS4wNjg3IDguODg2NTkgMTguNzk0TDEuMTkxMDcgMTAuNDk3MUMwLjkzNjMxMSAxMC4yMjI2IDAuOTM2MzExIDkuNzc3MzkgMS4xOTEwNyA5LjUwMjg3WiIgZmlsbD0iIzhFOEU4RSIgc3Ryb2tlPSIjOEU4RThFIiBzdHJva2Utd2lkdGg9IjAuNTYyNSIvPgo8L3N2Zz4K');
  }

  &:last-child::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 10px;
    height: 20px;
    transform: rotate(180deg);
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxMSAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjE5MTA3IDkuNTAyODdMOC44ODY1OSAxLjIwNTk5QzkuMTQxMzUgMC45MzEzMzUgOS41NTQzMSAwLjkzMTMzNSA5LjgwODkzIDEuMjA1OTlDMTAuMDYzNyAxLjQ4MDUxIDEwLjA2MzcgMS45MjU3NCA5LjgwODkzIDIuMjAwMjZMMi41NzQ1MiAxMEw5LjgwODkzIDE3Ljc5OTdDMTAuMDYzNyAxOC4wNzQzIDEwLjA2MzcgMTguNTE5NSA5LjgwODkzIDE4Ljc5NEM5LjU1NDMxIDE5LjA2ODcgOS4xNDEzNSAxOS4wNjg3IDguODg2NTkgMTguNzk0TDEuMTkxMDcgMTAuNDk3MUMwLjkzNjMxMSAxMC4yMjI2IDAuOTM2MzExIDkuNzc3MzkgMS4xOTEwNyA5LjUwMjg3WiIgZmlsbD0iIzhFOEU4RSIgc3Ryb2tlPSIjOEU4RThFIiBzdHJva2Utd2lkdGg9IjAuNTYyNSIvPgo8L3N2Zz4K');
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: $brand-primary;

    outline: none;
  }

  &.disabled {
    cursor: default;

    &:hover,
    &:focus {
      color: $brand-black;

      background: transparent;
    }
  }
}
