@import './variables';
@import '../../responsive-utils';

.anchor {
  position: relative;
  white-space: nowrap;

  display: inline-block;
  padding: 1.5rem 3rem;

  color: $brand-white;
  font-size: 1.6rem;

  background: $brand-primary;
  border-radius: 10rem;
  cursor: pointer;
}

.activeDealType {
  color: $brand-white !important;

  background: $brand-primary !important;
  border-color: $brand-primary !important;
}

.btnDefault {
  display: block;
  width: 100%;

  color: $brand-white;

  background: $brand-primary;
  border-color: $brand-primary;

  &:hover,
  &:focus {
    color: $brand-white;

    background: $brand-primary-hover;
    border-color: $brand-primary-hover;
  }

  @include responsive(sm) {
    display: inline-block;
    width: auto;

    color: $brand-black;

    background: transparent;
    border-color: $grey;

    &:hover,
    &:focus {
      color: $brand-black;

      background: transparent;
      border-color: $star-dust;
    }
  }
}

.checkboxControl {
  width: 2.5rem;
  height: 2.5rem;

  background: $brand-white;
  border-color: $grey;
  cursor: pointer;

  &:checked {
    background: $brand-white
      url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTIgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+U2hhcGU8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSJ3ZWJfY29tcGxleGVzX3NlYXJjaF92ZXIzL29wZW5maWx0ZXItIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTcwLjAwMDAwMCwgLTY4OC4wMDAwMDApIiBmaWxsPSIjNUY1QzhCIj4gICAgICAgICAgICA8cGF0aCBkPSJNMTgxLjU2MDA4NSw2ODkuMjgzMDA4IEMxODEuNjI2NDMxLDY4OS4zNDE3NzEgMTc0LjcwNDQwNSw2OTguMDY0NzU0IDE3NC42NTUyMTgsNjk4LjA1OTk0MSBDMTc0LjYyMzY2OCw2OTguMDU3Mjc2IDE2OS45NDUxNjQsNjkzLjkxOTY2IDE3MC4wMDA0ODcsNjkzLjg1MDA2NiBMMTcxLjIzMDU1LDY5Mi40Mzc2MiBDMTcxLjI4NjIyLDY5Mi4zNjc1ODggMTc0LjUwMjE4MSw2OTUuMjc3NzEyIDE3NC41MDIxODEsNjk1LjI3NzcxMiBDMTc0LjUwMjE4MSw2OTUuMjc3NzEyIDE4MC4wNjYzNzcsNjg3Ljk0MTk1MSAxODAuMTMyMzA4LDY4OC4wMDAzNDcgTDE4MS41NjAwODUsNjg5LjI4MzAwOCBaIiBpZD0iU2hhcGUiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==')
      center center no-repeat;
    border-color: $grey;
    outline: none;
  }
}

.listItem {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 1.6rem;
  padding: 1.4rem 1.6rem;

  font-size: 1.6rem;

  background: $brand-white;
  border-radius: 0.4rem;
  cursor: pointer;

  &.activeList {
    background: $brand-primary;
    color: $brand-white;

    .icon {
      fill: $brand-white;
    }
  }
}

.card {
  position: relative;

  display: block;
  min-height: 21.5rem;
  margin-bottom: 2.6rem;
  padding: 3rem 1.5rem 2.2rem 1.2rem;

  color: $brand-black;
  text-decoration: none;

  background: $brand-white;
  border-left: 3px solid transparent;
  cursor: pointer;

  transition: border-color 0.2s;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    box-shadow: 2px 2px 40px 1px rgba(0, 0, 0, 0.1);
    opacity: 0;

    transition: opacity 0.2s;
  }

  @include responsive(sm) {
    padding: 3rem 2.3rem 2.2rem 2.4rem;
  }

  @include responsive(md) {
    padding: 2.3rem 2.3rem 2.2rem 2.4rem;
  }
}

.textPrimary {
  padding: 1.3rem 2.5rem !important;

  color: $brand-primary;

  cursor: pointer;
}

.iconTimes {
  width: 1.4rem;
  height: 1rem;
  margin-left: 0.5rem;

  fill: $brand-primary;
}

.icon {
  width: 1.1rem;
  height: 1.6rem;
  margin-right: 0.8rem;

  fill: $brand-primary;
}

.iconRoute {
  width: 1.4rem;
  height: 1.3rem;
  margin-right: 1rem;

  fill: $brand-primary;
}

.iconLens {
  position: absolute;
  top: -4.7rem;
  left: 2.5rem;
  z-index: 2;

  width: 2rem;
  fill: $brand-primary;
}

.disabled {
  &[disabled] {
    background: $brand-disabled;
    border-color: $brand-disabled;
    cursor: default;
    opacity: 1;

    &:hover,
    &:focus,
    &:active {
      background: $brand-disabled;
      border-color: $brand-disabled;
    }
  }
}

.tab {
  display: inline-block;
  padding: 2.5rem 1.2rem;

  font-size: 1.6rem;

  border: none;
  border-radius: 0;

  &:hover,
  &:focus {
    background: transparent;
  }

  @include responsive(sm) {
    padding: 2.5rem;
  }
}

.tabActive {
  border-bottom: 2px solid $brand-primary;

  margin-bottom: -2px;
}

.price {
  color: $brand-primary;
  font-size: 2.6rem;
  font-weight: 400;

  margin: 1rem 0 0;

  vertical-align: top;
  white-space: nowrap;

  @include responsive(sm) {
    float: right;
  }
}

.button {
  display: none;
  height: 100%;

  margin-left: -1px;
  padding: 2.1rem 4.5rem;

  font-size: 1.6rem;

  background: $brand-primary;
  color: $brand-white;

  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover,
  &:focus &:active {
    background: $brand-primary;
    color: $brand-white;
  }

  @include responsive(sm) {
    display: inline-block;
  }
}

.btnLoad {
  border: none;
  border-radius: 0;
  border-bottom: 1px dashed $brand-primary;

  padding: 2rem 0 0.6rem;

  background: transparent;
  color: $brand-primary;

  &:hover,
  &:focus {
    background: transparent;
    color: $brand-primary;
  }
}

.hollowBtn {
  display: inline-block;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1.2rem 2rem;

  background: #f5f5f5;

  color: $brand-primary;
  font-size: 1.4rem;
  line-height: 1;

  border-radius: 10rem;
  border: none;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    @include responsive(sm) {
      margin-left: 2rem;
    }
  }

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.08);
    color: $brand-primary;
  }

  &.active {
    color: $brand-white;

    background: $brand-primary;
  }

  @include responsive(sm) {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 1rem 2.8rem;

    font-size: 1.6rem;
  }
}

.notFoundBtn {
  display: block;
  margin: 2rem auto 0;

  border: none;
  padding: 0.1rem 1.5rem 0.4rem;

  font-size: 1.6rem;
  color: $brand-primary;

  &:hover,
  &:focus {
    background: transparent;
    color: $brand-primary;
  }

  @include responsive(sm) {
    display: inline-block;
    margin: 0;
  }
}
