@import '../responsive-utils';
@import '../variables';

.container {
  padding: 1.5rem 2.5rem;
  background: $brand-black;

  color: $star-dust;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Helvetica Neue';
}

.link {
  color: $star-dust;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $star-dust;
  }
}
