@import '../../responsive-utils';
@import '../../variables';

.mainContainer {
  background: $body-bg;

  @include responsive(sm) {
    display: block;
    padding-top: 6.3rem;
    padding-bottom: 6.5rem;
  }

  @include responsive(md) {
    padding-top: 10.5rem;
    padding-bottom: 11rem;
  }
}

.flex {
  position: relative;

  display: flex;
  align-items: center;
}

.image {
  display: none;

  @include responsive(md) {
    position: absolute;
    right: 0;
    bottom: -11rem;

    display: block;
    max-width: 25rem;
  }

  @include responsive(lg) {
    right: 3rem;
  }
}

.boldXs {
  font-weight: 500;

  @include responsive(sm) {
    font-weight: 300;
  }
}
