@import '../responsive-utils';

.affixTop {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;

  @include responsive(sm) {
    position: static;
  }
}

.affixBottom {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;

  @include responsive(sm) {
    position: static;
  }
}
