@import '../variables';

@mixin btn-variant($background, $border, $font-color, $background-hover, $border-hover, $font-color-hover, $background-focus, $border-focus, $font-color-focus) {

  &,
  &[disabled]:hover {
    color: $font-color;

    background-color: $background;
    border-color: $border;
  }

  &:hover,
  &.active:hover {
    z-index: 3;

    color: $font-color-hover;

    background-color: $background-hover;
    border-color: $border-hover;
  }

  &:focus,
  &:active,
  &.active {
    z-index: 3;

    color: $font-color-focus;

    background-color: $background-focus;
    border-color: $border-focus;
  }
}

@mixin btn-size($padding, $fontSize) {
  padding: $padding;

  font-size: $fontSize;
}

/* height 44 */
$btn-xs-padding: 1.2rem 2.5rem;
$btn-xs-font-size: 1.4rem;

/* height 46 */
$btn-sm-padding: 1.5rem 2.4rem;
$btn-sm-font-size: 1.4rem;

/* height 48 */
$btn-md-padding: 1.6rem 2rem;
$btn-md-font-size: 1.5rem;

/* height 54 */
$btn-lg-padding: 1.8rem 3.4rem;
$btn-lg-font-size: 1.6rem;

/* height 56 */
$btn-xlg-padding: 1.9rem 3rem;
$btn-xlg-font-size: 1.6rem;

$default-border-radius: 4px;

.btn {
  position: relative;
  z-index: 2;

  display: inline-block;
  margin: 0;
  padding: .8rem 1.6rem;

  color: $brand-black;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-transform: initial;
  white-space: nowrap;

  background-color: transparent;
  background-image: none;
  border: 1px solid $grey;
  border-radius: $default-border-radius;
  cursor: pointer;

  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &[disabled] {
    cursor: default;
    opacity: .5;
  }

  &:hover,
  &:focus,
  &:active {
    color: $brand-black;
    text-decoration: none;

    background-color: color($brand-default blackness(10%));
    outline: none;
  }

  @include responsive(sm) {
    transition: all .3s;
  }
}

.default {
  @include btn-variant($brand-white, $grey, $brand-black, $brand-white, $star-dust, $brand-black, $brand-white, $brand-black, $brand-black);
}

.primary {
  @include btn-variant($brand-primary, $brand-primary, $brand-white, $brand-primary-hover, $brand-primary-hover, $brand-white, $brand-primary-focus, $brand-primary-focus, $brand-white);
}

.success {
  @include btn-variant($brand-success, $brand-success, $brand-white, $brand-success-hover, $brand-success-hover, $brand-white, $brand-success-focus, $brand-success-focus, $brand-white);
}

.accent {
  @include btn-variant($brand-white, $brand-primary, $brand-black, $brand-primary-hover, $brand-primary-hover, $brand-white, $brand-primary-focus, $brand-primary-focus, $brand-white);
}

/*
.info {
  @include btn-variant($brand-info, $brand-white);
}

.warning {
  @include btn-variant($brand-warning, $brand-white);
}

*/

.danger {
  @include btn-variant($brand-danger, $brand-danger, $brand-white, $brand-danger);
}

.xs {
  @include btn-size($btn-xs-padding, $btn-xs-font-size);
}

.sm {
  @include btn-size($btn-sm-padding, $btn-sm-font-size);
}

.md {
  @include btn-size($btn-md-padding, $btn-md-font-size);
}

.lg {
  @include btn-size($btn-lg-padding, $btn-lg-font-size);
}

.xlg {
  @include btn-size($btn-xlg-padding, $btn-xlg-font-size);
}

.block {
  display: block;
  width: 100%;

  border-radius: 0;
}

/* BtnGroup */

.btnGroup {
  position: relative;

  display: inline-block;

  vertical-align: top;

  .btn {
    position: relative;

    margin-left: -1px;

    border-radius: 0;
  }

  .btn:first-child {
    margin-left: 0;

    border-radius: $default-border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:last-child {
    border-radius: $default-border-radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}