@import '../responsive-utils';
@import '../variables';

.checkbox {
  margin: 0;
  margin-bottom: 1.5rem;

  line-height: 2rem;

  background-color: $brand-white;

  transition: background-color .3s;
}

.label {
  display: block;
  margin: 0;

  color: $brand-black;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }
}

.control {
  position: relative;

  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  margin-right: .1rem;

  vertical-align: middle;
  white-space: nowrap;

  border: 1px solid #d5d5d5;
  border-radius: .2rem;
  outline: none;

  appearance: none;

  &:checked {
    background: $brand-primary url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSI5cHgiIHZpZXdCb3g9IjAgMCAxMCA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPiAgICAgICAgPHRpdGxlPkdyb3VwPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0ic2VhcmNoL2ZpbHRlciIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTU2MS4wMDAwMDAsIC0zNzAuMDAwMDAwKSIgZmlsbD0iI0ZGRkZGRiI+ICAgICAgICAgICAgPGcgaWQ9ItC+0YLQutGA0YvRgtGL0Lkt0YTQuNC70YzRgtGALWNvcHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIzMi4wMDAwMDAsIDE3MS4wMDAwMDApIj4gICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyMy4wMDAwMDAsIDExNy4wMDAwMDApIj4gICAgICAgICAgICAgICAgICAgIDxnIGlkPSJub3VuXzE0MDU5X2NjIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2LjAwMDAwMCwgODIuMDAwMDAwKSI+ICAgICAgICAgICAgICAgICAgICAgICAgPGcgaWQ9IkNoZWNrLWNvcHkiPiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iR3JvdXAiPiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTguNDYwMTIzMjUsMC4wMzI4MjIzODc3IEw5Ljg4MzE0NTI4LDEuMjkzMjE2MTcgQzkuOTM5NjkxMSwxLjM0MzI5OTcxIDkuOTQ2NTg2NDYsMS40MzE1MTk2MyA5Ljg5OTMzNTQ1LDEuNDkwOTU5NjEgTDQuMDk5NDE2NjcsOC43ODcwMzc3NSBDNC4wNzAxMzQxNSw4LjgyMzg3NDA2IDQuMDI3MDI5MjMsOC44NDA4NzA2NyAzLjk4NTEwNzI4LDguODM2NzY4NjMgQzMuOTU4MjE4MDMsOC44MzQ0OTY1MyAzLjkzMTY1OTg0LDguODIzNjExNTkgMy45MDkzMzAyNyw4LjgwMzgzMzkzIEwwLjA0ODE0NDk4ODcsNS4zODM5MTkyOCBDLTAuMDA4NzM3ODkwMTUsNS4zMzM1MzcxOCAtMC4wMTYxODA1NjIyLDUuMjQ1MDA2IDAuMDMwOTcwNjIxOCw1LjE4NTY5MTU4IEwxLjIyNTAyNzg5LDMuNjgzNjEyNzggQzEuMjcyNDc1NDYsMy42MjM5MjU1MiAxLjM1NjMxNTQ3LDMuNjE2ODgwMjYgMS40MTI5NTE4MiwzLjY2NzA0Mzk5IEwzLjc1MTMzNTcyLDUuNzM4MTg4NjggTDguMjcyODIyMDEsMC4wNTAzMzAxOTM4IEM4LjMyMDI0NzcyLC0wLjAwOTMyOTU2ODEyIDguNDAzOTMwNjQsLTAuMDE2OTQ4MzA2NSA4LjQ2MDEyMzI1LDAuMDMyODIyMzg3NyBMOC40NjAxMjMyNSwwLjAzMjgyMjM4NzcgWiIgaWQ9IlNoYXBlIj48L3BhdGg+ICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICAgICAgICAgICAgICA8L2c+ICAgICAgICAgICAgICAgICAgICA8L2c+ICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=') center center no-repeat;
    border-color: $brand-primary;
    outline: none;
  }

  @include responsive(md) {
    width: 2.1rem;
    height: 2.1rem;
  }
}

.formGroup {
  margin-bottom: 0;
}

.container {
  display: inline-block;
  width: 100%;
  margin: 0;

  vertical-align: top;

  border: none;

  &:nth-child(2) {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
  }

  &:last-child {
    border-bottom-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
  }
}

.heading {
  display: block;
  margin: 0;
  margin-bottom: 1.2rem;

  font-size: 1.5rem;
  font-weight: 400;
}

.block {
  width: 100%;
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}
