@import '../responsive-utils';
@import '../variables';

.dropdown {
  position: relative;

  display: inline-block;

  vertical-align: top;
}

.placeholder {
  position: relative;
  z-index: 1;

  display: block;
  min-width: 11rem;
  padding: 1.6rem 2rem;
  padding-right: 3.5rem;

  color: $star-dust;
  font-size: 1.5rem;
  line-height: 1;
  text-align: left;
  white-space: nowrap;

  background-color: $brand-white;
  border: 1px solid $grey;
  border-radius: .4rem;
  cursor: pointer;

  transition: border-color .3s;

  user-select: none;

  &:hover,
  &:focus,
  &.active {
    border-color: $star-dust;
  }

  &.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    .icon {
      transform: rotate(180deg);
    }
  }

  .activePlaceholder {
    color: $brand-black;
  }
}

.textHide {
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    box-shadow: inset -100px 0 20px -50px #ffffff;
  }
}

.container {
  position: absolute;
  top: 4.8rem;
  right: 0;
  z-index: 20;

  display: block;
  min-width: 100%;

  text-align: left;

  background-color: $brand-white;
  border: 1px solid $star-dust;
  border-bottom-right-radius: .4rem;
  border-bottom-left-radius: .4rem;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.btnReset {
  composes: btnTimes from '../button.css';
}

.iconReset {
  composes: iconTimes from '../button.css';
}

.icon {
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  z-index: 10;

  display: inline-block;
  width: 1.5rem;
  height: 1.1rem;
  margin-top: .3rem;
  margin-left: .4rem;

  fill: $grey-dark;
}

.iconBig {
  top: .9rem;

  width: 1.6rem;
  height: 2.5rem;
}

/* landing */

.priceDropdown {
  .placeholder {
    min-width: 20rem;
    margin-left: -1px;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;

    border-color: $alto;
    border-radius: 0;

    &:hover,
    &:focus,
    &.active {
      border-color: $alto;
    }

    &.active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      .icon {
        transform: rotate(180deg);
      }
    }

    .activePlaceholder {
      color: $brand-black;
    }
  }

  .container {
    top: 5.2rem;

    margin-left: -1px;
    padding: 0;

    border-color: $alto;
  }

  .icon {
    top: 1.2rem;
  }
}

.satellites {
  .placeholder {
    border: none !important;
  }
}
