@import '../variables';
.container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 1.2rem 2rem;
  color: $brand-black;
  font-size: 1.5rem;
  line-height: 1.42857143;
  text-align: left;
  background-color: $brand-white;
  background-image: none;
  border: 1px solid $grey;
  border-radius: 0.4rem;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  appearance: none;
  &:hover {
    border-color: $star-dust;
  }
  &:focus,
  &:active {
    z-index: 6;
    border-color: #e8e8e8;
    outline: none;
  }
  &.isFocused {
    z-index: 6;
    border-color: #e8e8e8;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.placeholder {
  color: $star-dust;
}

.autosizeInput {
  input {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    appearance: none;
    &:focus {
      outline: none;
    }
  }
}


/* list multy */

.list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.option {
  position: relative;
  display: inline-block;
  padding-right: 2.5rem;
}


/* list inner */

.listInner {
  position: absolute;
  top: 4.6rem;
  right: -1px;
  left: -1px;
  z-index: 10;
  box-sizing: border-box;
  max-height: 30rem;
  margin: 0;
  margin-top: -1px;
  padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  list-style: none;
  background: $brand-white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
   ::-webkit-scrollbar {
    display: none;
  }
}

.optionInner {
  max-height: 28rem;
  padding: 1.3rem 1.5rem;
  overflow-y: auto;
  color: $brand-black;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {
    background: $body-bg;
  }
  &.selected {
    background: $body-bg;
  }
}


/* icon */

.icon {
  position: absolute;
  right: 2rem;
  bottom: 0.9rem;
  z-index: 9;
  height: 2.5rem;
  fill: $grey-dark;
}

.iconChevron {
  composes: icon;
  width: 1.6rem;
}

.iconDelete {
  composes: icon;
  right: 0.4rem;
  bottom: 1.2rem;
  z-index: 3;
  width: 1.8rem;
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}


/* utils */

.changeBottom {
  bottom: 0;
}

.extraRight {
  right: 3.5rem;
}

.up {
  transform: rotate(180deg);
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  position: absolute;
  top: -1.7rem;
  left: -1px;
  width: 0;
}

.resetPadding {
  padding: 0;
}


/* landing */

.landingSelect {
  &.container {
    width: auto;
    min-width: 13rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    vertical-align: top;
    border-color: $alto;
    border-left-color: $grey-darker;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:nth-child(2) {
      z-index: 7;
      margin-left: -1px;
      border-radius: 0;
      &:hover {
        border-color: $alto;
      }
      &.isFocused {
        border-color: $alto;
      }
    }
    &:hover,
    &:focus,
    &:active {
      border-color: $alto;
    }
    &.isFocused {
      z-index: 6;
      border-color: $alto;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      outline: none;
    }
  }
  .listInner {
    top: 5.2rem;
    border-color: $grey-darker;
  }
  .icon {
    right: 2rem;
    bottom: 1.1rem;
  }
  .iconDelete {
    right: 3.5rem;
    bottom: 1.4rem;
  }
}

.height15 {
  .listInner {
    max-height: 15rem;
    min-height: 15rem;
  }
}

.filterSelect {
  &.container {
    width: auto;
    min-width: 11rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: inline-block;
    vertical-align: top;
    border-color: $grey-darker;
    border-radius: 0.4rem;
    @include responsive(sm) {
      min-width: 15rem;
    }
    &:hover,
    &:focus,
    &:active {
      border-color: $grey-darker;
    }
    &.isFocused {
      border-color: $grey-dark;
      outline: none;
    }
  }
  .listInner {
    top: 3.8rem;
    border-color: $grey-darker;
    border-radius: 0.4rem;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  }
  .optionInner {
    padding: 0.8rem 2rem;
  }
  .icon {
    display: none;
  }
}