@import '../variables';

$btn-xs-padding: .6rem 1.4rem;
$btn-xs-font-size: 1rem;

$btn-sm-padding: .8rem 1.6rem;
$btn-sm-font-size: 1.2rem;

$btn-md-padding: .9rem 2rem;
$btn-md-font-size: 1.4rem;

$btn-lg-padding: 1rem 2.4rem;
$btn-lg-font-size: 1.6rem;

@mixin btn-variant($color, $background, $background-hover) {
  &,
  &[disabled]:hover {
    border-color: $background;
    background-color: $background;
    color: $color;
  }

  &:hover,
  &:active,
  &:focus,
  &.active {
    border-color: $background-hover;
    background-color: $background-hover;
    color: $color;
  }
}

@mixin btn-size($padding, $fontSize, $borderRadius: 2px) {
  padding: $padding;
  border-radius: $borderRadius;
  font-size: $fontSize;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: .8rem 1.6rem;
  border: 1px solid $light-grey;
  border-radius: 2px;
  background-color: transparent;
  background-image: none;
  color: $grey;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  cursor: pointer;
  transition: all .3s;
  touch-action: manipulation;

  &[disabled] {
    opacity: .5;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: color($light-grey blackness(10%));
    color: $grey;
    text-decoration: none;
  }
}

.primary {
  @include btn-variant($brand-white, $brand-primary, $brand-primary-hover);
}

.danger {
  @include btn-variant($brand-white, $brand-danger, $brand-danger-hover);
}

.warning {
  @include btn-variant($grey, $brand-warning, $brand-warning-hover);
}

.success {
  @include btn-variant($brand-white, $brand-success, $brand-success-hover);
}

.info {
  @include btn-variant($brand-white, $brand-info, $brand-info-hover);
}

.accent {
  @include btn-variant($brand-white, $brand-accent, $brand-accent-hover);
}

.xs {
  @include btn-size($btn-xs-padding, $btn-xs-font-size);
}

.sm {
  @include btn-size($btn-sm-padding, $btn-sm-font-size);
}

.md {
  @include btn-size($btn-md-padding, $btn-md-font-size);
}

.lg {
  @include btn-size($btn-lg-padding, $btn-lg-font-size);
}

.block {
  display: block;
  width: 100%;
}
