@import '../responsive-utils';
@import '../variables';

.card {
  position: relative;

  display: block;
  min-height: 17.5rem;
  margin-top: -1px;

  text-decoration: none;

  background-color: $brand-white;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  &:hover {
    background-color: $light-blue;
  }

  &:focus {
    outline: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: .5rem;
    height: 100%;
  }

  @include responsive(sm) {
    min-height: 21.5rem;
  }

  @include responsive(md) {
    min-height: 17.5rem;
  }
}

.cardPlaces {
  position: relative;

  display: block;
  margin-top: -1px;

  text-decoration: none;

  background-color: $brand-white;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  &:hover {
    background-color: $light-blue;
  }

  &:focus {
    outline: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: .5rem;
    height: 100%;
  }
}

.cardWrapper {
  padding: 2rem 1rem;

  @include responsive(sm) {
    padding: 1.5rem 1rem;
  }
}

.padding1_5_1 {
  padding: 1.5rem 1rem;
}

.title {
  composes: title from 'cem/styles/typography.css';

  margin: 0;
  margin-bottom: .2rem;

  color: $dark-grey;
}

.fullName {
  margin: 0;
  margin-bottom: .2rem;

  color: $brand-default;
  font-size: 1.8rem;
  font-weight: 400;
}

.titleBigger {
  composes: fullName;
}

.position {
  margin: 0;

  color: $grey;
  font-size: 1.2rem;

  @include responsive(sm) {
    color: $darker-grey;
    font-size: 1.4rem;
  }
}

.conditionWrapper {
  text-align: right;
}

.list {
  margin: 0;
}

.textGrey {
  margin-bottom: .5rem;

  color: $dark-grey;
  font-weight: 300;
  line-height: 1;
}

.listTitle {
  margin-bottom: .5rem;

  color: $dark-grey;
  font-weight: 300;
  line-height: 1;
}

.listDescription {
  font-weight: 400;
}

.objectPrice {
  margin-bottom: 1.5rem;
}

.imageResponsive {
  min-width: 23.3rem;
  min-height: 17.5rem;

  background: transparent center no-repeat;
  background-size: cover;

  @include responsive(sm) {
    min-height: 21.5rem;
  }

  @include responsive(md) {
    min-height: 17.5rem;
  }
}

.imageContainer {
  height: 16rem;
  margin-bottom: 2.5rem;
  overflow: hidden;

  background: transparent url('//d1g42dx7xlztem.cloudfront.net/c0efe1da-2cd5-42b7-b5e1-a6dfeff6b178') center center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
}

/* properties photos card */

.cardPhotos {
  position: relative;

  display: block;
  min-height: 22.9rem;
  margin-bottom: 3rem;

  border: 1px solid $light-grey;
}

.titlePhotos {
  margin-top: 0;

  color: $grey;
}

.imageProperties {
  display: block;
  min-width: 100%;
  max-width: 100%;

  @include responsive(sm) {
    min-width: 23.3rem; /* 4/3 of 175 height is ~233px */
    max-width: 23.3rem;
    height: 17.5rem;
  }
}

.label {
  color: $brand-default;
  font-weight: 400;
}

.btn {
  padding: 0;

  color: $brand-default;
  text-transform: none;
  text-decoration: none;

  border: none;

  &:hover,
  &:focus {
    background: transparent;
  }

  @include responsive(sm) {
    margin-left: 1.5rem;
  }
}

.icon {
  width: .9rem;
  height: .9rem;
  margin-right: .1rem;

  font-weight: 400;

  fill: $grey;
}

/* end */

.btnEdit {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  composes: btn;
}

.iconEdit {
  width: 1.6rem;
  height: 1.6rem;

  fill: $grey;
}

.mediaTitle {
  margin: 0;

  font-size: 1.4rem;
  font-weight: 400;
}

.mediaText {
  margin: 0;
  margin-bottom: .7rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 14.5rem;

  @include responsive(sm) {
    min-height: 18.5rem;
  }

  @include responsive(md) {
    min-height: 14.5rem;
  }
}

/* kind */

.primary {
  &:after {
    background-color: $brand-primary;
  }
}

.success {
  &:after {
    background-color: $brand-success;
  }
}

.warning {
  &:after {
    background-color: $brand-warning;
  }
}

.danger {
  &:after {
    background-color: $brand-danger;
  }
}

.textPrimary {
  color: $brand-primary;
}

.textSuccess {
  color: $brand-success;
}

.isDragging > * {
  opacity: 0;
}

.isDragging {
  border-top: 2px solid $brand-primary;
}

.fullHeight {
  height: 23rem;
  margin-bottom: 0;
}
