@import '../variables';
@import '../responsive-utils';

.card {
  position: relative;
  z-index: 1;

  display: block;
  width: 100%;
  margin-top: -1px;
  padding: 1.5rem 0;

  background-color: $brand-white;
  border: 1px solid $light-grey;

  &:hover {
    z-index: 2;

    background-color: $light-blue;
    border-color: $light-blue;
  }
}

.cardMd {
  padding: 2.5rem 0;
}

.button {
  position: relative;
  z-index: 1;

  display: block;
  width: 100%;
  margin-top: -1px;
  padding: 1.5rem 0;

  border: 1px solid $light-grey;
}

.textMd {
  font-size: 1.5rem;
}

.white {
  color: $brand-white;
}

.default {
  color: $brand-default;
}

.primary {
  color: $brand-primary;
}

.success {
  color: $brand-success;
}

.accent {
  color: $brand-accent;
}

.danger {
  color: $brand-danger;
}

.warning {
  color: $brand-warning;
}

.info {
  color: $brand-info;
}


.icon {
  width: 1.3rem;
  height: 1.2rem;
  margin-left: 1rem;

  fill: $grey;
  transform: rotate(-90deg);
}

.mediaContainer {
  display: flex;
  align-items: center;
}

.mediaDescription {
  margin-left: 1rem;
}

.mediaText {
  margin: 0;
  margin-bottom: .3rem;
}
