@import '../variables';

/* DayPicker styles */

/* need for cssmodules */
/* stylelint-disable selector-pseudo-class-no-unknown */
:global(.DayPicker) {
  position: absolute;
  z-index: 10;

  /* stylelint-enable selector-pseudo-class-no-unknown */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;

  background: #ffffff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .06);

  user-select: none;

  &-Month {
    display: table;
    margin: 0 1rem;

    border-collapse: collapse;
    border-spacing: 0;

    user-select: none;
  }

  &-NavBar {
    position: absolute;
    right: 0;
    left: 0;

    padding: 0 .5rem;
  }

  &-NavButton {
    position: absolute;

    width: 1.5rem;
    height: 1.5rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  &-NavButton--prev {
    left: 1rem;

    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI2cHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDI2IDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjIgKDEyMDQzKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5wcmV2PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9InByZXYiIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzLjM5MzE5MywgMjUuMDAwMDAwKSBzY2FsZSgtMSwgMSkgdHJhbnNsYXRlKC0xMy4zOTMxOTMsIC0yNS4wMDAwMDApIHRyYW5zbGF0ZSgwLjg5MzE5MywgMC4wMDAwMDApIiBmaWxsPSIjNTY1QTVDIj4KICAgICAgICAgICAgPHBhdGggZD0iTTAsNDkuMTIzNzMzMSBMMCw0NS4zNjc0MzQ1IEwyMC4xMzE4NDU5LDI0LjcyMzA2MTIgTDAsNC4yMzEzODMxNCBMMCwwLjQ3NTA4NDQ1OSBMMjUsMjQuNzIzMDYxMiBMMCw0OS4xMjM3MzMxIEwwLDQ5LjEyMzczMzEgWiIgaWQ9InJpZ2h0IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K');
  }

  &-NavButton--next {
    right: 1rem;

    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI2cHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDI2IDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjIgKDEyMDQzKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5uZXh0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9Im5leHQiIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuOTUxNDUxLCAwLjAwMDAwMCkiIGZpbGw9IiM1NjVBNUMiPgogICAgICAgICAgICA8cGF0aCBkPSJNMCw0OS4xMjM3MzMxIEwwLDQ1LjM2NzQzNDUgTDIwLjEzMTg0NTksMjQuNzIzMDYxMiBMMCw0LjIzMTM4MzE0IEwwLDAuNDc1MDg0NDU5IEwyNSwyNC43MjMwNjEyIEwwLDQ5LjEyMzczMzEgTDAsNDkuMTIzNzMzMSBaIiBpZD0icmlnaHQiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=');
  }

  &-Caption {
    display: table-caption;
    height: 1.5rem;

    text-align: center;
  }

  &-Weekdays {
    display: table-header-group;
  }

  &-WeekdaysRow {
    display: table-row;
  }

  &-Weekday {
    display: table-cell;
    padding: .5rem;

    color: #8b9898;
    font-size: .875em;
    text-align: center;
  }

  &-Body {
    display: table-row-group;
  }

  &-Week {
    display: table-row;
  }

  &-Day {
    display: table-cell;
    padding: .5rem;

    vertical-align: middle;
    text-align: center;

    border: 1px solid #eaecec;
    cursor: pointer;
  }

  &--interactionDisabled &-Day {
    cursor: default;
  }

  /* Default modifiers */
  &-Day--today {
    color: #d0021b;
    font-weight: 500;
  }

  &-Day--disabled {
    color: #dce0e0;

    background-color: #eff1f1;
    cursor: default;
  }

  &-Day--outside {
    color: #dce0e0;

    cursor: default;
  }

  /* Example modifiers */
  &-Day--sunday {
    color: #dce0e0;

    background-color: #f7f8f8;
  }

  &-Day--selected:not(&-Day--disabled):not(&-Day--outside) {
    color: #ffffff;

    background-color: #4a90e2;
  }

  /* Locales */
  &--ar {
    direction: rtl;
  }
}

.daypicker {
  position: relative;

  display: inline-block;
  margin-right: 1rem;
}

.inputDaypicker {
  max-width: 14rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;

  color: $brand-default;
}

.tasksInputDaypicker {
  font-size: 1.8rem;
}

table {
  .helperDaypicker {
    left: 0;
  }
}

.helperDaypicker {
  left: 6.3rem;
}

.icon {
  position: relative;

  width: 2rem;
  height: 1.4rem;

  fill: $grey;
}

.btn {
  position: absolute;
  top: 50%;
  right: 0;

  margin-top: -.8rem;
  padding: 0;

  border: none;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.btnDaypicker {
  composes: btn;

  top: 0;

  margin-top: 0;
}

.iconDaypicker {
  position: absolute;
  top: 50%;
  right: -1.5rem;

  width: .7rem;
  height: .7rem;
  margin-top: -.8rem;

  fill: $darker-grey;
  cursor: pointer;

  transition: fill .3s;

  &:hover,
  &:focus {
    fill: $brand-danger;
  }
}

.iconContainer {
  position: absolute;
  right: 2.5rem;
  bottom: .3rem;
  z-index: 3;
}

.iconDelete {
  width: 1.7rem;
  height: 1.7rem;
  padding: .3rem .5rem;

  fill: $grey;
  cursor: pointer;
}

.extraRight {
  right: 2.5rem;
}

.iconDeleteStaff {
  vertical-align: bottom;
}
