@import '../responsive-utils';
@import '../variables';

.dropdown {
  position: relative;

  display: block;

  @include responsive(sm) {
    display: inline-block;
    vertical-align: top;
  }
}

.container {
  position: absolute;
  top: 100%;
  left: 2rem;
  z-index: 4;

  margin: 0;
  padding: 0;

  background: #ffffff;
  box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, .06);
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.header {
  position: absolute;
  top: 0;
  right: 0;

  .container {
    right: 1.5rem;
    left: auto;

    min-width: 26rem;
  }
}
