@import '../variables';

.title {
  position: relative;

  margin: 0 0 1.5rem;

  color: $grey;
  font-weight: 300;
}

.lg {
  margin: 0;

  font-size: 2.4rem;
}

.md {
  font-size: 2rem;
}

.sm {
  font-size: 1.6rem;
}

.xmd {
  margin-bottom: .5rem;
  font-size: 1.7rem;
}

.xs {
  font-size: 1.5rem;
}

.notFound {
  margin-top: 6rem;
  margin-bottom: 0;

  color: $dark-grey;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
}
