@import '../variables';

.list {
  margin: 0;
  padding: 0;
}

.listTitle {
  margin-bottom: 1.5rem;

  color: $grey;
  font-weight: 300;
}

.listItem {
  margin: 0;
  margin-bottom: .8rem;

  font-weight: 400;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}
