@import '../variables';

.mapContainer {
  position: relative;

  margin-right: -2.5rem;
  margin-left: -2.5rem;
}

.map {
  width: 100%;
  height: 32rem;

  &.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;

    height: 100%;
    margin-top: 0;

    @include responsive(sm) {
      height: 100%;
    }
  }

  @include responsive(sm) {
    height: 47.3rem;
  }
}

.btnFullScreen {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 1;

  padding: 1.2rem 2rem;

  background: $brand-white;
  border-color: #d2d2d2;

  &:hover,
  &:focus {
    background: $brand-white;
    border-color: $brand-default;
  }
}

.btnFullScreenClose {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 1;

  padding: 1.5rem;
  padding-right: 1.3rem;
  padding-bottom: 1.3rem;

  background: $brand-white;
  border: none;
  border-radius: 50%;

  &:hover,
  &:focus {
    background: $brand-white;
  }
}

.btnControlContainer {
  position: absolute;
  top: 3rem;
  left: 3rem;

  display: flex;
  flex-direction: column;
}

.btnControl {
  position: relative;
  z-index: 2;

  margin-top: -1px;
  padding: 1.2rem;

  font-size: 2rem;
  font-weight: 300;

  background: $brand-white;
  border-color: #d2d2d2;

  &:hover,
  &:focus {
    z-index: 3;

    background: $brand-white;
    border-color: $brand-default;
  }

  &:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.iconFrame {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: .8rem;

  vertical-align: bottom;

  fill: $brand-default;
}

.iconTimes {
  width: 3rem;
  height: 2.8rem;

  fill: $brand-default;
}
