@import '../responsive-utils';

.media {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;

  &:first-child {
    margin-top: 0;
  }

  @include responsive(sm) {
    flex-wrap: nowrap;
  }
}

.left {
  width: 100%;
  padding-right: 0;

  @include responsive(sm) {
    width: auto;
    padding-right: 2.5rem;
  }
}

.body {
  flex-grow: 2;
  width: 100%;
  padding-top: 1rem;

  @include responsive(sm) {
    width: auto;
    padding-top: 0;
  }
}
