@import '../responsive-utils';
@import '../variables';

$size-lg: 90rem;
$size-md: 75rem;
$size-sm: 40rem;
$size-extra50: 50rem;

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;

  overflow: scroll;

  background: rgba(0, 0, 0, .8);

  pointer-events: auto;
}

.content {
  position: relative;
  top: 0;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  background: $brand-white;

  @include responsive(sm) {
    top: 8rem;

    width: $size-md;
    height: auto;
    margin: 0 auto 1rem;

    border-radius: .4rem;
  }
}

.close {
  position: absolute;
  top: 2.7rem;
  right: 1.5rem;

  padding: 0;

  border: none !important;
  cursor: pointer;

  transition: background .3s;

  &:hover,
  &:focus {
    background: transparent !important;
  }

  @include responsive(sm) {
    top: -4rem !important;
    right: -4rem !important;
  }
}

.icon {
  width: 1.7rem;
  height: 1.7rem;

  transition: background .3s;

  &:hover {
    fill: $brand-primary;
  }

  fill: $dark-grey;
}

.lg {
  @include responsive(md) {
    width: $size-lg;
  }
}

.md {
  @include responsive(sm) {
    width: $size-md;
  }
}

.sm {
  @include responsive(sm) {
    width: $size-sm;
  }
}

.extra50 {
  width: $size-extra50;
}
