@import '../variables';

.nav {
  border-bottom: 1px solid $light-grey;
}

.link {
  display: block;
  margin: 0 -1.5rem;
  padding: 1rem 0;

  color: $grey;
  text-transform: uppercase;
  text-decoration: none;

  border-right: 1px solid $light-grey;

  transition: all .3s;

  &.active,
  &:hover {
    color: $brand-white;

    background-color: $brand-primary;
    border-right-color: $brand-primary;
  }

  &:focus {
    outline: none;
  }
}

.textAlign {
  text-align: center;
}
