@import '../variables';

.list {
  margin: 0;
}

.listTitle {
  margin-bottom: .5rem;
  color: $dark-grey;
  font-weight: 300;
  line-height: 1;
}

.listDescription {
  font-weight: 400;
}

.titleBigger {
  margin: 0;
  margin-bottom: .2rem;
  color: $brand-default;
  font-size: 1.8rem;
  font-weight: 400;
}

.titleSmaller {
  margin: 1.7rem 0 .3rem;
  color: $grey;
  font-size: 1rem;
  font-weight: 300;
}

.textSmaller {
  margin: 0;
  font-size: 1.2rem;
}
