@import '../variables';

.container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 23rem;
  height: 23rem;
  margin-top: -1.5rem;

  transform: translate(-50%, -50%);
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;

  color: $light-grey;
  font-size: 2.8rem;

  transform: translate(-50%, -50%);
}
