@import '../responsive-utils';
@import '../variables';

/* select */

.container {
  position: relative;

  width: 100%;
  min-height: 2.9rem;
  padding: .6rem 1.2rem;
  padding-left: 0;

  line-height: 1.42857143;

  border-bottom: 1px solid $light-grey;

  &.floatLabel + label {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    cursor: default;
    opacity: 1;
  }
}

.control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: pointer;
}

.placeholder {
  color: $dark-grey;
}

.autosizeInput {
  input {
    color: $brand-default;
    font-size: 1.2rem;

    background: transparent;
    border: none;

    appearance: none;

    &:focus {
      outline: none;
    }
  }
}

/* list multy */

.list {
  display: inline-block;
  margin: 0;
  padding: 0;

  list-style: none;
}

.option {
  position: relative;

  display: inline-block;
  padding-right: 2.5rem;
}

/* list inner */

.listInner {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 4;

  max-height: 30rem;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;

  list-style: none;

  background: $brand-white;
  box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, .06);
}

.optionInner {
  padding: 1rem 1.5rem;

  color: $brand-default;
  font-size: 1.2rem;
  white-space: pre-wrap;

  cursor: pointer;
  appearance: initial !important;

  &:hover {
    background: $light-blue;
  }

  &.selected {
    background: $light-blue;
  }
}

/* icon */

.icon {
  position: absolute;
  top: 50%;
  right: 1rem;

  height: .7rem;

  fill: $grey;
  transform: translateY(-50%);
}

.iconChevron {
  composes: icon;

  width: 1.3rem;
}

.iconDelete {
  composes: icon;

  right: .4rem;
  bottom: .6rem;
  z-index: 3;

  width: 1.7rem;
  height: 1.7rem;
  padding: .3rem .5rem;

  cursor: pointer;
}

/* utils */

.changeBottom {
  bottom: 0;
}

.extraRight {
  right: 2.5rem;
}

.up {
  transform: rotate(180deg);
}

.nowrap {
  @include responsive(sm) {
    white-space: nowrap;
  }
}

.hidden {
  position: absolute;
  top: -1.4rem;

  width: 0;
}

.resetPadding {
  padding: 0;
}
