@import '../variables';

.dropdown {
  position: relative;

  display: inline-block;

  vertical-align: top;
}

.placeholder {
  position: relative;
  z-index: 1;

  display: inline-block;
  min-width: 11rem;
  margin-bottom: 0;
  padding: .7rem 1.4rem;
  padding-right: 3.5rem;

  color: $grey;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;

  background-color: transparent;
  border: 1px solid $light-grey;
  border-radius: .2rem;
  cursor: pointer;

  transition: border-color .3s;

  user-select: none;

  &:hover,
  &:focus,
  &.active {
    color: $grey;

    background-color: color($light-grey blackness(10%));
  }

  &.active {
    .icon {
      transform: rotate(180deg);
    }
  }

  .activePlaceholder {
    color: $grey;
  }

  &.disabled {
    opacity: .5;
  }
}

.textHide {
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    box-shadow: inset -100px 0 20px -50px #ffffff;
  }
}

.icon {
  position: absolute;
  top: .8rem;
  right: 1.3rem;
  z-index: 10;

  display: inline-block;
  width: 1.2rem;
  height: .7rem;

  fill: $grey;
}

.container {
  position: absolute;
  top: 150%;
  right: 0;
  left: auto;
  z-index: 4;

  margin: 0;
  padding: 0;

  background: #ffffff;
  box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, .06);
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.btnReset {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  margin-top: 0;
  margin-right: 1rem;
  padding: .4rem;

  background: transparent;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background: transparent;

    .iconTimes {
      fill: color($brand-primary blackness(20%));
    }
  }
}

.iconReset {
  width: .7rem;
  height: .7rem;

  transition: fill .3s;

  fill: $grey;
}

.md {
  max-height: 25rem;
  overflow-y: scroll;
}
