@import '../variables';

.switch {
  position: relative;

  width: 4.5rem;

  user-select: none;
}

.switchLabel {
  display: block;
}

.switchControl {
  display: inline-block;
  width: 4.5rem;
  height: 1.5rem;
  padding: 0;
  overflow: hidden;

  line-height: 1.5rem;

  background-color: #b5b5b5;
  border: 0 solid $brand-white;
  border-radius: 2.1rem;
  cursor: pointer;

  appearance: none;

  &:focus {
    outline: none;
  }

  &:checked {
    background-color: color($brand-primary lightness(60%));

    &:before {
      right: -.2rem;

      background-color: $brand-primary;
      border-color: #0288d1;
      box-shadow: .3rem .6rem 1.8rem 0 rgba(0, 0, 0, .2);
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 2.6rem;
    bottom: 0;

    display: block;
    width: 2.1rem;
    height: 2.1rem;
    margin: -.3rem -.2rem;

    background: $brand-white;
    border-radius: 2.1rem;
    box-shadow: 0 .6rem 1.2rem 0 #b5b5b5;

    transition: all .3s;
  }
}
