@import '../variables';

$color: #e0e0e0;
$border-bottom: 1px solid $color;

.table {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 0;

  border-collapse: collapse;
  border-spacing: 0;

  background-color: transparent;
}

.responsive {
  min-height: .01%;
  overflow-x: scroll;
}

.row {
  padding: 0;
}

.heading {
  padding: 1rem 1.5rem;

  color: $grey;
  font-weight: 500;
  line-height: 1.42857143;
  vertical-align: middle;
  text-align: left;

  border-color: #e0e0e0;
  border-bottom: $border-bottom;

  &:first-child {
    padding-left: 0;
  }
}

.cell {
  padding: 1rem 1.5rem;

  line-height: 1.42857143;
  vertical-align: middle;

  border-color: #e0e0e0;
  border-bottom: $border-bottom;

  &:first-child {
    padding-left: 0;
  }
}
