@import '../responsive-utils';
@import '../variables';

.tabsContainer {
  display: flex;

  text-align: center;

  @include responsive(sm) {
    min-width: auto;
  }
}

.tab {
  width: 100%;
  margin: 0;
  padding: 1rem 0;

  color: $grey;
  text-transform: uppercase;
  text-decoration: none;

  border-bottom: 2px solid transparent;

  &.active,
  &:hover {
    border-bottom: 2px solid $brand-primary;
  }

  &:focus {
    outline: none;
  }
}

.textAlign {
  text-align: center;
}
