@import '../variables';

.tooltipContainer {
  position: relative;

  display: inline-block;
}

.tooltip {
  position: absolute;
  z-index: 20;

  display: none;
  min-width: 17rem;
  padding: 1rem;

  color: $brand-white;
  text-align: center;

  background: $darker-grey;
  border-radius: .4rem;
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .38);

  &:after {
    content: '';
    position: absolute;

    width: 0;
    height: 0;

    border-style: solid;
  }
}

.tooltipTrigger:hover + .tooltip {
  display: inline-block;
}

.top {
  bottom: 140%;
  left: 50%;

  transform: translateX(-50%);

  &:after {
    bottom: -.5rem;
    left: 50%;

    border-width: .5rem .5rem 0 .5rem;
    border-color: $darker-grey transparent transparent transparent;
    transform: translateX(-50%);
  }
}

.bottom {
  top: 140%;
  left: 50%;

  transform: translateX(-50%);

  &:after {
    top: -.5rem;
    left: 50%;

    border-width: 0 .5rem .5rem .5rem;
    border-color: transparent transparent $darker-grey transparent;
    transform: translateX(-50%);
  }
}

.left {
  top: 50%;
  right: 140%;

  transform: translateY(-50%);

  &:after {
    top: 50%;
    right: -.5rem;

    border-width: .5rem 0 .5rem .5rem;
    border-color: transparent transparent transparent $darker-grey;
    transform: translateY(-50%);
  }
}

.right {
  top: 50%;
  left: 140%;

  transform: translateY(-50%);

  &:after {
    top: 50%;
    left: -.5rem;

    border-width: .5rem .5rem .5rem 0;
    border-color: transparent $darker-grey transparent transparent;
    transform: translateY(-50%);
  }
}
