@import '../../responsive-utils';
@import '../../variables';

.container {
  padding-top: 4.5rem;

  background: $brand-white;

  @include responsive(sm) {
    padding: 7rem 1.5rem 4.5rem;
  }
}

.heading {
  margin: 0;

  font-weight: 300;
  line-height: 1;

  @include responsive(sm) {
    font-size: 2.8rem;
  }
}

.text {
  margin: 0;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;

  color: $grey-extra-dark;
  font-size: 1.8rem;
  font-weight: 300;
}

.card {
  position: relative;
  right: 50%;
  left: 50%;

  display: block;
  width: 100vw;
  margin: 0 -50vw 1px;
  overflow: hidden;

  cursor: pointer;

  &:hover {
    .title {
      @include responsive(md) {
        display: none;
      }
    }

    .backgroundColumn {
      background: rgba(0, 0, 0, 0.3);
      transition: 0.5s;

      &:hover {
        background: rgba(0, 0, 0, 0.5);
        transition: 0.3s;
      }
    }

    .itemsContainer {
      opacity: 1;
      top: 3rem;

      @include responsive(sm) {
        top: 6rem;
      }

      transition: 0.5s;
    }
  }

  @include responsive(sm) {
    right: auto;
    left: auto;

    width: auto;
    margin: 0;
    margin-bottom: 3rem;
  }
}

.layout {
  position: relative;

  padding: 12rem 0;

  background: transparent url('//images.jqestate.ru/PRI11201-bd37ae70-1024')
    center center no-repeat;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.4);
  }

  @include responsive(sm) {
    padding: 17rem 0;
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  margin: 0;

  color: $brand-white;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1;

  transform: translate(-50%, -50%);

  @include responsive(sm) {
    font-size: 2.4rem;
  }

  @include responsive(md) {
    font-size: 3rem;
  }
}

.filterTitle {
  display: block;
  padding: 0;
  border: 0;

  color: $brand-white;
  font-size: 2.2rem;
  font-weight: 600;

  margin-bottom: 1rem;

  &:hover {
    color: $brand-primary;
  }
}

.content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;

  color: $brand-white;

  @include responsive(md) {
    display: block;
  }
}

.contentColumn {
  position: relative;
  padding: 12rem 0;

  @include responsive(sm) {
    padding: 17rem 0;
  }
}

.backgroundColumn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.itemsContainer {
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 2;

  color: $brand-white;
  font-size: 1.6rem;
  text-align: left;

  transform: translateX(-50%);

  &:hover ~ .backgroundColumn {
    background: rgba(0, 0, 0, 0.5);
  }
}
