@import '../../responsive-utils';
@import '../../variables';

.container {
  padding-top: 5.5rem;

  background: $brand-white;

  @include responsive(sm) {
    padding-top: 7rem;
  }
}

.slideContainer {
  text-align: left;
  background: transparent;

  border: none;

  padding: 0;
}

.dots {
  text-align: center;

  padding: 0;

  margin-top: 0;
}

.dots li {
  display: inline-block;
  color: $grey-blue;
}

.dots li button {
  background: transparent;
  font-size: 0;

  padding: 0;

  height: 0.8rem;
  width: 0.8rem;

  border-radius: 50%;
  border: 1px solid $grey-blue;

  margin: 0 0.25rem;

  &:focus {
    outline: none;
  }
}

/* need for cssmodules */
/* stylelint-disable selector-pseudo-class-no-unknown */
:global(.slick-active) button {
  outline: none;
  background: $grey-blue !important;
}

/* stylelint-enable selector-pseudo-class-no-unknown */

.heading {
  margin: 0;

  font-weight: 300;
  line-height: 1;

  @include responsive(sm) {
    font-size: 2.8rem;
  }
}

.subtitle {
  margin: 0;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;

  color: $grey-extra-dark;
  font-size: 1.8rem;
  font-weight: 300;
}

.card {
  position: relative;

  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 1px;
  overflow: hidden;

  text-align: left;

  &:hover {
    .text {
      position: relative;
      opacity: 1;
      transform: translateX(0);
    }

    .title {
      @include responsive(md) {
        margin-bottom: 0;
      }
    }

    .content {
      @include responsive(md) {
        bottom: 1rem;
      }
    }

    .layout {
      &:after {
        background: rgba(0, 0, 0, 0.3);
        transition: 0.5s;
      }
    }
  }

  @include responsive(sm) {
    margin: 0;
    margin-bottom: 3rem;
  }
}

.layout {
  position: relative;
  width: 100%;
  height: 100%;

  transition: 0.5s;

  background-size: cover;
  background-position: center;
  overflow: hidden;

  padding: 10rem;

  &:after {
    transition: 0.5s;
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.largeCard {
  min-height: 20rem;

  @include responsive(sm) {
    min-height: 24rem;
  }
}

.mediumCard {
  min-height: 20rem;

  @include responsive(sm) {
    min-height: 24rem;
  }

  @include responsive(md) {
    min-height: 20rem;
  }
}

.smallCard {
  min-height: 20rem;
}

.content {
  position: absolute;
  z-index: 3;
  left: 2rem;
  bottom: 2rem;
  width: calc(100% - 3.5rem);

  color: $brand-white;

  transition: 0.5s;

  @include responsive(md) {
    padding-bottom: 2rem;
  }
}

.title {
  margin: 0;
  line-height: 1.3;
  font-weight: 400;
  transition: 0.5s;

  font-size: 2.2rem;

  @include responsive(md) {
    margin-bottom: -2rem;
  }
}

.text {
  font-size: 1.8rem;

  line-height: 2.4rem;

  margin-bottom: 2rem;

  @include responsive(sm) {
    margin-bottom: 0;
  }

  @include responsive(md) {
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
  }
}
