@import '../../responsive-utils';
@import '../../variables';

.bannerContainer {
  background: url('//s3.eu-central-1.amazonaws.com/dt-marketing/assets/hero.jpg')
    center bottom no-repeat;
  background-size: cover;

  @include responsive(md) {
    display: none;
  }
}

.desktopBannerContainer {
  display: none;
  background: $brand-white;

  width: 100%;

  overflow: hidden;

  white-space: nowrap;

  @include responsive(md) {
    display: block;
  }
}

.bannerCountry {
  position: relative;
  display: inline-block;
  width: 56%;

  margin-left: -6%;

  overflow: hidden;

  text-align: center;
}

.bannerCity {
  position: relative;
  display: inline-block;
  width: 56%;

  margin-left: -1rem;

  overflow: hidden;

  text-align: center;
}

.bannerBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 120%;
  height: calc(100vh - 25rem);
  min-height: 50rem;
  margin-left: -10%;

  padding: 15rem 0;

  transform: skewX(7deg);

  transition: .5s;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background: rgba(0, 0, 0, .5);
  }
}

.skew {
  transform: skewX(-7deg);

  &:hover {
    .bannerBackground {
      &:after {
        background: rgba(0, 0, 0, .4);
      }
    }

    .bannerContent {
      top: 40%;
      transform: skewX(7deg) translateY(-60%);
    }

    .filter {
      opacity: 1;
    }

    .title {
      opacity: 0;
    }
  }
}

.bannerContent {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  z-index: 2;

  margin: 0 auto;

  max-width: 28rem;

  text-align: left;

  transition: .5s;

  transform: skewX(7deg);
}

.placesContainer {
  padding-top: 6.5rem;
  padding-bottom: 6.7rem;

  background: $brand-white;

  @include responsive(sm) {
    padding-top: 9.5rem;
    padding-bottom: 11rem;
  }

  @include responsive(md) {
    padding-top: 9rem;
    padding-bottom: 7.5rem;
  }
}

.headerContainer {
  padding-top: 3.8rem;
  padding-bottom: 1rem;

  text-align: center;

  background: rgba(0, 0, 0, .5);

  @include responsive(sm) {
    padding-top: 5.8rem;
  }

  @include responsive(md) {
    padding-top: 6.5rem;
  }
}

.filterContainer {
  position: relative;

  padding: 6.2rem 0 6.5rem;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .5);
  }

  @include responsive(sm) {
    padding: 7.3rem 0 7rem;
  }
}

.title {
  margin: 0;

  font-size: 3.8rem;
  color: $brand-white;

  white-space: normal;
  transition: .4s;
}

.textMd {
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 1.5rem;

  color: $brand-white;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;

  @include responsive(sm) {
    margin: 0;
    padding: 0 3rem;

    font-size: 2.1rem;
  }

  @include responsive(md) {
    font-size: 2.4rem;
  }
}

.filter {
  color: $brand-white;
  font-size: 1.6rem;

  margin-top: 3rem;

  opacity: 0;

  transition: .3s;
}

.filterSale {
  display: inline-block;
  padding-right: 3.5rem;

  border-right: 1px solid rgba(255, 255, 255, .5);

  vertical-align: top;
}

.filterRent {
  display: inline-block;
  padding-left: 3.5rem;

  vertical-align: top;
}

.filterItem {
  display: block;

  margin: 0;
  padding: 0;
  margin-top: 1.5rem;

  color: $brand-white;
  font-size: 1.8rem;
  line-height: 1.3;

  border: none;

  &:hover,
  &:focus {
    background: transparent;
    color: $brand-primary;
  }
}

.filterTitle {
  margin: 0;

  color: $brand-white;
  font-size: 2rem;
  font-weight: 600;

  &:hover {
    color: $brand-primary;
  }
}

.filterNumber {
  font-weight: bold;

  margin-left: 1rem;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.tabsContainer {
  max-width: 75.5rem;
}

.tabContainer {
  position: relative;
  z-index: 3;

  margin-top: -3px;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;

  background: $gallery;
  border-radius: .4rem;
}

.tab {
  position: relative;
  z-index: 2;

  padding: 1.7rem 0 1rem;

  color: $brand-white;
  font-size: 1.8rem;
  line-height: 3.7rem;

  background: rgba(255, 255, 255, .22);
  border: none;
  border-radius: .4rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &:hover,
  &:focus,
  &:active {
    color: $brand-white;

    background: rgba(255, 255, 255, .35);
  }

  &.tabActive {
    color: $brand-black;

    background: $gallery;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.dropdown {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.btnGroup {
  margin-left: -1px;

  border: 1px solid $alto;
}

.btnGroupTitle {
  display: inline-block;
  padding: 1.8rem 1.4rem;

  color: $star-dust;
  font-size: 1.5rem;
  line-height: 1;

  background: $brand-white;

  @include responsive(lg) {
    padding: 1.8rem 1.9rem;
  }
}

.btn {
  position: relative;
  z-index: 1;

  padding: 1.7rem 1.7rem 1.8rem;

  vertical-align: top;

  background: $brand-white;
  border: none;
  border-color: $brand-white;

  &:hover,
  &:focus {
    background: $body-bg;
  }

  &:last-child {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  &.active {
    z-index: 2;

    color: $brand-white;

    background: $brand-primary;
    border-color: $brand-primary;
  }

  @include responsive(lg) {
    padding: 1.7rem 1.9rem 1.8rem;

    &:last-child {
      padding-right: 1.45rem;
      padding-left: 1.45rem;
    }
  }
}

.btnPrimary {
  padding-top: 1.8rem;
  padding-bottom: 1.7rem;
}

.btnOval {
  max-width: 24.1rem;
  margin: 0 auto;
  margin-bottom: 2.3rem;
  padding: 1.8rem 0;

  font-size: 1.8rem;

  border-radius: 10rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  width: 16.5rem;
  height: 3rem;

  fill: $brand-white;

  @include responsive(sm) {
    width: 28.6rem;
    height: 4.5rem;
  }
}

/* footer */

.footer {
  margin: 0 -1.5rem;
}

/* utils */

.resetBorderRadius {
  margin-left: -1px;

  border-radius: 0;
}

.resetRightBorderRadius {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.widthSm10Md13_7 {
  min-width: 10rem !important;

  @include responsive(md) {
    min-width: 13.7rem !important;
  }
}

.resetLeftBorderRadius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.widthSm14Md16 {
  min-width: 14rem !important;

  @include responsive(md) {
    min-width: 16rem !important;
  }
}

.width25 {
  min-width: 25rem !important;
}
