@import '../responsive-utils';
@import '../variables';

.header {
  padding: 1.5rem 1rem 0;
}

.media {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.label {
  margin-bottom: 0;
}

.input {
  margin-right: 1rem;

  font-size: 1.8rem;
}

.imageWrapper {
  position: relative;

  margin-bottom: 1.5rem;

  cursor: pointer;

  &:hover:before {
    background: rgba(74, 74, 74, .4) url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMjVweCIgaGVpZ2h0PSIyNXB4IiB2aWV3Qm94PSIwIDAgMjUgMjUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPlBsdXM8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iV2VsY29tZSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0iU3RhZmYtKEluZm9ybWF0aW9uKSIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExMC4wMDAwMDAsIC0xMjguMDAwMDAwKSIgZmlsbD0iI0Y1RjVGNSI+ICAgICAgICAgICAgPGcgaWQ9IlBsdXMiIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExMC4wMDAwMDAsIDEyOC4wMDAwMDApIj4gICAgICAgICAgICAgICAgPHBhdGggZD0iTTIzLjgxNTI4NTUsMTEuMzE1Mjg1NSBMMTMuNjg0NzE0NSwxMS4zMTUyODU1IEwxMy42ODQ3MTQ1LDEuMTg0NzE0NTQgQzEzLjY4NDcxNDUsMC41MzA0MjY0MDUgMTMuMTU0Mjg4MSwwIDEyLjUsMCBDMTEuODQ1NzExOSwwIDExLjMxNTI4NTUsMC41MzA0MjY0MDUgMTEuMzE1Mjg1NSwxLjE4NDcxNDU0IEwxMS4zMTUyODU1LDExLjMxNTI4NTUgTDEuMTg0NzE0NTQsMTEuMzE1Mjg1NSBDMC41MzA0MjY0MDUsMTEuMzE1Mjg1NSAwLDExLjg0NTcxMTkgMCwxMi41IEMwLDEzLjE1NDI4ODEgMC41MzA0MjY0MDUsMTMuNjg0NzE0NSAxLjE4NDcxNDU0LDEzLjY4NDcxNDUgTDExLjMxNTI4NTUsMTMuNjg0NzE0NSBMMTEuMzE1Mjg1NSwyMy44MTUyODU1IEMxMS4zMTUyODU1LDI0LjQ2OTU3MzYgMTEuODQ1NzExOSwyNSAxMi41LDI1IEMxMy4xNTQyODgxLDI1IDEzLjY4NDcxNDUsMjQuNDY5NTczNiAxMy42ODQ3MTQ1LDIzLjgxNTI4NTUgTDEzLjY4NDcxNDUsMTMuNjg0NzE0NSBMMjMuODE1Mjg1NSwxMy42ODQ3MTQ1IEMyNC40Njk1NzM2LDEzLjY4NDcxNDUgMjUsMTMuMTU0Mjg4MSAyNSwxMi41IEMyNSwxMS44NDU3MTE5IDI0LjQ2OTg2MDMsMTEuMzE1Mjg1NSAyMy44MTUyODU1LDExLjMxNTI4NTUgTDIzLjgxNTI4NTUsMTEuMzE1Mjg1NSBaIiBpZD0iU2hhcGUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=') center center no-repeat;
  }

  &:before {
    content: '';
    position: absolute;

    display: block;
    width: 100%;
    height: 100%;

    background: transparent;
    background-position: center center;
    border-radius: 50%;

    transition: background .35s;
  }

  @include responsive(sm) {
    margin-bottom: 0;
  }
}

.userAvatarImageWrapper {
  composes: imageWrapper;

  width: 102px;
  height: 102px;
}

.selectionAvatarImageWrapper {
  composes: imageWrapper;

  width: 102px;
  height: 102px;
  border-radius: 60%;
}

.selectionAvatarImageWrapperInactive {
  composes: selectionAvatarImageWrapper;

  background-color: white;
}

.formContainer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.checkboxLabel {
  margin-left: 2rem;
  padding-top: 0;
  cursor: pointer;

  color: $darker-grey;
  font-size: 1.2rem;
  vertical-align: top;
}

.checkbox {
  margin-top: -2px;
}

/* icon */

.icon {
  position: relative;

  width: 2rem;
  height: 1.4rem;

  fill: $darker-grey;
}

.iconBack {
  width: 2.4rem;
  height: 1.8rem;
  margin-right: 1.5rem;

  fill: $grey;
}

.iconSocial {
  max-width: 2.1rem;
  max-height: 1.5rem;
  margin-top: .5rem;
  margin-right: -1.5rem;

  vertical-align: bottom;

  fill: #e1e1e1;
}

.iconSubmenu {
  width: .5rem;
  height: 2rem;

  fill: $grey;
}

.facebook {
  width: .8rem;
}

.linkIcon {
  margin-left: 1rem;
  padding: 0;

  vertical-align: middle;

  border: none;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

/* kind */

.primary {
  color: $brand-primary;
}

.success {
  color: $brand-success;
}

.warning {
  color: $brand-warning;
}

.danger {
  color: $brand-danger;
}

/* utils */

.file {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  max-width: 9.2rem;
  padding: 0;

  cursor: pointer;
  opacity: 0;
}
