@import '../responsive-utils';
@import '../variables';

.card {
  position: relative;
  z-index: 1;

  display: block;
  margin: 0 -1.5rem;
  padding: 0;

  color: $brand-black;
  text-decoration: none;

  background: $brand-white;

  @include responsive(sm) {
    margin: 0 -2.4rem;
  }

  @include responsive(md) {
    margin: 0;
  }
}

.imageContainer {
  position: relative;

  width: 100%;
  min-height: 25.3rem;
  margin: 0;
  overflow: hidden;

  @include responsive(sm) {
    min-height: 34rem;
  }
}

.images {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: transparent center center no-repeat;
  background-size: cover;
}

.placeholder {
  fill: $gallery;
  width: 100%;
  min-height: 25.3rem;
  max-height: 25.3rem;

  @include responsive(sm) {
    min-height: 34rem;
    max-height: 34rem;
  }
}

.list {
  margin: 0;
  padding: 2rem 1.5rem 3rem;

  list-style: none;
  text-align: center;

  background: $brand-white;
  border-top: 3px solid $brand-primary;

  @include responsive(sm) {
    position: absolute;
    bottom: -10.5rem;
    left: 50%;

    min-width: 65rem;

    transform: translate(-50%, 0);
  }
}

.listItem {
  margin: 0;
  padding: 0;

  color: $brand-black;
}

.title {
  margin: 0;

  font-size: 3rem;
  font-weight: 500;

  @include responsive(sm) {
    font-size: 3.6rem;
  }
}

.subTitle {
  margin: 0;
  margin-top: .5rem;
  margin-bottom: 2.3rem;

  font-size: 1.5rem;
}

.textSm {
  color: $star-dust;
  font-size: 1.5rem;
}

.textMd {
  font-size: 2.2rem;
  font-weight: 400;
}

.pushedBottom {
  margin-bottom: 2.1rem;

  @include responsive(sm) {
    margin-bottom: 17.2rem;
  }
}
