@import '../responsive-utils';
@import '../variables';

.modalContainer {
  min-height: 100%;
  padding: 2rem 0 6.5rem;

  @include responsive(md) {
    padding-top: 3rem;
  }
}

.title {
  margin: 0;
  margin-bottom: 2rem;

  color: #c7c7c7;
  font-size: 2.2rem;
  font-weight: 500;
}

.titleLg {
  margin-top: 1rem;
  margin-bottom: 0;

  font-size: 2.7rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-transform: uppercase;

  @include responsive(sm) {
    margin-top: 2.5rem;
    margin-bottom: .5rem;

    font-size: 3rem;
    line-height: 1.5;
  }

  @include responsive(md) {
    font-size: 3.6rem;
  }
}

.subTitle {
  margin: 0;
  margin-top: 1.2rem;

  font-size: 1.8rem;
  font-weight: 300;

  @include responsive(md) {
    margin: 0;
    margin-top: .3rem;

    font-size: 2rem;
  }
}

.label {
  display: inline-block;
  margin-bottom: .3rem;

  font-size: 1.5rem;
  font-weight: 500;
}

.checkbox {
  font-size: 1.5rem;

  background: transparent;
}

.checkboxControl {
  width: 2.5rem;
  height: 2.5rem;

  background: $brand-white;
  border-color: $grey;
  cursor: pointer;

  &:checked {
    background: $brand-white url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTIgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+U2hhcGU8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSJjb21wbGV4ZXMvc2VhcmNoL3ZlcjItY29weS0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTgxLjAwMDAwMCwgLTg1Ny4wMDAwMDApIiBmaWxsPSIjRkY0QzRFIj4gICAgICAgICAgICA8cGF0aCBkPSJNNTkyLjU2MDA4NSw4NTguMjgzMDA4IEM1OTIuNjI2NDMxLDg1OC4zNDE3NzEgNTg1LjcwNDQwNSw4NjcuMDY0NzU0IDU4NS42NTUyMTgsODY3LjA1OTk0MSBDNTg1LjYyMzY2OCw4NjcuMDU3Mjc2IDU4MC45NDUxNjQsODYyLjkxOTY2IDU4MS4wMDA0ODcsODYyLjg1MDA2NiBMNTgyLjIzMDU1LDg2MS40Mzc2MiBDNTgyLjI4NjIyLDg2MS4zNjc1ODggNTg1LjUwMjE4MSw4NjQuMjc3NzEyIDU4NS41MDIxODEsODY0LjI3NzcxMiBDNTg1LjUwMjE4MSw4NjQuMjc3NzEyIDU5MS4wNjYzNzcsODU2Ljk0MTk1MSA1OTEuMTMyMzA4LDg1Ny4wMDAzNDcgTDU5Mi41NjAwODUsODU4LjI4MzAwOCBaIiBpZD0iU2hhcGUiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==') center center no-repeat;
    border-color: $grey;
    outline: none;
  }
}

.inputContainer {
  margin-bottom: 4rem;
}

.inputRoutes {
  padding: 2.1rem 2rem;

  font-size: 1.6rem;

  &::-webkit-input-placeholder {
    color: #a9a9a9;
  }

  &:-moz-placeholder {
    color: #a9a9a9;
  }

  &::-moz-placeholder {
    color: #a9a9a9;
  }

  &:-ms-input-placeholder {
    color: #a9a9a9;
  }

  &::-ms-input-placeholder {
    color: #a9a9a9;
  }

  &:hover,
  &:focus {
    border-color: $star-dust;
  }
}

.btnContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  display: block;
}

/* btn */

.btnGroup {
  position: relative;
  z-index: 1;

  width: 25%;
  padding: 1.5rem 2rem;

  background: $brand-white;

  &:hover,
  &:focus {
    color: $brand-black;

    background: $body-bg;
  }

  &.active {
    z-index: 2;

    color: $brand-black;

    background: $brand-white;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 2px;

      background: $brand-primary;
    }

    &:first-child {
      &:after {
        border-bottom-left-radius: .4rem;
      }
    }

    &:last-child {
      &:after {
        border-bottom-right-radius: .4rem;
      }
    }
  }
}

.btnGroupSm {
  position: relative;

  width: 100%;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    height: 1px;

    background: $grey-darker;
  }
}


.btnWide {
  width: 50%;
  padding-right: 0;
  padding-left: 0;

  border-radius: 0;

  @include responsive(sm) {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
}

.btnDefault {
  background: $body-bg;
  border-color: $body-bg;

  &:hover,
  &:focus {
    background: color($body-bg blackness(7%));
    border-color: color($body-bg blackness(7%));
  }
}

.btnSm {
  position: relative;
  z-index: 3;

  margin-right: 4.5rem;
  padding: 1rem 0 1.4rem;

  font-size: 1.8rem;
  font-weight: 300;

  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 0;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &.activeSm {
    background: transparent;
    border-bottom-color: $brand-primary;
  }

  &.activeSm {
    font-weight: 400;
  }
}

.btnMd {
  width: 100%;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  font-size: 1.4rem;

  background: $body-bg;
  border-color: $body-bg;

  &:hover,
  &:focus {
    background: color($body-bg blackness(5%));
    border-color: color($body-bg blackness(5%));
  }

  @include responsive(sm) {
    position: absolute;
    top: .5rem;
    right: .2rem;

    width: auto;
    margin-top: 0;
    padding: 2rem;
    padding-left: 2rem;

    color: $brand-black;
    font-size: 1.6rem;

    background: $brand-white;
    border: none;
    border-radius: 0;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 1.3rem;
      bottom: 1.3rem;
      width: 1px;
      background: #d4d4d4;
    }

    &:hover,
    &:focus {
      background: transparent;
    }
  }
}

.apartmentContainer {
  margin: 0 -1.5rem;
  padding-top: 3rem;
  padding-bottom: 3.8rem;

  @include responsive(sm) {
    margin: 0 0 0 -1.5rem;
    padding-top: 0;
    padding-right: 1.5rem;
  }

  @include responsive(md) {
    margin: 0;
    padding-top: 5rem;
    padding-right: 0;
  }
}

.buildingContainer {
  position: relative;

  margin: 0 -1.5rem;
  padding-top: 3rem;

  @include responsive(sm) {
    margin: 0;
    padding-top: 0;
    padding-left: 1.5rem;
  }

  @include responsive(md) {
    padding-top: 5rem;
    padding-left: 0;
  }
}

/* icon */

.iconList {
  width: 1.4rem;
  height: 1.2rem;
  margin-right: 1rem;

  fill: $brand-primary;
}

.iconTimes {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: -5px;
  margin-bottom: -3px;
  margin-left: .4rem;

  vertical-align: bottom;

  fill: $brand-primary;

  transition: fill .3s;
}

.flex {
  display: flex;
}

.extraPadding {
  padding: 0 1.5rem;

  @include responsive(md) {
    padding: 0 4.5rem;

    &:first-child {
      padding-left: 1.5rem;
    }

    &:last-child {
      padding-right: 1.5rem;
    }
  }
}

.textGrey {
  color: $star-dust;
}

.textSm {
  margin: 2rem 0;

  font-size: 1.5rem;
}

.disabled {
  &[disabled] {
    background: #ffb2b3;
    border-color: #ffb2b3;
    cursor: default;
    opacity: 1;

    &:hover,
    &:focus,
    &:active {
      background: #ffb2b3;
      border-color: #ffb2b3;
    }
  }
}

.gradient {
  position: relative;

  height: 15rem;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 1.5rem;
    bottom: 0;
    left: 1.5rem;

    box-shadow: inset 0 -125px 115px -56px rgba(255, 255, 255, 1);
  }
}

.grid {
  margin: 0;
  margin-top: 1rem;
  padding: 0;

  list-style: none;
}

.column {
  width: 100%;
  margin-top: 2rem;

  @include responsive(sm) {
    width: 50%;
  }

  @include responsive(md) {
    width: 25%;
  }
}

.indent {
  margin-top: -2rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

.resetContainerWidth {
  width: 100%;

  @include responsive(sm) {
    max-width: 750px;
  }

  @include responsive(md) {
    max-width: 970px;
  }

  @include responsive(lg) {
    max-width: 1170px;
  }
}

.resetContainerWidthSm {
  width: 100%;

  @include responsive(sm) {
    max-width: 750px;
  }

  @include responsive(md) {
    width: 100%;
    max-width: 100%;
  }
}

.paddingBottom3 {
  padding-bottom: 3rem;

  @include responsive(sm) {
    padding-bottom: 0;
  }

  @include responsive(md) {
    padding-bottom: 3rem;
  }
}

.paddingBottom4 {
  padding-bottom: 4rem;
}

.paddingBottom5 {
  padding-bottom: 5rem;
}

.paddingTop3_5 {
  padding-top: 3.5rem;
}

.paddingBottomSm4 {
  @include responsive(sm) {
    padding-bottom: 4rem;
  }

  @include responsive(md) {
    padding-bottom: 0;
  }
}

/* divider */

.dividerBottom {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: #eaeaea;
  }

  @include responsive(sm) {
    &:after {
      display: none;
    }
  }

  @include responsive(md) {
    &:after {
      display: block;
    }
  }
}

.dividerBottomSm {
  @include responsive(sm) {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: -1.5rem;
      bottom: 0;
      left: -1.5rem;

      height: 1px;

      background: #eaeaea;
    }
  }

  @include responsive(md) {
    &:after {
      display: none;
    }
  }
}

.dividerBottomMdRightSm {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: #eaeaea;
  }

  @include responsive(sm) {
    &:after {
      top: 0;
      right: -1px;
      bottom: 4.3rem;
      left: auto;

      width: 1px;
      height: auto;
    }
  }

  @include responsive(md) {
    &:after {
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;

      width: auto;
      height: 1px;
    }
  }
}
