@import '../responsive-utils';
@import '../variables';

.container {
  padding-top: 2.5rem;
  padding-bottom: 4rem;

  @include responsive(sm) {
    background: $brand-white url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTAzMnB4IiBoZWlnaHQ9IjE0NXB4IiB2aWV3Qm94PSIwIDAgMTAzMiAxNDUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+UGF0aCAyNzMzPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0iY29tcGxleGVzL3NlYXJjaC92ZXIyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjE5LjAwMDAwMCwgLTI0OS4wMDAwMDApIiBmaWxsPSIjRjVGNUY1Ij4gICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgtMjczMyIgcG9pbnRzPSIyMTkgMzkzLjI4NDU2IDIxOSAzODAuNzk5MDggMjQzLjI5OTQ5NCAzODAuNzk5MDggMjQzLjI5OTQ5NCAzMzUuMTkwODQ0IDI1MC40Mzg3MTIgMzM1LjE5MDg0NCAyNTAuNDM4NzEyIDMyNy4yMjQ2MDkgMjY0LjY0MTEgMzI3LjIyNDYwOSAyNjQuNjQxMSAyNzAuNzIyNjg0IDMwMC4xOTk5OTkgMjcwLjcyMjY4NCAzMDAuMTk5OTk5IDM2NS4zNTE2MDIgMzE4LjA3NDMwNCAzNjUuMzUxNjAyIDMxOC4wNzQzMDQgMzc4LjY0MDMyMSAzMjcuODA5MzU3IDM3OC42NDAzMjEgMzI3LjgwOTM1NyAzNDQuNDM4NzcgMzMxLjg0MjExIDM0NC40Mzg3NyAzMzEuODQyMTEgMzI1Ljk2MjI5IDM0NC4yMjYxNzggMzI1Ljk2MjI5IDM0NC4yMjYxNzggMzMwLjYyMTc2IDM1NS44MzQ3NTUgMzMwLjYyMTc2IDM1NS44MzQ3NTUgMzUxLjEyODg0NCAzNjcuMjE5Mjk5IDM1MS4xMjg4NDQgMzY3LjIxOTI5OSAzNjMuOTQ3NDM2IDM5NS40MDczNjkgMzYzLjk0NzQzNiAzOTUuNDA3MzY5IDMzOS45ODUxODYgNDQ2LjE4NzcwOCAzMzkuOTg1MTg2IDQ0Ni4xODc3MDggMzc5Ljk0MDQxMSA0ODcuMzMxMTQgMzc5Ljk0MDQxMSA0ODcuMzMxMTQgMzMxLjI0NTMxNCA1MTguMDE5NTEgMzMxLjI0NTMxNCA1MTguMDE5NTEgMzU3LjQ2MTgxOSA1MzIuMDkzNTA1IDM1Ny40NjE4MTkgNTMyLjA5MzUwNSAzMjMuMjcyNzE4IDU0My4xMDg2MTcgMzIzLjI3MjcxOCA1NDMuMTA4NjE3IDI5Ni43MTc0ODEgNTY5LjI3NTM5NiAyOTYuNzE3NDgxIDU2OS4yNzUzOTYgMzM0Ljk3ODQ4MSA1NzYuMjE1NTM0IDMzNC45Nzg0ODEgNTc2LjIxNTUzNCAzNjMuMTY1OTY2IDYwOC41ODQ3MjMgMzYzLjE2NTk2NiA2MDguNTg0NzIzIDM0OS41NTMwNjggNjIxLjY5OTEyNCAzMzguODg3MDI5IDYzNS41MTQyMDcgMzUwLjEyMjkzOSA2MzUuNTE0MjA3IDM3OC4zNzMzMDUgNjU4LjYwODExMSAzNzguMzczMzA1IDY1OC42MDgxMTEgMzczLjY4NzM4NyA2NzMuNDQyMTc4IDM3My42ODczODcgNjczLjQ0MjE3OCAzMTUuOTcyODE1IDcxMS40OTcwNzkgMzE1Ljk3MjgxNSA3MTEuNDk3MDc5IDMzOC4xOTM4OCA3MjQuODkzNDE3IDMzOC4xOTM4OCA3MjQuODkzNDE3IDMxOS43NTM4MTEgNzM2LjI3MDIzMSAzMTkuNzUzODExIDczNi4yNzAyMzEgMjkyLjgwMTEyMSA3MzkuODQyNTQ0IDI5Mi44MDExMjEgNzM5Ljg0MjU0NCAyODUuMjA4NzY3IDc1Ny4wMzk4MiAyODUuMjA4NzY3IDc1Ny4wMzk4MiAzMzQuMTkwOTc5IDc2MS41ODQzNzEgMzM0LjE5MDk3OSA3NjEuNTg0MzcxIDM0Ni44MjI3NTUgNzgxLjA4Njg4OSAzNDYuODIyNzU1IDc4MS4wODY4ODkgMzMyLjEwMDY4IDc5My4xNTU0MTUgMzMyLjEwMDY4IDc5My4xNTU0MTUgMzI3LjcwMDMwNCA3OTkuNjQyNzIyIDMyNy43MDAzMDQgNzk5LjY0MjcyMiAzMjEuMDUwMDcxIDgxNi4yODg3NTEgMzIxLjA1MDA3MSA4MTYuMjg4NzUxIDMyOC40ODIyNjkgODI3LjUzMDAxNyAzMjguNDgyMjY5IDgyNy41MzAwMTcgMjU0LjYzNTAyMyA4MzQuMDA5MDQ5IDI1NC42MzUwMjMgODM0LjAwOTA0OSAyNDkgODYyLjAxMjg4MSAyNDkgODYyLjAxMjg4MSAyNTkuMDI4NzA3IDg2Ny40NzkzOTUgMjU5LjAyODcwNyA4NjcuNDc5Mzk1IDMxMi4xMjU3MDQgODgwLjczMjIzNSAzMTIuMTI1NzA0IDg4MC43MzIyMzUgMjgwLjcwOTQ2NyA5MTkuNDcxMTQzIDI4MC43MDk0NjcgOTE5LjQ3MTE0MyAzMjcuNDA2NjY3IDkzMS4wOTAxMjUgMzI3LjQwNjY2NyA5MzEuMDkwMTI1IDM0OS42NjUyMjIgOTQ0LjM5OTM1MyAzNDkuNjY1MjIyIDk0NC4zOTkzNTMgMzE1LjEyOTY0IDk1MC4yOTYwNzEgMzE1LjEyOTY0IDk1MC4yOTYwNzEgMjgwLjgzMTAyMiA5NjMuNjA4OTA4IDI4MC44MzEwMjIgOTYzLjYwODkwOCAyNzYuNTAwMzcyIDk4Mi42Nzc0MjIgMjc2LjUwMDM3MiA5ODIuNjc3NDIyIDI4MS44NTM2ODggOTkyLjQxNTM0MyAyODEuODUzNjg4IDk5Mi40MTUzNDMgMzA4LjUzMzE2NyAxMDE5LjU0OTcyIDMwOC41MzMxNjcgMTAxOS41NDk3MiAyOTIuNTUxNzk0IDEwMzQuOTEzOSAyODAuMDU1OTk4IDEwNTEuNTI2NzggMjkzLjU2NzM3NiAxMDUxLjUyNjc4IDM0NC4zMzA2NzEgMTA2OC43MjQ0OSAzNDQuMzMwNjcxIDEwNjguNzI0NDkgMzM3LjQwMzcxMiAxMDgwLjY1MDgxIDMzNy40MDM3MTIgMTA4MC42NTA4MSAzMzIuOTY0OTQ1IDExMTEuMjkyOSAzMzIuOTY0OTQ1IDExMTEuMjkyOSAzNDcuOTcyNDk3IDExMjAuMzc5MzEgMzQ3Ljk3MjQ5NyAxMTIwLjM3OTMxIDM2MC45NDk1OTMgMTEzNi43OTYxNCAzNjAuOTQ5NTkzIDExMzYuNzk2MTQgMjg1LjU1ODYyNSAxMTQxLjczNzY1IDI4NS41NTg2MjUgMTE0MS43Mzc2NSAyODEuMzk2NTA2IDExNjIuNzEyMzMgMjgxLjM5NjUwNiAxMTYyLjcxMjMzIDI4NS42MjM4NzYgMTE2OS4yNDkyMyAyODUuNjIzODc2IDExNjkuMjQ5MjMgMzYxLjE0NDAzNyAxMTg2LjU0MTI4IDM2MS4xNDQwMzcgMTE4Ni41NDEyOCAzMjguODY2MDUgMTIyMy4xNjk5MiAzMjguODY2MDUgMTIyMy4xNjk5MiAzODUuNTk2MjExIDEyMzcuNzU4MDggMzg1LjU5NjIxMSAxMjM3Ljc1ODA4IDM3OS4zNDQzOTQgMTI1MSAzNzkuMzQ0Mzk0IDEyNTEgMzkzLjU1OTU1NiI+PC9wb2x5bGluZT4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==) bottom center no-repeat;
    background-position: center 101%;
  }

  @include responsive(md) {
    padding-top: 3.5rem;
  }
}

.containerWithOutBg {
  padding-top: 2.5rem;
  padding-bottom: 4rem;

  background: $brand-white;

  @include responsive(md) {
    padding-top: 3.5rem;
  }
}

.paginationWrapper {
  margin: 4rem 0;
}

.title {
  margin-top: 1rem;
  margin-bottom: 0;

  font-size: 2.7rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-transform: uppercase;

  @include responsive(sm) {
    margin-top: 2rem;
    margin-bottom: .5rem;

    font-size: 3rem;
    line-height: 1.5;
  }

  @include responsive(md) {
    font-size: 3.6rem;
  }
}

.subTitle {
  margin: 0;
  margin-top: 1.2rem;

  font-size: 1.8rem;
  font-weight: 300;

  @include responsive(md) {
    margin: 0;
    margin-top: .3rem;

    font-size: 2rem;
  }
}

.btnTimes {
  padding: 0 .5rem;

  background: transparent;
  border: none;

  &:hover,
  &:focus {
    background: transparent;
  }
}

.icon {
  display: none;

  @include responsive(sm) {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    z-index: 3;

    display: block;
    width: 75.5rem;

    fill: $body-bg;
    transform: translateX(-50%);

    @include responsive(md) {
      bottom: -1rem;

      width: 103.2rem;
    }
  }
}

.iconTimes {
  width: 1.4rem;
  height: 1rem;
  margin-left: .5rem;

  fill: $brand-primary;
}

.filterItem {
  position: relative;

  display: inline-block;
  margin: 0;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.3rem 1.7rem 1.2rem 2.5rem;

  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;

  border: 1px solid $alto;
  border-radius: 6.4rem;

  &:last-child {
    margin-right: 0;
  }
}

.filterItemInner {
  position: relative;

  display: inline-block;
  margin: 0;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.3rem 1.7rem 1.2rem 2.5rem;

  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;

  background: $body-bg;
  border-radius: 6.4rem;

  &:last-child {
    margin-right: 0;
  }
}


.list {
  margin: 0;
  padding: 0;
  width: 100vw;

  list-style: none;

  @include responsive(sm) {
    margin: 0 -1.5rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  background: rgba(0, 0, 0, .3);
}

.btn {
  width: 100%;
  margin-top: 3.5rem;
  padding: 2rem 4rem;

  color: $brand-white;
  font-size: 1.5rem;

  background: $brand-primary;

  @include responsive(sm) {
    position: relative;

    width: auto;
    margin-top: 0;
    padding: 2rem 4rem;
    padding-right: 7.5rem;
  }

  @include responsive(md) {
    width: auto;
    min-width: 24.2rem;

    font-size: 1.6rem;
  }
}

.value {
  position: relative;
  z-index: 3;
}

.filterXsLabel {
  position: relative;

  display: inline-block;
  margin-left: 2rem;

  line-height: 1;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 2.8rem;
    height: 2.8rem;

    background: rgba(0, 0, 0, .17);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  @include responsive(sm) {
    display: none;
  }
}

.iconArrow {
  display: none;
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  padding: .3rem;
  padding-bottom: .2rem;

  line-height: 1;

  fill: $brand-white;
  border: 1px solid $brand-white;
  border-radius: 50%;

  @include responsive(sm) {
    position: absolute;
    top: 50%;
    right: 4rem;

    display: inline-block;

    transform: translateY(-50%);
  }
}

.iconArrowRight {
  position: absolute;
  top: 50%;

  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  padding: .3rem;
  padding-bottom: .2rem;

  fill: $brand-white;
  border: 1px solid $brand-white;
  border-radius: 50%;
  transform: rotate(-90deg) translate(50%, 0);

  @include responsive(sm) {
    display: none;
  }
}

.up {
  transform: rotate(180deg) translateY(50%);
}

.down {
  transform: rotate(0) translateY(-50%);
}

.titleNotFound {
  margin: 0;
  margin-bottom: 1.3rem;

  font-size: 2.2rem;
  font-weight: 500;

  @include responsive(sm) {
    font-size: 3.6rem;
  }
}

.textNotFound {
  margin: 0;
  margin-top: 1rem;

  color: $boulder;
  font-size: 1.4rem;

  @include responsive(sm) {
    margin-top: 2rem;

    font-size: 1.6rem;
  }
}

.textGrey {
  color: #828282;
}

.pushed13_0 {
  padding-top: 5rem;
  padding-bottom: 9rem;

  @include responsive(sm) {
    padding-top: 10.5rem;
    padding-bottom: 13rem;
  }
}

.pushed10_0 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.dividerBottomXs {
  position: relative;

  padding-top: 1rem;
  padding-bottom: 2.5rem;
  margin-bottom: 3rem;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: #eaeaea;
  }

  @include responsive(sm) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    &:after {
      display: none;
    }
  }
}
