@import '../../responsive-utils';
@import './variables';

.iconClose {
  width: 3rem;
  height: 3rem;

  fill: $brand-primary;
}

.logo {
  position: absolute;
  top: 0;
  left: 1.5rem;

  @include responsive(sm) {
    position: static;

    margin-right: 1rem;
  }
}

.iconLogo {
  width: 4rem;
  height: 3.5rem;

  fill: $brand-primary;
}

.active {
  text-decoration: none;

  border-color: $brand-primary;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
  }
}
