openapi: 3.0.0
info:
  title: "Swagger jqestate"
  description: "This is the api of jqestate."
  version: "0.0.1"

paths:
  /properties/country:
    get:
      tags:
        - "country properties"
      summary: "Return property in same country"
      description: ""
      operationId: "getPropertiesInCountry"
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/CountryProperty"
                  pagination:
                    $ref: '#/components/schemas/Pagination'
          schema:
            type: integer
            default: 0
            minimum: 0
          description: The number of items to skip before starting to collect the result set
  /properties/country/{id}:
    get:
      tags:
        - "country property"
      summary: "Return property with same id in same country"
      description: ""
      operationId: "getPropertyInCountry"
      parameters:
        - in: path
          name: id
          required: true
          description: Parameter description in CommonMark or HTML.
          schema:
            type : integer
            format: int64
            minimum: 1
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryProperty"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/CountryProperty"
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
components:
  schemas:
    CountryProperty:
      type: object
      properties:
        id:
          type: integer
          format: int64
        createdByUserId:
          type: integer
          format: int64
        createdAt:
          type: string
          description: The date of creation
        updatedAt:
          type: string
          format: datatime
        communication:
          $ref: "#/components/schemas/Communication"
        location:
          $ref: "#/components/schemas/Location"
        specification:
          $ref: "#/components/schemas/Specification"
        externalId:
          type: string
        rentOffer:
          $ref: "#/components/schemas/RentOffer"
        saleOffer:
          $ref: "#/components/schemas/SaleOffer"
        state:
          type: string
          enum: ["draft", "public", "postponed", "sold", "rented", "private", "deleted"]
        clientLeadId:
          type: integer
          format: int64
        linkedContactIds:
          type: array
          items:
            type: integer
            format: int64
        additionalDetails:
          type: object
          properties:
            garageArea:
              type: number
            parkingArea:
              type: number
            bathhouseArea:
              type: number
            staffHouseArea:
              type: number
            spaArea:
              type: number
            securityHouseArea:
              type: number
            guestHouseArea:
              type: number
        stateDetails:
          type: object
          properties:
            reason:
              type: string
        responsibleUser:
          type: object
          properties:
            id:
              type: integer
              format: int64
            departmentId:
              type: integer
              format: int64
            divisionId:
              type: integer
              format: int64
        removalOrderId:
          type: integer
        updatedByUserId:
          type: integer
        badge:
          type: integer
        category:
          type: string
        equipment:
          type: array
          items:
            type: string
        kind:
          type: string
        images:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        layoutImages:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        landDetails:
          type: object
          properties:
            area:
              type: number
            landscapeKind:
              type: array
              items:
                type: string
            landscaping:
              type: boolean
    Communication:
      type: object
      properties:
        sewerageSupply:
          type: string
          enum: ['central', 'septic']
        gasSupply:
          type: string
          enum: ['without_gas', 'gas_holder', 'near_border', 'mains', 'diesel']
        powerSupply:
          type: integer
          format: int16
        waterSupply:
          type: string
          enum: ['purification', 'central', 'well']
    Specification:
      type: object
      properties:
        loggias:
          type: integer
        bedrooms:
          type: integer
        area:
          type: number
        elevators:
          type: integer
          description: "Колличество ливтов"
        balconies:
          type: integer
          description: "Количество балконов"
        roofMaterial:
          type: string
          enum: ["steel", "soft_tile", "copper", "metal_tile", "slate", "tile", "rooftop"]
        legacyLayouts:
          type: array
          items:
            $ref: "#/components/schemas/Layout"
        renovate:
          type: string
          enum: ['design', 'rough_finish', 'full_construction', 'partly_turnkey', 'for_finishing', 'raw']
        layouts:
          type: object
          properties:
            spa_zone:
              type: string
            office:
              type: string
            technical_room:
              type: string
            staff_room:
              type: string
            dining_room:
              type: string
            winter_garden:
              type: string
            kitchen:
              type: string
            dressing_room:
              type: string
            storage:
              type: string
            utility_room:
              type: string
            loft:
              type: string
            movie_theater:
              type: string
            living_room:
              type: string
        wcs:
          type: integer
        rooms:
          type: integer
        ceilingHeight:
          type: number
        withVentilation:
          type: boolean
        wallMaterial:
          type: string
          enum: ['blue_max', 'wood', 'brick', 'block', 'monolith', 'canadian_sip']
        condition:
          type: string
          enum: ['central', 'own', 'absent']
        floors:
          type: integer
        furniture:
          type: string
          enum: ['full', 'partial', 'absent']
        builtYear:
          type: integer
        spaces:
          type: array
          items:
            type: integer # Не известен тип
        withConditioning:
          type: boolean
    Layout:
      type: object
      properties:
        number:
          type: integer
        kind:
          type: string
        items:
          type: array
          items:
            type: string
    RentOffer:
      type: object
      properties:
        price:
          type: number
          description: Цена продажи
        priceDelta:
          type: number
        agentFixedPrice:
          type: number
        agentFee:
          type: number
        multiCurrencyPrice:
          $ref: "#/components/schemas/MultiCurrencyPrice"
        currency:
          type: string
          description: Валюта продажи
        isAllowedChildren:
          type: boolean
        isAllowedPets:
          type: boolean
        isDisabled:
          type: boolean
        deposit:
          type: number
        period:
          type: string
          enum: ["day", "month", "year"]
    SaleOffer:
      type: object
      properties:
        price:
          type: integer
        priceDelta:
          type: number
        agentFixedPrice:
          type: number
        agentFee:
          type: number
        kind:
          type: string
        multiCurrencyPrice:
          $ref: "#/components/schemas/MultiCurrencyPrice"
        isBargain:
          type: boolean
        isResale:
          type: boolean
        isDisabled:
          type: boolean
        isMortgage:
          type: boolean
          description: Ипотека
        isInstallment:
          type: boolean
        currency:
          type: string
          description: Валюта продажи
    MultiCurrencyPrice:
      type: object
      properties:
        eur:
          type: number
        usd:
          type: number
        rub:
          type: number
    Image:
      type: object
      properties:
        id:
          type: string
        height:
          type: integer
        width:
          type: integer
        isPublic:
          type: boolean
        comment:
          type: string
    Location:
      type: object
      properties:
        latitude:
          type: string
          description: "Долгота"
        longitude:
          type: string
          description: "Широта"
        countryId:
          type: integer
          format: int64
        countryName:
          type: string
        districtId:
          type: integer
          format: int64
        districtName:
          type: string
        localityId:
          type: integer
          format: int64
        localityName:
          type: string
        settlementId:
          type: integer
          format: int64
        settlementName:
          type: string
        routeId:
          type: integer
          format: int64
        routeName:
          type: string
        regionId:
          type: integer
          format: int64
        regionName:
          type: string
        street:
          type: string
        house:
          type: string
        mkadDistance:
          type: integer
    Country:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        propertyCategories:
          type: array
          items:
            type: string
        aliases:
          type: array
          items:
            type: string
        createdAt:
          type: string
          description: The date of creation
        updatedAt:
          type: string
          description: The date of updation
    Region:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        kindName:
          type: string
        propertyCategories:
          type: array
          items:
            type: string
        aliases:
          type: array
          items:
            type: string
        location:
          type: object
          properties:
            countryId:
              type: integer
            countryName:
              type: string
        createdAt:
          type: string
          description: The date of creation
        updatedAt:
          type: string
          description: The date of updation
    District:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        kindName:
          type: string
        propertyCategories:
          type: array
          items:
            type: string
        aliases:
          type: array
          items:
            type: string
        location:
          type: object
          properties:
            countryId:
              type: integer
            countryName:
              type: string
            regionId:
              type: integer
            regionName:
              type: string
        createdAt:
          type: string
          description: The date of creation
        updatedAt:
          type: string
          description: The date of updation
    Locality:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        propertyCategories:
          type: array
          items:
            type: string
        aliases:
          type: array
          items:
            type: string
        location:
          type: object
          properties:
            countryId:
              type: integer
            countryName:
              type: string
            regionId:
              type: integer
            regionName:
              type: string
            districtId:
              type: integer
            districtName:
              type: string
            routeId:
              type: integer
            routeName:
              type: string
        createdAt:
          type: string
          description: The date of creation
        updatedAt:
          type: string
          description: The date of updation
    Route:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        kindName:
          type: string
        propertyCategories:
          type: array
          items:
            type: string
        aliases:
          type: array
          items:
            type: string
        location:
          type: object
          properties:
            countryId:
              type: integer
            countryName:
              type: string
        createdAt:
          type: string
          description: The date of creation
        updatedAt:
          type: string
          description: The date of updation
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    ApiErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  parameters:
    offsetParam:
      name: offset
      in: query
      description: Number of items to skip before returning the results.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
    limitParam:
      name: limit
      in: query
      description: Maximum number of items to return.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 100
        default: 32

externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
