@import '../../responsive-utils';
@import './variables';

.header {
  .logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;

    font-size: 1.3rem;
    font-weight: 600;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include responsive(sm) {
      position: static;

      margin-right: 1rem;

      font-size: 1.6rem;
    }
  }

  .logoRublevka {
    position: absolute;
    top: 50%;
    left: 1.5rem;

    font-size: 0;
    font-weight: 600;

    transform: translateY(-50%);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include responsive(sm) {
      position: static;

      margin-right: 1rem;
    }
  }
}

.iconLogo {
  width: 11.5rem;
  height: 2rem;

  fill: $brand-black;
}

.iconClose {
  width: 3rem;
  height: 3rem;

  fill: $brand-primary;
}

.link {
  color: $brand-black;

  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

.active {
  color: $brand-primary;
  text-decoration: none;

  border-color: $brand-primary;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
  }

  @include responsive(sm) {
    color: $brand-black;
  }
}
