@import '../../responsive-utils';
@import './variables';

.btnDeleteAll {
  composes: btnDeleteAll from '../../button.css';

  color: $brand-primary;
}

.icon {
  width: 3rem;
  height: 3rem;

  transition: background .3s;

  &:hover {
    fill: color($brand-primary blackness(10%));
  }

  fill: $brand-primary;
}

.iconTimes {
  width: 1.2rem;
  height: 1.2rem;

  vertical-align: top;

  fill: $brand-primary;

  stroke: $brand-primary;
}
