@import '../../responsive-utils';
@import './variables';

.btnNav {
  margin: 0 1rem;
  padding: 1rem;

  font-size: 2.1rem;

  background: transparent;
  border: none;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: $brand-primary;

    outline: none;
  }

  &.disabled {
    cursor: default;

    &:hover,
    &:focus {
      color: $brand-black;

      background: transparent;
    }
  }
}
