@import '../../responsive-utils';
@import './variables';

.listItem {
  position: relative;

  width: 100%;
  max-width: 20rem;
  padding: .3rem 0 0;

  font-size: 1.4rem;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 0;

    background: $grey-light;
  }

  &:first-child {
    &:before {
      width: 0;
    }
  }

  @include responsive(sm) {
    font-size: 1.6rem;

    &:before {
      width: 1px;
    }

    &:first-child {
      &:before {
        width: 2px;

        background: $brand-primary;
      }
    }
  }
}
