@import '../../responsive-utils';
@import './variables';

.bar {
  position: relative;
  top: 0;

  height: 2px;

  background: $grey-darker;
  border-radius: .4rem;

  &:first-child,
  &:last-child {
    background: $grey;
    border-color: $grey;
  }

  &:nth-child(2) {
    background: $brand-primary;
  }
}

.handle {
  top: -2.1rem;

  width: 4rem;
  height: 4rem;

  background: $brand-white;
  border: 2px solid $brand-primary;
  border-radius: 50%;
  cursor: pointer;

  @include responsive(md) {
    top: -1.2rem;

    width: 2.5rem;
    height: 2.5rem;
  }
}

.filter {
  .filterHandle {
    top: -1.7rem;

    width: 3.5rem;
    height: 3.5rem;

    background: #f5f5f5;
    border-color: $brand-primary;

    @include responsive(sm) {
      top: -2.3rem;

      width: 4.5rem;
      height: 4.5rem;
    }

    @include responsive(md) {
      top: -1.5rem;

      width: 3.2rem;
      height: 3.2rem;

      background: $brand-primary-hover;
      border-color: $brand-white;
    }
  }
}

.filterBar {
  background: $grey;

  &:first-child,
  &:last-child {
    background: $grey;
  }

  &:nth-child(2) {
    background: $brand-primary;
  }

  @include responsive(md) {
    background: rgba(0, 0, 0, .2);

    &:first-child,
    &:last-child {
      background: rgba(0, 0, 0, .2);
      border-color: rgba(0, 0, 0, .2);
    }

    &:nth-child(2) {
      background: $brand-white;
    }
  }
}

.filterHandleTitle {
  color: $brand-primary;
  font-size: 1.6rem;
  font-weight: 400;

  @include responsive(sm) {
    font-size: 2rem;
  }

  @include responsive(md) {
    color: $brand-white;
    font-size: 1.6rem;
  }
}
