@import '../responsive-utils';
@import '../variables';

.header {
  padding: 1.5rem 1rem;
}

.textXs {
  margin: 0;
  margin-top: .4rem;

  color: $grey;
  font-weight: 300;
}

/* FIXME */

.textFind {
  @include responsive(sm) {
    position: absolute;
    top: .5rem;
    right: 2.5rem;

    margin: 0;

    color: $grey;
    font-weight: 300;
  }
}

.stats {
  @include responsive(sm) {
    position: absolute;
    top: .5rem;
    left: .5rem;

    margin: 0;

    color: $grey;
    font-weight: 300;
  }
}

.checkboxLabel {
  margin-bottom: 1rem;

  color: $brand-default;
  font-weight: 400;

  cursor: pointer;
}

.btnGroup {
  /* FIXME */
  position: relative;

  margin: 2.5rem 0 1.5rem;

  @include responsive(md) {
    text-align: center;
  }
}

/* icon */

.iconArchive,
.iconDailyDuty {
  width: 2.5rem;
  height: 2.5rem;

  fill: $grey;
}

.iconSubmenu {
  width: .5rem;
  height: 2rem;

  fill: $grey;
}

/* kind */

.primary {
  color: $brand-primary;
}

.success {
  color: $brand-success;
}

.warning {
  color: $brand-warning;
}

.danger {
  color: $brand-danger;
}

/* sizes*/

.width120 {
  min-width: 120rem;
}

.scrollX {
  overflow-x: scroll;
}
