@import '../responsive-utils';
@import '../variables';

.container {
  padding: 6rem 0 3rem;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.item {
  width: 100%;
  margin: 0;

  color: $grey;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.text {
  margin: 0;
}

.slider {
  position: relative;

  padding: 2rem 0;
}

.handler {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  width: 2rem;
  height: 2rem;

  background: $light-grey;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

    width: 1.8rem;
    height: 1.8rem;

    border: 4px solid $body-bg;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.bar {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2;

  width: 100%;
  height: 1px;

  background: $light-grey;
  transform: translate(0, -50%);
}

/* kind */

.success {
  background: $brand-success;
}

.danger {
  background: $brand-danger;
}

/* width */

.maxWidth75_5 {
  max-width: 75.5rem;
}
