@import '../../responsive-utils';
@import './variables';

.btnDeleteAll {
  composes: btnDeleteAll from '../../button.css';

  color: $brand-primary;
}

.iconTimes {
  width: 1.2rem;
  height: 1.2rem;

  vertical-align: top;

  fill: $brand-primary;

  stroke: $brand-primary;
}
