@import '../../responsive-utils';
@import './variables';

.anchor {
  position: relative;
  white-space: nowrap;

  display: inline-block;
  padding: 1.5rem 3rem;

  color: $brand-white;
  font-size: 1.6rem;

  background: $brand-primary;
  border-radius: 10rem;
  cursor: pointer;
}

.activeDealType {
  color: $brand-white !important;

  background: $brand-primary !important;
  border-color: $brand-primary !important;
}

.btnDefault {
  display: block;
  width: 100%;

  color: $brand-white;

  background: $brand-primary;
  border-color: $brand-primary;

  &:hover,
  &:focus {
    color: $brand-white;

    background: $brand-primary-hover;
    border-color: $brand-primary-hover;
  }

  @include responsive(sm) {
    display: inline-block;
    width: auto;

    color: $brand-black;

    background: transparent;
    border-color: $grey;

    &:hover,
    &:focus {
      color: $brand-black;

      background: transparent;
      border-color: $star-dust;
    }
  }
}

.checkboxControl {
  width: 2.5rem;
  height: 2.5rem;

  background: $brand-white;
  border-color: $grey;
  cursor: pointer;

  &:checked {
    background: $brand-white url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTIgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+U2hhcGU8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSJjb21wbGV4ZXMvc2VhcmNoL3ZlcjItY29weS0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTgxLjAwMDAwMCwgLTg1Ny4wMDAwMDApIiBmaWxsPSIjRkY0QzRFIj4gICAgICAgICAgICA8cGF0aCBkPSJNNTkyLjU2MDA4NSw4NTguMjgzMDA4IEM1OTIuNjI2NDMxLDg1OC4zNDE3NzEgNTg1LjcwNDQwNSw4NjcuMDY0NzU0IDU4NS42NTUyMTgsODY3LjA1OTk0MSBDNTg1LjYyMzY2OCw4NjcuMDU3Mjc2IDU4MC45NDUxNjQsODYyLjkxOTY2IDU4MS4wMDA0ODcsODYyLjg1MDA2NiBMNTgyLjIzMDU1LDg2MS40Mzc2MiBDNTgyLjI4NjIyLDg2MS4zNjc1ODggNTg1LjUwMjE4MSw4NjQuMjc3NzEyIDU4NS41MDIxODEsODY0LjI3NzcxMiBDNTg1LjUwMjE4MSw4NjQuMjc3NzEyIDU5MS4wNjYzNzcsODU2Ljk0MTk1MSA1OTEuMTMyMzA4LDg1Ny4wMDAzNDcgTDU5Mi41NjAwODUsODU4LjI4MzAwOCBaIiBpZD0iU2hhcGUiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==') center center no-repeat;
    border-color: $grey;
    outline: none;
  }
}

.listItem {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 1.6rem;
  padding: 1.4rem 1.6rem;

  font-size: 1.6rem;

  background: $brand-white;
  border-radius: .4rem;
  cursor: pointer;

  &.activeList {
    background: $brand-primary;
    color: $brand-white;

    .icon {
      fill: $brand-white;
    }
  }
}

.card {
  position: relative;

  display: block;
  min-height: 21.5rem;
  margin-bottom: 2.6rem;
  padding: 3rem 1.5rem 2.2rem 1.2rem;

  color: $brand-black;
  text-decoration: none;

  background: $brand-white;
  border-left: 3px solid transparent;
  cursor: pointer;

  transition: border-color .2s;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* NOTE Disabled to gain some performance */
    /*
      box-shadow: 2px 2px 40px 1px rgba(0, 0, 0, .1);
      opacity: 0;
      transition: opacity .2s;
    */
  }

  @include responsive(sm) {
    padding: 3rem 2.3rem 2.2rem 2.4rem;
  }

  @include responsive(md) {
    padding: 2.3rem 2.3rem 2.2rem 2.4rem;
  }
}

.textPrimary {
  padding: 1.3rem 2.5rem !important;

  color: $brand-primary;

  cursor: pointer;
}

.iconTimes {
  width: 1.4rem;
  height: 1rem;
  margin-left: .5rem;

  fill: $brand-primary;
}

.icon {
  width: 1.1rem;
  height: 1.6rem;
  margin-right: .8rem;

  fill: $brand-primary;
}

.iconRoute {
  width: 1.4rem;
  height: 1.3rem;
  margin-right: 1rem;

  fill: $brand-primary;
}

.iconLens {
  position: absolute;
  top: -4.5rem;
  left: 2.5rem;
  z-index: 2;

  width: 2rem;
  fill: $grey-blue;
}

.disabled {
  &[disabled] {
    background: #ffb2b3;
    border-color: #ffb2b3;
    cursor: default;
    opacity: 1;

    &:hover,
    &:focus,
    &:active {
      background: #ffb2b3;
      border-color: #ffb2b3;
    }
  }
}

.tab {
  display: inline-block;
  padding: 2.5rem 1.2rem;

  font-size: 1.6rem;

  border: none;
  border-radius: 0;

  &:hover,
  &:focus {
    background: transparent;
  }

  @include responsive(sm) {
    padding: 2.5rem;
  }
}

.tabActive {
  border-bottom: 2px solid $brand-primary;

  margin-bottom: -2px;
}

.price {
  color: $grey-blue;
  font-size: 2.6rem;
  font-weight: 400;

  margin: 1rem 0 0;

  vertical-align: top;
  white-space: nowrap;

  @include responsive(sm) {
    float: right;
  }
}

.btnLoad {
  border: none;
  border-radius: 0;
  border-bottom: 1px dashed $grey-blue;

  padding: 2rem 0 .6rem;

  background: transparent;
  color: $grey-blue;

  &:hover,
  &:focus {
    background: transparent;
    color: $grey-blue;
  }
}

.button {
  display: none;
  height: 100%;

  margin-left: -1px;
  padding: 2.1rem 4.5rem;

  font-size: 1.6rem;

  background: $brand-primary;
  color: $brand-white;

  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover,
  &:focus,
  &:active {
    background: $brand-primary;
    color: $brand-white;
  }

  @include responsive(sm) {
    display: inline-block;
  }
}

.btnContainer {
  text-align: left;

  white-space: nowrap;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include responsive(sm) {
    white-space: normal;
  }
}

.hollowBtn {
  display: inline-block;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1.2rem 2rem;

  background: #f5f5f5;

  color: $grey-blue;
  font-size: 1.4rem;
  line-height: 1;

  border-radius: 10rem;
  border: none;

  &:first-child {
    margin-left: 1rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, .08);
    color: $grey-blue;
  }

  &.active {
    color: $brand-white;

    background: $grey-blue;
  }

  @include responsive(sm) {
    margin-top: 0;
    padding: 1rem 2.8rem;
    margin-bottom: 2rem;

    font-size: 1.6rem;

    &:first-child {
      margin-left: 0;
    }
  }
}

.notFoundBtn {
  display: block;
  margin: 2rem auto 0;

  border: none;
  padding: .1rem 1.5rem .4rem;

  font-size: 1.6rem;
  color: $grey-blue;

  &:hover,
  &:focus {
    background: transparent;
    color: $grey-blue;
  }

  @include responsive(sm) {
    display: inline-block;
    margin: 0;
  }
}
