@import './variables';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.42857143;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: $brand-default;

  background-color: $body-bg;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd {
  margin: 0;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* fix */
/* needed for excluding extra whitespace from Uploadcare widget */
/* stylelint-disable selector-pseudo-class-no-unknown */
:global(.uploadcare-widget) {
  width: 102px !important;
}
/* stylelint-enable selector-pseudo-class-no-unknown */
