@import './variables';

.title {
  font-weight: 300;
  color: $grey;
}

.label {
  padding: .6rem 1.2rem;
}

.primary {
  color: $brand-primary;
}

.info {
  color: $brand-info;
}

.success {
  color: $brand-success;
}

.warning {
  color: $brand-warning;
}

.danger {
  color: $brand-danger;
}
