$brand-white:   #ffffff;
$brand-default: #424242;
$brand-primary: #03a9f4;
$brand-success: #4caf50;
$brand-accent:  #4caf50;
$brand-danger:  #f44336;
$brand-warning: #ffc107;
$brand-info:    #607d8b;

$brand-primary-hover: #039ee6;
$brand-success-hover: #66bb6a;
$brand-accent-hover:  #66bb6a;
$brand-danger-hover:  #df3629;
$brand-warning-hover: #ebb207;
$brand-info-hover:    #567381;

$toastr-success: rgba(139, 195, 74, .95);
$toastr-warning: rgba(255, 193, 7, .95);
$toastr-error: rgba(244, 67, 54, .95);
$toastr-info: rgba(96, 125, 139, .95);

$body-bg: #f5f5f5;

$grey:        #757575;
$light-grey:  #e0e0e0;
$dark-grey:   #9e9e9e;
$darker-grey: #4a4a4a;
$light-blue:  #e3f2fd;
