@import "../responsive-utils";
@import "../variables";

.container {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: $grey-light;
  }
}

.title {
  font-weight: 500;
  font-size: 2rem;
}

.item {
  color: $scorpion;
  font-size: 1.4rem;
  line-height: 3.5rem;

  @include responsive(sm) {
    font-size: 1.6rem;
    line-height: 4rem;
  }
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.listTitle {
  display: inline-block;
  margin: 0;

  color: $boulder;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.5rem;

  @include responsive(sm) {
    font-size: 1.6rem;
    line-height: 4rem;
  }
}

.listItem {
  display: inline-block;
  margin: 0;

  font-size: 1.4rem;
  line-height: 3.5rem;

  @include responsive(sm) {
    font-size: 1.6rem;
    line-height: 4rem;
  }
}

.btn {
  padding: 2.5rem;

  background: transparent;
  border: 1px solid #e7e7e7;
  border-radius: 0;

  &:hover,
  &:focus {
    background: transparent;
  }
}

.pushedBottom3 {
  margin-bottom: 3rem;
}

.pushedBottomXs2_5Sm3 {
  margin-bottom: 2.5rem;

  @include responsive(sm) {
    margin-bottom: 3rem;
  }
}

.pushedTopXs1_5 {
  margin-top: 1.5rem;

  @include responsive(sm) {
    margin-top: 0;
  }
}

.pushedBottom6 {
  margin-bottom: 6rem;
}

.paddingBottom6 {
  padding-bottom: 6rem;
}
