@import "../responsive-utils";
@import "../variables";

.infoContainer {
  position: relative;

  width: 100%;
  margin-bottom: 1.5rem;
  padding-top: 1.4rem;

  background: $brand-white;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: $grey-light;
  }

  @include responsive(md) {
    margin-bottom: 2.4rem;
    padding-bottom: 5.3rem;
  }
}

.navItem {
  color: $black;
  font-size: 1.4rem;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.titleLg {
  margin: 0;

  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;

  @include responsive(sm) {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}

.titleMd {
  margin: 0;

  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;

  @include responsive(sm) {
    font-size: 2.7rem;
    line-height: 3.3rem;
  }
}

.textSm {
  margin: 0;

  color: $dove-gray;
  font-size: 1.4rem;
  font-weight: 400;
}

.textMd {
  margin: 0;

  font-size: 1.4rem;
}

.label {
  display: none;
  padding: 1rem 1.8rem;

  color: $boulder;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;

  background: #f3f3f3;
  border-radius: 2rem;

  @include responsive(sm) {
    display: inline;
  }
}

.labelXs {
  composes: label;

  display: inline-block;
}

.list {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  @include responsive(md) {
    max-width: 66rem;
  }
}

.btnContainer {
  display: flex;
  margin-top: 1.5rem;

  text-align: left;

  @include responsive(sm) {
    display: block;
    margin-top: 2rem;

    text-align: right;
  }
}

.btn {
  width: 50%;
  padding: 1.2rem 0;

  &:hover,
  &:focus {
    background: transparent;
    border-color: $brand-black;
  }

  @include responsive(sm) {
    width: auto;
    padding: 1.2rem 1.8rem;
  }
}

.btnLgContainer {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 6;
  text-align: center;

  @include responsive(sm) {
    position: static;
  }
}

.btnLg {
  width: 100%;

  font-size: 1.8rem;

  @include responsive(md) {
    min-width: 29rem;
    max-width: 29rem;
    margin: 0;

    font-size: 1.6rem;
  }
}

.btnXs {
  padding: 1.5rem;
  padding-bottom: 1.3rem;

  border-radius: 10rem;
}

.iconLg {
  width: 3.4rem;
  height: 2.3rem;

  fill: $nobel;
  stroke-opacity: 0;

  @include responsive(sm) {
    width: 3.4rem;
    height: 2.5rem;
  }
}

.iconSm {
  width: 1.1rem;
  height: 1rem;
  margin-right: 0.8rem;

  vertical-align: baseline;

  fill: $brand-black;
}

.iconXs {
  width: 0.9rem;
  height: 0.7rem;
  margin: 0 1rem 0 0.8rem;

  vertical-align: baseline;

  fill: $grey-dark;
  transform: rotate(-90deg);
}

.iconModal {
  width: 2.7rem;
  height: 2.7rem;

  fill: $brand-white;
}

.pipe {
  position: relative;

  padding-bottom: 4.7rem;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: -1.5rem;

    height: 1px;

    background: $grey-light;
  }

  @include responsive(md) {
    padding-bottom: 0;

    &:after {
      display: none;
    }
  }
}

/* utils */

.fontSizeLarge {
  font-size: 2rem;
  font-weight: 400;
}

.pushedTop1_9 {
  margin-top: 1.9rem;
}

.pushedTop1_2 {
  margin-top: 1.2rem;
}

.pushedTop2 {
  margin-top: 2rem;
}

.pushedTopXs1_5Md2 {
  margin-top: 1.5rem;

  include responsive(sm) {
    margin-top: 2rem;
  }
}

.pushedTopMd2_5 {
  @include responsive(md) {
    margin-top: 2.5rem;
  }
}

.pushedTopMd3_5 {
  @include responsive(md) {
    margin-top: 3.5rem;
  }
}

.pushedTop4_6 {
  margin-top: 4.6rem;
}

.pushedRight2 {
  margin-right: 2rem;
}

.pushedLeft1 {
  margin-left: 1rem;
}

.extraPadding3_0 {
  padding: 3rem 0;

  @include responsive(md) {
    padding: 0;
  }
}

.nowrap {
  white-space: nowrap;
}

.displayInlineBlock {
  display: inline-block;
  width: 100%;
}

.maxWidth29 {
  @include responsive(md) {
    display: inline-block;
    max-width: 29rem;
  }
}

/* kind */

.danger {
  display: inline-block;

  color: $brand-primary;

  transform: rotate(0);
}

.success {
  display: inline-block;

  color: $brand-success;

  transform: rotate(180deg);
}

.textRight {
  @include responsive(md) {
    text-align: right;
  }
}
