@import '../responsive-utils';
@import '../variables';
.media {
  position: relative;
  min-height: 21rem;
  margin: 0 -1.5rem;
  overflow: hidden;
  white-space: nowrap;
  background: #ffffff
    url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTFweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIDAgNTAgNTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+UGF0aCAxNDA5IENvcHkgMjI8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSIxMjAwX29wZW5fb2JqZWN0X25vX3Bob3RvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjQ5LjAwMDAwMCwgLTE1My4wMDAwMDApIiBmaWxsPSIjRUFFQUVBIj4gICAgICAgICAgICA8ZyBpZD0icGF0dGVybiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAwLjAwMDAwMCwgOTkuMDAwMDAwKSI+ICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00OS4zODgzMTAxLDY0LjU3MTk3NSBDNDkuMzcyNjI1Myw2NC41Nzg1MzIgNDkuMzg4MzEwMSw1NC42OTkzNzUxIDQ5LjM4ODMxMDEsNTQuNjk5Mzc1MSBDNDkuMzg4MzEwMSw1NC42OTkzNzUxIDQ5LjM5Mjk5NzYsNTMuNzI0MjMwMyA1MC4xNTE2MzY0LDU0LjA2NjI4NzQgQzUwLjkxMDI3NTIsNTQuNDA4MzQ0NSA1OC41NDk1NzczLDU4LjU3MjA0MjUgNTguNTQ5NTc3Myw1OC41NzIwNDI1IEM1OC41NDk1NzczLDU4LjU3MjA0MjUgNTkuMzU0MTg4OSw1OC44ODYwNSA1OS43MDkyNTk5LDYwLjI0MjI1NzMgQzU5Ljc0Mzk2NDcsNjAuMjU2MzczMSA1OS43MzQzMTk1LDcwLjAzMjc3NjEgNTkuNzMwMzUzMiw3MC4wNDA0MzE4IEM1OS42OTkzNDQyLDcxLjAxOTg3ODUgNTguNzUwNTA0OCw3MC42Mjc0NiA1OC43NTA1MDQ4LDcwLjYyNzQ2IEw1MC4xNTE2MzY0LDY2LjAwNDU4OTUgQzUwLjE1MTYzNjQsNjYuMDA0NTg5NSA0OS41ODIyMDY1LDY1Ljc0MjEyNyA0OS4zODgzMTAxLDY0LjU3MTk3NSBaIiBpZD0iUGF0aC0xNDA5LUNvcHktMjIiPjwvcGF0aD4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=')
    top left repeat;
  background-size: 5rem 5.4rem;
  border-bottom: 1px solid $grey;
  &::-webkit-scrollbar {
    display: none;
  }
  @include responsive(md) {
    min-height: 40rem;
    max-height: 40rem;
  }
}

.placeholder {
  background: $brand-white;
}

.placeholderContainer {
  composes: media;
  background: $brand-white;
  @include responsive(sm) {
    min-height: 35rem;
    max-height: 35rem;
    overflow: hidden;
  }
}

.placeholderImage {
  width: 100%;
  height: 15rem;
  fill: $gallery;
  background: $brand-white;
  @include responsive(md) {
    height: 19rem;
  }
}

.text {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  color: $silver;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  @include responsive(sm) {
    bottom: 15rem;
  }
  @include responsive(md) {
    bottom: 10rem;
  }
}

.imageContainer {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: top;
  background: transparent;
  border: none;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background 0.3s;
  }
  &:hover,
  &:focus {
    outline: none;
    &:after {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.image {
  width: auto;
  height: 21rem;
  border-right: 1px solid $brand-white;
  @include responsive(sm) {
    height: 40rem;
  }
}

.btnGroup {
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.4rem;
}

.btn {
  position: relative;
  padding: 1.5rem 1.4rem;
  border-color: transparent;
  border-right-color: $grey;
  &:hover,
  &:focus {
    background: $brand-white;
    border-left-color: $grey;
  }
  &:first-child {
    border-left-color: transparent;
  }
  &:last-child {
    border-right-color: transparent;
  }
}

.icon {
  width: 3rem;
  max-height: 2rem;
  vertical-align: middle;
  fill: #000000;
}

.complex {
  position: relative;
  min-height: 26rem;
  max-height: 26rem;
  margin: 0 -1.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  background: #ffffff
    url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTFweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIDAgNTAgNTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+UGF0aCAxNDA5IENvcHkgMjI8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSIxMjAwX29wZW5fb2JqZWN0X25vX3Bob3RvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjQ5LjAwMDAwMCwgLTE1My4wMDAwMDApIiBmaWxsPSIjRUFFQUVBIj4gICAgICAgICAgICA8ZyBpZD0icGF0dGVybiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAwLjAwMDAwMCwgOTkuMDAwMDAwKSI+ICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00OS4zODgzMTAxLDY0LjU3MTk3NSBDNDkuMzcyNjI1Myw2NC41Nzg1MzIgNDkuMzg4MzEwMSw1NC42OTkzNzUxIDQ5LjM4ODMxMDEsNTQuNjk5Mzc1MSBDNDkuMzg4MzEwMSw1NC42OTkzNzUxIDQ5LjM5Mjk5NzYsNTMuNzI0MjMwMyA1MC4xNTE2MzY0LDU0LjA2NjI4NzQgQzUwLjkxMDI3NTIsNTQuNDA4MzQ0NSA1OC41NDk1NzczLDU4LjU3MjA0MjUgNTguNTQ5NTc3Myw1OC41NzIwNDI1IEM1OC41NDk1NzczLDU4LjU3MjA0MjUgNTkuMzU0MTg4OSw1OC44ODYwNSA1OS43MDkyNTk5LDYwLjI0MjI1NzMgQzU5Ljc0Mzk2NDcsNjAuMjU2MzczMSA1OS43MzQzMTk1LDcwLjAzMjc3NjEgNTkuNzMwMzUzMiw3MC4wNDA0MzE4IEM1OS42OTkzNDQyLDcxLjAxOTg3ODUgNTguNzUwNTA0OCw3MC42Mjc0NiA1OC43NTA1MDQ4LDcwLjYyNzQ2IEw1MC4xNTE2MzY0LDY2LjAwNDU4OTUgQzUwLjE1MTYzNjQsNjYuMDA0NTg5NSA0OS41ODIyMDY1LDY1Ljc0MjEyNyA0OS4zODgzMTAxLDY0LjU3MTk3NSBaIiBpZD0iUGF0aC0xNDA5LUNvcHktMjIiPjwvcGF0aD4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=')
    top left repeat;
  background-size: 5rem 5.4rem;
  &::-webkit-scrollbar {
    display: none;
  }
  .image {
    height: 26rem;
    border-right: 1px solid $brand-white;
    @include responsive(sm) {
      height: 21.6rem;
    }
    @include responsive(md) {
      height: 34.6rem;
    }
  }
  @include responsive(sm) {
    min-height: 21.6rem;
    max-height: 21.6rem;
    margin: 0;
    overflow: hidden;
  }
  @include responsive(md) {
    min-height: 34.6rem;
    max-height: 34.6rem;
  }
}
