@import '../responsive-utils';
@import '../variables';

.wrapper {
  width: 100%;

  @include responsive(sm) {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
  }

  &.fullscreen {
    display: none;
  }
}

.card {
  background: $brand-white;
  color: $brand-white;

  text-align: center;

  line-height: 1;

  @include responsive(sm) {
    max-height: 20rem;

    border-radius: .5rem;

    text-align: left;

    margin-top: 5rem;
  }

  @include responsive(md) {
    margin-top: 3rem;
  }
}

.content {
  background: rgba(0, 0, 0, .4);

  padding: 2.5rem 3rem;

  font-size: 1.4rem;
  font-weight: 300;

  width: 100%;
  max-height: 20rem;

  @include responsive(sm) {
    border-radius: .5rem;
  }
}

.location {
  margin-top: 1.5rem;

  white-space: nowrap;
}

.locationIcon {
  fill: $brand-white;

  width: 1.4rem;
  max-height: 1.3rem;
}

.image {
  background: transparent center center no-repeat;
  background-size: cover;

  @include responsive(sm) {
    border-radius: .5rem;
  }
}

.title {
  font-size: 2.2rem;
}

.btn {
  margin-top: 6rem;

  background: $brand-white;
  color: $brand-black;

  font-size: 1.4rem;

  padding: 1rem 2rem;

  border-radius: 1.7rem;

  &:hover {
    background: $brand-white;
  }
}
