@import '../responsive-utils';
@import '../variables';

.logo {
  margin: 0;

  color: $brand-white;
  text-align: center;
}

.description {
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 1.5rem;

  color: $brand-white;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;

  @include responsive(sm) {
    margin: 0;
    padding: 0 3rem;

    font-size: 2.1rem;
  }

  @include responsive(md) {
    font-size: 2.4rem;
  }
}

.icon {
  width: 16.5rem;
  height: 3rem;

  fill: $brand-white;

  @include responsive(sm) {
    width: 28.6rem;
    height: 4.5rem;
  }
}

.rublevka {
  width: 22rem;

  @include responsive(sm) {
    width: 32rem;
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.tab {
  position: relative;
  z-index: 2;

  padding: 1.7rem 0 1rem;

  color: $brand-white;
  font-size: 1.8rem;
  line-height: 3.7rem;

  background: rgba(255, 255, 255, 0.22);
  border: none;
  border-radius: 0.4rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &:hover,
  &:focus,
  &:active {
    color: $brand-white;

    background: rgba(255, 255, 255, 0.35);
  }

  &.tabActive {
    color: $brand-black;

    background: $gallery;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* footer */

.footer {
  margin: 0 -1.5rem;
}
