@import '../responsive-utils';
@import '../variables';

.pattern {
  background: #ffffff;
  border: 1px solid $grey;
}

.mapContainer {
  position: relative;

  height: 100vh;
  margin: 0 -1.5rem;
}

.container {
  padding-top: 2.5rem;

  background: $brand-white;

  @include responsive(md) {
    padding-top: 4rem;
  }
}

.containerWithOutBg {
  padding-top: 2.5rem;
  padding-bottom: 4rem;

  background: $brand-white;

  @include responsive(md) {
    padding-top: 3.5rem;
  }
}

.title {
  margin-top: 1rem;
  margin-bottom: 0;

  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.2rem;

  @include responsive(sm) {
    margin-top: 2rem;
    margin-bottom: .5rem;

    font-size: 4rem;
    line-height: 1.5;
  }
}

.titleSm {
  display: none;
  margin: 0;
  margin-bottom: 2rem;

  color: $star-dust;
  font-weight: 500;
  line-height: 1;

  @include responsive(sm) {
    display: block;
  }
}

.subTitle {
  margin: 0;
  margin-top: .5rem;

  font-size: 1.8rem;
  font-weight: 300;

  @include responsive(md) {
    margin: 0;
    margin-top: .3rem;

    font-size: 2rem;
  }
}

.paginationWrapper {
  margin: 4rem 0;
}

.titleNotFound {
  margin: 0;
  margin-bottom: 1.3rem;

  font-size: 2.2rem;
  font-weight: 500;

  @include responsive(sm) {
    font-size: 2.4rem;
  }
}

.textNotFound {
  margin: 0;
  margin-top: 1rem;

  color: $boulder;
  font-size: 1.4rem;

  @include responsive(sm) {
    margin-top: 2rem;

    font-size: 1.6rem;
  }
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.value {
  position: relative;
  z-index: 3;
}

.filterXsLabel {
  position: relative;

  display: inline-block;
  margin-left: 2.5rem;

  line-height: 1;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 2.8rem;
    height: 2.8rem;

    background: rgba(255, 255, 255, .24);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  @include responsive(sm) {
    display: none;
  }
}

.btn {
  width: 100%;
  margin-top: 2.5rem;
  padding: 1.7rem 4rem 2rem;

  font-size: 1.5rem;

  @include responsive(sm) {
    position: relative;

    width: auto;
    margin-top: 0;
    padding: 2rem 4rem;
    padding-right: 7.5rem;
  }

  @include responsive(md) {
    width: auto;
    min-width: 24.2rem;

    font-size: 1.6rem;
  }
}

.iconArrow {
  display: none;
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  padding: .3rem;
  padding-bottom: .2rem;

  line-height: 1;

  fill: $brand-white;
  border: 1px solid $brand-white;
  border-radius: 50%;

  @include responsive(sm) {
    position: absolute;
    top: 50%;
    right: 4rem;

    display: inline-block;

    transform: translateY(-50%);
  }
}

.iconFilter {
  width: 1.8rem;
  height: 1.7rem;
  margin-left: 1.5rem;

  fill: $brand-white;
  transform: translateY(4px);

  @include responsive(sm) {
    display: none;
  }
}

.up {
  transform: rotate(180deg) translateY(50%);
}

.down {
  transform: rotate(0) translateY(-50%);
}

.pushed18_5_0_8 {
  padding-top: 6rem;
  padding-bottom: 8rem;

  @include responsive(sm) {
    padding-top: 18.5rem;
  }
}

.pushed10_0 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.fixHeight {
  @include responsive(sm) {
    max-height: 100vh;
    overflow-y: scroll;
  }
}

.resetMargin {
  margin: 0 -1.5rem;

  @include responsive(sm) {
    margin: 0;
  }
}
