@import '../variables';

.panel {
  min-height: 100%;
  margin: 0 -1.5rem;
  padding-bottom: 0;

  color: $grey;

  background-color: #fafafa;
  border-right: 1px solid #e0e0e0;
}

.status {
  margin: 0;
  margin-bottom: 4rem;

  font-weight: 400;
}

.title {
  margin: 0;
  margin-bottom: 1rem;

  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.description {
  margin: 0;
  margin-bottom: 5rem;

  font-size: 1.4rem;
  text-align: center;
}

.titleLast {
  margin: 0;
  margin-bottom: 1rem;

  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.descriptionLast {
  margin: 0;
  margin-bottom: 2rem;

  text-align: center;
}

.borderRight {
  border-right: 1px solid #e0e0e0;
}

.success {
  color: $brand-success;
}

.danger {
  color: $brand-danger;
}
