@import '../variables';

.header {
  padding-top: 1.5rem;

  background-color: $brand-primary;
}

.title {
  composes: title from 'cem/styles/typography';

  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0 1rem;

  color: $brand-white;
}

.row {
  padding-top: 2rem;
  padding-bottom: 2rem;

  color: $brand-white;
  font-weight: 300;
  text-align: center;

  border-top: 1px solid #1e88e5;
}
