@import '../../responsive-utils';
@import './variables';

.text {
  max-width: 70rem;

  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.4rem;

  padding: 3rem 0;

  @include responsive(sm) {
    padding: 0;
    padding-left: 4.7rem;

    font-size: 2rem;
    line-height: 4.2rem;

    border-left: 3px solid $brand-primary;
  }

  @include responsive(md) {
    max-width: 78rem;
    padding-right: 12rem;
    font-size: 2.2rem;
    line-height: 4.4rem;
  }

  @include responsive(lg) {
    max-width: 81rem;
    padding-right: 0;
  }
}

.tab {
  display: inline-block;
  margin-right: 3.5rem;
  padding-bottom: 2.2rem;

  font-size: 1.6rem;
  color: #4a4a4a;
  vertical-align: top;
  white-space: nowrap;

  border-bottom: 3px solid transparent;
  cursor: pointer;

  transition: border .2s ease-in;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.tabActive {
    color: $brand-black;
  }

  &.tabActive {
    border-color: $brand-primary;
  }

  @include responsive(sm) {
    margin-right: 4.5rem;
    padding-bottom: 1.4rem;

    font-size: 1.8rem;
  }

  @include responsive(md) {
    margin-right: 7rem;

    &:last-child {
      display: inline-block;
      margin-right: 0;
    }
  }
}

.linkPrimaryUnderline {
  padding: .3rem 0;
  border: none;

  font-size: 1.6rem;
  color: $brand-primary;
  border-bottom: 1px dashed $brand-primary;
}
