@import '../../variables';

/* colors */

$brand-primary: #5f5d8a;
$brand-disabled: #827fb3;
$brand-primary-hover: #53517d;
$brand-primary-focus: #4c4975;

$redesign-red: #f44336;
$redesign-black: #373737;

$light-purple: #dcdde9;
$light-purple-hover: #d8daec;
$purple: #6c6994;

$brand-success-hover: #00b44b;
$brand-success-focus: #00a745;
