@import '../../responsive-utils';
@import '../../variables';

.list {
  margin: 0;
}

.title {
  display: inline-block;
  margin: 0;

  color: $boulder;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.5rem;

  @include responsive(sm) {
    font-size: 1.6rem;
    line-height: 4rem;
  }
}

.item {
  display: inline-block;
  margin: 0;

  font-size: 1.4rem;
  line-height: 3.5rem;

  @include responsive(sm) {
    font-size: 1.6rem;
    line-height: 4rem;
  }
}
