@import '../../responsive-utils';
@import '../../variables';

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.title {
  display: inline-block;
  margin: 0;

  color: $scorpion;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.5rem;

  @include responsive(sm) {
    line-height: 3rem;
  }
}

.item {
  display: inline-block;
  margin: 0;

  font-size: 1.4rem;
  line-height: 3rem;
}
