@import './variables';
@import './responsive-utils';

.title {
  color: $brand-black;
  font-size: 2.2rem;
  font-weight: 300;
}

.heading {
  margin: 0;

  font-size: 2.2rem;
  font-weight: 300;
  line-height: 2;
}

.alignRight {
  @include responsive(sm) {
    text-align: right;
  }
}
