@import './variables';

.primary {
  @include btn-variant(
    $brand-primary,
    $brand-primary,
    $brand-white,
    $brand-primary-hover,
    $brand-primary-hover,
    $brand-white,
    $brand-primary-focus,
    $brand-primary-focus,
    $brand-white
  );
}

.accent {
  @include btn-variant(
    $brand-white,
    $brand-primary,
    $brand-black,
    $brand-primary-hover,
    $brand-primary-hover,
    $brand-white,
    $brand-primary-focus,
    $brand-primary-focus,
    $brand-white
  );
}
