@import './variables';

.btn {
  color: $brand-white;

  background: $brand-success;
  border-color: $brand-success;

  border-radius: 10rem;

  &:hover,
  &:focus {
    color: $brand-white;
  }

  &:hover {
    background: $brand-success-hover;
    border-color: $brand-success-hover;
  }

  &:focus {
    background: $brand-success-focus;
    border-color: $brand-success-focus;
  }
}
