@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Thin.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Medium.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Heavy.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Black.otf');
  font-weight: 800;
}

html {
  font-family: 'SF Pro Display', 'PT Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #232323;
  font-weight: normal;
  font-size: 22px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* utls  */

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.wrapper {
  min-height: 100vh;
  background: #fff url('../img/BG-small.png') no-repeat 0% 0%;
  background-size: cover;
}

.custom-wrapper {
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
  width: 720px;
  max-width: 100%;
}

.title-wrapper {
  background: #fff url('../img/BG-small.png') no-repeat 0% 0%;
  background-size: auto 100vh;
}

.custom-title-wrapper {
  background: #fff url('../img/BG-small.png') no-repeat 0% 0%;
  background-size: auto 100vh;
  padding-top: 4.125rem;
  padding-bottom: 3.75rem;
}

/* header */

.title {
  font-size: 2.25rem;
  line-height: 2.875rem;
  font-weight: 700;
}

.img-wrapper {
  position: relative;
}

.main-img {
  display: block;
  margin: auto;
  max-width: 100%;
  z-index: 0;
}

.price {
  display: inline-block;
  position: absolute;
  top: 0;

  padding: 9px 16px 5px 16px;
  font-size: 2.25rem;
  line-height: 2.875rem;
  font-weight: 600;
  color: #fff;
  background-color: #232323;

  transform: translateY(-50%);

  z-index: 10;
}

.info {
  margin-top: 2.5rem;
  display: flex;
  justify-content: flex-start;
}

.info-item {
  flex-basis: 33%;
  max-width: 33%;
  font-size: 1.125rem;
  font-weight: 600;
}

.cappital-number {
  font-size: 2.5rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.address {
  display: block;
  margin-bottom: 2rem;
  margin-top: 4.2em;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-style: italic;
}

/* layout */

.custom-layout-title-wrapper {
  background: #fff url('../img/BG-small.png') no-repeat 0% 0%;
  background-size: auto 100vh;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.layout-title {
  font-size: 2.25rem;
  line-height: 2.875rem;
  font-weight: 700;
}

.layout-img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 550px;
  z-index: 0;
}

.layout-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 0;
}

.layout-info-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 1.5rem;
}

.layout-info-item::first-letter {
  text-transform: capitalize;
}

/* gallery */

.gallery {
  box-sizing: border-box;
  height: 100vh;
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gallery-img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 460px;
  z-index: 0;
}

/* location */

.location {
  padding-top: 3rem;
}

.city-name {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.city-address {
  display: block;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-style: italic;
}

.map-container {
  width: 100%;
  height: 800px;
}

#map {
  width: 100%;
  height: 100%;
}
