@import '../../variables';
@import '../../responsive-utils';

.requestContainer {
  position: relative;
  background: $brand-white;
  margin: 0 -1.5rem;
  padding-top: 3rem;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    background: $grey;
    height: 1px;
  }
}

.detailsContainer {
  text-align: left;

  margin-top: 3rem;
  padding-left: 2rem;
}

.title {
  margin: 0;
  margin-bottom: 1.3rem;
  font-weight: 500;

  color: $brand-white;
}

.text {
  margin: 0;

  color: $boulder;
  font-size: 1.6rem;
}

.textWhite {
  margin: 0;

  color: $brand-white;
  font-size: 1.6rem;
}

.fontSizeMd {
  font-size: 1.6rem;
}

.price {
  font-size: 3.6rem;
  white-space: nowrap;
  line-height: 1;

  margin-top: 1.5rem;
}

.textGrey {
  margin: 0;

  color: $star-dust;
  font-size: 1.4rem;
}

.iconLogo {
  width: 4rem;
  height: 3.5rem;

  fill: $brand-primary;
}
